@CHARSET "UTF-8";
/*zcp*/
.tcenter{
	text-align: center !important;
}
.crboth{
	clear: both;
}
.tag-wrap{
	min-height:20px;
}
#tagArea span:hover{
	cursor: pointer;
}
.Label.selected{
	background: #666666;
	color: #ffffff;
}
.ft15{
	font-size: 15px !important;
}
.wd300{
	width: 300px;
}
.mt10{
	margin-top: 10px;
}
.ht60 {
	height:60px;	
}
.ht90{
	height:90px;
}
.ht130{
	height:130px;
}
.ht140{
	height:140px;
}
.link{
	cursor: pointer;
}
.hide{
	display: none;
}
.info-text {
	font-size: 12px;
	color: gray;
}
.warn-text{
	font-size: 12px;
	color: #ea0530;
}
.log-console{
	background: black;
	font:normal;
	color:white;
}
ul.dot li{
	list-style: disc;
	margin-left: 30px;
}
div.grid{
	/*min-width: 1500px;*/
}
.overflow-hidden{
	overflow: hidden;
}

.ico_title{
	width: 31px;
	height: 32px;
	background: transparent url(/styles/images/icons.png) no-repeat;
	background-position: -294px -113px;
    padding: 30px 12px 0px 10px
}
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("/styles/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("/styles/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("/styles/fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("/styles/fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("/styles/fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("/styles/fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; 
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.25rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
.fa-plus-circle:before {
  content: ""; 
  margin-right:5px;
}