@CHARSET "UTF-8";
/*zcp*/
.tcenter{
	text-align: center !important;
}
.tag-wrap{
	min-height:20px;
}
#tagArea span:hover{
	cursor: pointer;
}
.Label.white {
	color: #666666;
	margin-right: 4px;
	border: 1px solid #cccccc;
	background: #ffffff;
}
.Label.selected{
	background: #666666;
	color: #ffffff;
}
.Label + .btn-ico.label-del {
	position: relative;
	top: 2px;
	right: 24px;
	width: 20px;
	height: 22px;
	margin-right: -22px;
	background: transparent url("/styles/images/ico-del-btn.png") no-repeat -350px -66px;
}
.btn-ico {
	cursor: pointer;
	text-indent: -9999px;
	width: 22px;
	margin-left:8px;
	height: 22px;
	border: 0;
	background: transparent url("../images/ico-btn.png") no-repeat;
}
.onoff-wrap {
	width: 66px;
	height: 22px;
	background: #ffffff;
	border: 1px solid #cccccc;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-ms-border-radius: 11px;
	border-radius: 11px;
}
.Button.btn-on,
.Button.btn-off {
	position: relative;
	height: 22px;
	padding: 0 12px;
	line-height: 0;
	font-size: 0.8rem;
	font-weight: bold;
	color: #ffffff;
	background: transparent;
	border: 0;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-ms-border-radius: 11px;
	border-radius: 11px;
}
.Button.btn-on {
	float: left;
	top: -1px;
	left: -1px;
	background: #ea0530;
}
.Button.btn-off {
	float: right;
	top: -1px;
	right: -1px;
	background: #aaaaaa;
}
.ht60 {
	height:60px;	
}
.ht90{
	height:90px;
}
.ht130{
	height:130px
}
.link{
	cursor: pointer;
}
.hide{
	display: none;
}
.info-text {
	font-size: 12px;
	color: gray;
}
.warn-text{
	font-size: 12px;
	color: #ea0530;
}
.state.yellow {background: yellow;}
.state.gray {background: gray;}

.selected-service-type {
	border: 5px solid #000530;
	-webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

/*---------------------------------------
	popup css
---------------------------------------*/
.popup-wrap {
	width: 100%;
	background: #ffffff;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0;
}
.popup-contents {
	display: table;
	width: calc(100% - 40px);
	margin: 20px auto; 
	height: 328px;
	background: #f9f9f9;
}
.popup-contents__typeb {
	width: calc(100% - 40px);
	margin: 20px; 
	height: 328px;
}
.popup-text {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	line-height: 2.2rem;
}
.popup-text__sm {
	font-size: 1.0rem;
	color: #333333;
}

.log-console{
	background: black;
	font:normal;
	color:white;
}