		<!--접근권한 PageID: ZDB-02-30R-->
		<div id="tab3">
			<!-- accordion wrap-->
			<ul class="Accordion db-accordion">
				<li>
					<a>접근 권한</a>
					<div class="accor-contents__wrap">
						<!-- tab contents info detail-->
						<div class="ctn-info__wrap">
							<span class="info-list">
								Database 이름:
								<span class="info-db">Database_Name</span>
							</span>
						</div>
						<!-- grid -->
						<div id="gr4"></div>
						<div class="btn-wrap__right">
							<button class="Button btn">사용자 추가</button>
							<button class="Button btn bg-red">적용하기</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!--모니터링 PageID: ZDB-02-40R -->
		<div id="tab4">
			<!-- accordion wrap-->
			<ul class="Accordion db-accordion">
				<li>
					<a>모니터링</a>
					<div class="accor-contents__wrap">
						<div class="tabs-contents">Page ID : ZDB-02-40R 참조</div>
						<div class="btn-wrap__right">
							<button class="Button btn">Advanced Monitoring</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!--백업-->
		<div id="tab5">데이터 브라우져 컨텐츠 들어오는 곳</div>
		<!--백업 PageID: ZDB-02-60R -->
		<div id="tab6">
			<!-- accordion wrap-->
			<ul class="Accordion db-accordion">
				<li>
					<a>백업</a>
					<div class="accor-contents__wrap">
						<!-- tab contents info detail-->
						<div class="ctn-info__wrap">
							<div class="ctn-info__left">
								<span class="info-list">
									백업설정: <label class="ImageRadio"> <input class="Radio" name="radio2" value="value1">사용중
									</label>
								</span>
								<span class="info-list">
									백업파일 보관기간:
									<span class="info-db">1</span>
									일
								</span>
								<span class="info-list">
									백업 시간:
									<span class="info-db">3</span>
									시
									<span class="info-db">30</span>
									분
								</span>
								<span class="info-list">
									<label class="ImageCheckbox" id="checkTest03"> <input class="Checkbox" type="checkbox" name="chk1" value="check1" checked="checked"> 사용자 정의
									</label>
								</span>
								<button class="Button btn md bg-red">적용하기</button>
							</div>
							<div class="ctn-info__right">
								<button class="Button btn-ico sm btn-modify">수정</button>
								<button class="Button btn-ico sm btn-backup">지금 백업하기</button>
							</div>
						</div>
						<!-- grid -->
						<div id="gr2"></div>
					</div>
				</li>
			</ul>
		</div>
		<!-- 이벤트 PageID : ZDB-02-70R -->
		<div id="tab7">
			<!-- accordion wrap-->
			<ul class="Accordion db-accordion">
				<li>
					<a>이벤트</a>
					<div class="accor-contents__wrap">
						<!-- tab contents info detail-->
						<div class="ctn-info__wrap">
							<div class="ctn-info__left">
								<div class="info-list">
									<span class="Padding-right-10">시간설정: </span>
									<label class="ImageRadio"> <input class="Radio" name="radio2" value="value1">
									</label>
								</div>
								<div class="info-list select-date">
									<div class="Dateinput">
										<input id="dateinput02">
										<div class="Calendar" id="dateinput03"></div>
									</div>
									<div class="Spinner Time" data-locale="en" id="time1" data-bind="time: date">
										<input data-hour>
										<span data-seperator>:</span>
										<input data-minute> <input data-ampm> <a class="Up"></a> <a class="Down"></a>
									</div>
									<span class="date-line">~</span>
									<div class="Dateinput">
										<input id="dateinput02">
										<div class="Calendar" id="dateinput03"></div>
									</div>
									<div class="Spinner Time" data-locale="en" id="time1" data-bind="time: date">
										<input data-hour>
										<span data-seperator>:</span>
										<input data-minute> <input data-ampm> <a class="Up"></a> <a class="Down"></a>
									</div>
								</div>
								<div class="info-list">
									<div class="Divselect">
										<select>
											<option value="korea">서비스상태</option>
											<option value="usa">서비스항목</option>
											<option value="japan">리스트</option>
										</select>
										<span></span>
									</div>
									<input class="Textinput filter-input" placeholder="Keyword 입력">
								</div>
							</div>
						</div>
						<!-- grid -->
						<div id="">
							
						</div>
					</div>
				</li>
			</ul>
		</div>