<div class="popup-wrap">
	<div class="popup-mcontents">
		<div class="popup-cont">
			<form id="credentialPopForm" name="credentialPopForm">
			<div> 
				<div id="divMsg"></div>
				<div> Credential을 입력하세요</div>
				<input class="Textinput" type="password" id="credential" name="credential"></input> 
				<p data-for="credential" class="warn-text"></p>
			</div>
			</form>
		</div>
		<!--button-->
		<div class="popup-btn__wrap">
			<button class="Button btn ok" id="btnOk"></button>
			<button class="Button btn popClose">닫기</button>
		</div>
	</div>
</div>

<script type="text/javascript">
$a.page(function() {
    this.init = function(id, param) {
    	var form = $('form[name=credentialPopForm]');
    	form.find('#divMsg').html(param.msg||'')
    	var okBtn = $('.popup-btn__wrap').find('#btnOk'); 
    	okBtn.html(param.okBtnMsg||'확인')
    	form.validator({
		    elements :{ 
		        'credential': {rule:{required:true,equalTo:param.credential}}
		    },
		    message:{
		    	'equalTo': "credential이 일치하지 않습니다."
		    }
		});	
    	okBtn.on('click',function(){
    		if(!form.validate()){
				return;
			};
			$a.close('Y');
    	});
    	
    	$('.popClose').on('click',function(){
    		$a.close();
    	});
    }
});
</script>