<div class="popup-wrap">
	<div>
		<div class="popup-text">
			<form id="backupDiskForm" name="backupDiskForm">
			<div>Add Backup disk</div>
			<div>
				<table class="Table Form-type">
					<colgroup>
						<col style="width: 130px;"> </col>
						<col></col>
					</colgroup>				
					<tr>
						<th>Backup disk</th>
						<td>
							<input class="Textinput" type="text" id="backupDiskSize" name="backupDiskSize"></input> 
							<p data-for="backupDiskSize" class="warn-text"></p>
						</td>
					</tr>
					<tr>
						<th>Credential</th>
						<td>
							<input class="Textinput" type="password" id="credential" name="credential"></input> 
							<p data-for="credential" class="warn-text"></p>
						</td>
					</tr>
				</table>
			</div>
			</form>
		</div>
	</div>
	<!--button-->
	<div class="popup-btn__wrap">
		<button class="Button btn bg-gray ok">저장</button>
		<button class="Button btn bg-gray no">취소</button>
	</div>
	<!--//button-->
</div>
<script type="text/javascript">
$a.page(function() {
	this.init = function(id,param) {
    	let form = $('form[name=backupDiskForm]');
    	let minDiskSize = (cloudUtil.parseInt(param.disk)*1.5);
    	form.validator({
		    elements :{ 
		        'credential': {rule:{required:true,equalTo:param.credential}},
		        'backupDiskSize' : {rule:{required:true,min:minDiskSize}}
		    },
		    message:{
		    	'equalTo': "credential이 일치하지 않습니다."
		    }
		});    	
		$('[data-show-service-type*='+gParam.serviceType+']').show();
		$('button.ok').click(function(){
			if(!form.validate()){
				return;
			}
			gCommon.confirm('백업디스크를 추가 하시겠습니까?',function(){
				let p = $.extend({},gParam,{backupDiskSize:form.find('#backupDiskSize').val()})
				$a.ajax({
					url:'/zdbapi/addBackupDisk',
					method:'put',
					data:p,
					success:function(res){
						if(res.result.code == '0'){
							$a.close({result:'Y',backupType:$('#backupType select').val()});					
						}
					}
				});				
			})
		});
		$('button.no').click(function(){
			$a.close('N');
		});	
	}
});
	
</script>