<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
    <title>서비스 목록</title>
</th:block>
<th:block layout:fragment="page_js">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			var gApiServerUrl = [[${@environment.getProperty('zdb-api-server.url')}]];
		/*]]>*/
	</script>
	<script src="/script/app/common/cloudzdb-ui-z0200.js?v=20190523"></script>
	<script src="/script/libs/sockjs/sockjs.js"></script>
	<script src="/script/libs/sockjs/stomp.js"></script>
	<script src="/script/app/common/cloudzdb-ui-sock.js"></script>
</th:block>
<th:block layout:fragment="content">
<!-- location -->
<div class="locations-area">
	<div class="prj-list">
		<strong>Namespace : </strong>
		<button id="namespaces" class="Dropdownbutton namespace"></button>
		<ul class="dropmenu-list hide">
		</ul>
	</div>
</div>
<div class="contents-box">
<div class="top-area">
	<h2 class="title">서비스목록</h2>
	<div class="tag-wrap" id="tagArea">
		<span class="tag">태그:</span>
		<span class="Label Default">모든태그</span>
	</div>
</div>
<div class="search-wrap">
	<input class="Textinput srcinput" placeholder="검색어를 입력하세요." id="txtServiceFilter">
</div>	
<div id="divRequest" style="width:900px;">
</div> 
<!-- accordion wrap-->
<!--namespace detail view-->
<div class="panel-line__wrap">
	<!-- namespace sorting-->
	<div class="namespace-sort">
		<div class="sort-button" id="divServiceListBtns">
			<button class="Button btn-ico__typeb btn-cardview Checked" id="btnServiceListCard" data-list-type="card">카드형으로 보기</button>
			<button class="Button btn-ico__typeb btn-listview" id="btnServiceListGrid" data-list-type="grid">목록형으로 보기</button>
		</div>
		<ul class="sort-list">
			<li data-sort-name="serviceName" class="asc">이름</li>
			<li data-sort-name="serviceType">서비스종류</li>
			<li data-sort-name="lastTransitionTime">구동시간</li>
			<li data-sort-name="status">상태</li>
		</ul>
	</div>
	<div id="divServiceList">
		<div id="divServiceListCard" data-list-type="card"> 
			
		</div>
		<div data-list-type="grid" class="hide">
			<div class="btn-wrap">
				<div class="btn-right">
					<button class="Button btn sm" id="btnExpandAll" style="margin-bottom: 3px;">전체펼침</button>
					<button class="Button btn sm" id="btnCollapseAll" style="margin-bottom: 3px;">전체접힘</button>
				</div>
			</div>	
			<div id="divServiceListGrid">
				
			</div>
		</div>
	</div>
</div>
<style type="text/css">
.btn-ico {
	cursor: pointer;
	text-indent: -9999px;
	width: 24px;
	height: 24px;
	border: 0;
	background: transparent url("/styles/images/ico-btn.png") no-repeat;
}
.Button.btn-ico.btn-del__typeb:hover, .Button.btn-ico.btn-del__typeb:active,
.btn-ico.btn-del__typeb:hover, .btn-ico.btn-del__typeb:active {
	background: transparent url("/styles/images/ico-btn.png") no-repeat;
	background-position: -314px -58px;
}
.Button.btn-ico.btn-del__typeb, .btn-ico.btn-del__typeb {
	background: transparent url("/styles/images/ico-btn.png") no-repeat;
	background-position: -278px -58px;
}
.btn-ico.btn-refresh {background-position: -32px -178px;}
</style>
<script type="text/javascript">
	var gSelectedTag = '';//선택된 태그
	var gNamespaces = null;     // 네임스페이스 콤보
	var gServiceList = [];      //서비스 목록
	var gTagList = [];
	var gSelectedListType = 'card'; 
	var gExpandServiceList = [];
	$a.page(function() {
		let divServiceListGrid;
		this.init = function() {

			gCommon.getNamespaceCombo($('#namespaces')).done(function(selector){
				gNamespaces = selector.select({id:gSelectedNamespace})
									 .addHandler(function(e){
										  gCommon.setSelectedNamespace(e.currentTarget.id);
										  fn_getNamespaceResource();
										  fn_displayServices();
									  }); 
				if(gNamespaces.text()==''){
					gNamespaces.select(0);
					if(gNamespaces.text() == '')return;
				};	
				fn_getServicesFirst();
				fn_getServices();
				fn_getNamespaceResource();
			});
			$(window).on('beforeunload', function() {
				gZdbsocket.disconnect();
			});
			
			if($.cookie('selected2000listType')){
				fn_setSelected2000ListType($.cookie('selected2000listType'));
			};
			$('#btnServiceListCard,#btnServiceListGrid').on('click',function(evt){
				fn_setSelected2000ListType($(this).data('list-type'));
				fn_displayServices();
			});
			var sortLi = $('.sort-list li'); 
			sortLi.on('click',function(evt){
				var tCss = $(this).attr('class') == 'asc' ? 'dsc' : 'asc';
				sortLi.attr('class','').filter(this).attr('class',tCss);
				fn_displayServices();
			});
			//서비스 목록 조회 태그 선택
			$('body').on('click','#tagArea span.Label',function(){
				gSelectedTag = $(this).data('id')||'';
				fn_displayServices();
			});			
			$('#txtServiceFilter').on('input propertychange',function(){
				fn_displayServices();
			});
			
			//서비스 목록 클릭
			$('body').on('click','.proc_serviceDetail,.viewMonitor',function(evt){
				var data = $('#'+$(evt.target).attr('key')).data();
				if(!data)return;
				if(data.status == 'gray'){
					gCommon.alert('서비스 준비 중입니다.');
					return;
				};
				var param = $.extend({},data,{});
				var isMonitorTab = $(evt.target).hasClass('viewMonitor');
				fn_moveServiceDetail(param,isMonitorTab);
			});
			
			//서비스 목록 refresh 클릭
			$('body').on('click','.proc_serviceRestart',function(evt){
				gCommon.confirm('서비스를 재시작 하시겠습니까?',function(){
					var data = $('#'+$(evt.target).attr('key')).data();
					$a.ajax({
						url: '/zdbapi/restartService',
						data : data,
						success: function(res){
							if(res.result.code == '0'){
								//fn_getServices();	
							};
						}
					});
				})
			}).on('click','.proc_serviceDelete',function(evt){
				gCommon.confirm('서비스를 삭제 하시겠습니까?',function(){
					var data = $('#'+$(evt.target).attr('key')).data();
					$a.ajax({
						url: '/zdbapi/deleteServiceInstance',
						data:data,
						success: function(res){
							gCommon.alert('삭제 요청이 완료 되었습니다.',function(){
								//fn_getServices();
							});
						}
					})
				})
			});
			
			let divServiceList = $('#divServiceList');
			divServiceList.find('#btnExpandAll').on('click',function(){
				$('#divServiceListGrid').alopexGrid("expandTreeNode");
				fn_getPodResources();
			});
			divServiceList.find('#btnCollapseAll').on('click',function(){
				$('#divServiceListGrid').alopexGrid("collapseTreeNode");
				fn_getPodResources();
			});
			
			divServiceListGrid = $('#divServiceListGrid').alopexGrid({
				autoColumnIndex: true,
				height: 635,
				tree : {
					 useTree : true
					,idKey : 'serviceName' //노드를 지시하는 유일한 값이 저장된 키값
					,parentIdKey : 'parentServiceName' //자신의 상위(parent) 노드를 지시하는 ID가 저장된 키값
					,expandedKey : 'expandedService'
				},				
				columnMapping : [  
					{ title:'', key : 'status' , width: '40px', align: 'center',render : function( value, data, render, mapping) {
						return '<span class="state '+value+'"></span>';
					}},
					//{ title:'네임스페이스', key : 'namespace', width: '100px', align: 'left'},
					{ title:'이름', key : 'serviceName', width: '230px', align: 'left', render:function(value,data,render,mapping){
						let re = $('<a href="#" title="'+value+'">'+value+'</a>').on('click',function(){
							fn_moveServiceDetail(data,false);
						});
						if(data.tp == 'pod'){
							re = value;
						}
						return re;
					}, treeColumn : true},
					{ title:'Requests', key:'cpuRequest',width:'70px',align:'center',hidden:true},
					{ title:'Limits', key:'cpuLimit',width:'70px',align:'center',hidden:true},
					{ title:'Requests', key:'memoryRequest',width:'70px',align:'center',hidden:true},
					{ title:'Limits', key:'memoryLimit',width:'70px',align:'center',hidden:true},
					{ title:'데이터', key:'storageData',width:'70px',align:'center',hidden:true},
					{ title:'백업', key:'storageBackup',width:'70px',align:'center',hidden:true},
					{ title:'서비스종류', key : 'serviceType', width: '100px', align: 'center', render:function(value){
						let img = {
							mariadb:'<img src="/styles/images/mariadb16.png" width="16px">',
							redis:'<img src="/styles/images/redis16.jpg" width="16px">'
						};
						let re = img[value]; 
						if(re) return re;						
					}},
					{ title:'버전', key : 'version', width: '110px', align: 'center'},
					{ title:'구동시간', key : 'elapsedTime', width: '80px', align: 'center'},
					{ title:'생성일자', key : 'crtTime', width: '150px', align: 'center',render:function(data){
						try{
							return data.substring(0,10);
						} catch (ex) {}
						return data;
					}},
					{ title:'HA', key : 'clusterEnabled', width: '60px', align: 'center',render:function(value,data,render,mapping){
						if(data.tp == 'pod') return;
						if(value == true){
							return cImg.checkboxY;
						}
					}},
					{ title:'Autofailover', key : 'failoverEnabled', width: '120px', align: 'center',render:function(value,data,render,mapping){
						if(data.tp == 'pod') return;
						if(value == 'on'){
							return cImg.checkboxY;
						}
					}},
					{ title:'백업', key : 'backupEnabled', width: '60px', align: 'center',render:function(value,data,render,mapping){
						if(data.tp == 'pod') return;
						if(value == true){
							return cImg.checkboxY;
						}
					}},
					{ title:'Public', key : 'publicEnabled', width: '60px', align: 'center',render:function(value,data,render,mapping){
						if(data.tp == 'pod') return;
						if(value == true){
							return cImg.checkboxY;
						}
					}},
					{ title:'모니터링', key : '', width: '80px', align: 'center',render:function(value,data,render,mapping){
						if(data.tp == 'pod') return;
						var re = $('<button class="btn-ico btn-viewdetail" title="'+data.serviceName+'">모니터링</button>').on('click',function(){
							fn_moveServiceDetail(data,true);
						});
						return re;
					}}					
				],
				message: {
					nodata: gMessage.gridNodata
				}
			})
			divServiceListGrid.on('toggleTreeNode',function(e){
				let evt = AlopexGrid.parseEvent(e);
				fn_getPodResources();
			})
		};
		function fn_getPodResources(){
			let nTreeDt = AlopexGrid.trimData(divServiceListGrid.alopexGrid('dataGet',{_state:{expandedTreeNode:true}})); 
			let isHidden = nTreeDt.length == 0 
			divServiceListGrid.alopexGrid('updateColumn', {hidden:isHidden}, ['cpuRequest', 'cpuLimit', 'memoryRequest','memoryLimit','storageData','storageBackup']);
			if(isHidden){
				divServiceListGrid.alopexGrid('updateOption', {headerGroup: null} );
			}else{
				divServiceListGrid.alopexGrid('updateOption', {headerGroup: [ {fromIndex:'cpuRequest', toIndex:'cpuLimit', title:'CPU'}
				, {fromIndex:'memoryRequest', toIndex:'memoryLimit', title:"MEMORY"} , {fromIndex:'storageData', toIndex:'storageBackup', title:"스토리지"}]});
			}
			let p = nTreeDt.map(function(dt){
				return {namespace:dt.namespace,serviceType:dt.serviceType,serviceName:dt.serviceName};
			});
			$a.ajax({
				url:'/zdbapi/getPods',
				method:'PUT',
				//data:{data:JSON.stringify([{namespace:o.namespace,serviceType:o.serviceType,serviceName:o.serviceName}])},
				data:{data:JSON.stringify(p)},
				success:function(res){
					if(res.pods){
						for(let k in res.pods){
							let pods = res.pods[k];
							let podResources = {};
							for(var j=0;j< pods.length;j++){
								try{
									let r = pods[j];
									let c = r.spec.containers[0].resources;
									let t = {
											cpuRequest : c.requests.cpu.amount,
											cpuLimit:c.limits.cpu.amount,
											memoryRequest:c.requests.memory.amount,
											memoryLimit:c.limits.memory.amount,
										}
									let s = gCommon.findObjectByKeyOb(gServiceList,{serviceName:k});
									if(s){
										let d = s.diskUsageOfPodMap[r.metadata.name];
										if(d){
											for(let i = 0;i < d.length;i++){
												if(j != 0 && d[i].path=='/backup'){
													t.storageBackup = cloudUtil.convertDiskSize(d[i].size);
												}else if(d[i].path.indexOf('/bitnami')>-1){
													t.storageData = cloudUtil.convertDiskSize(d[i].size);
												}
											}	
										}
									}
									divServiceListGrid.alopexGrid('dataEdit',t, {serviceName : r.metadata.name})
									podResources[r.metadata.name] = t;
								}catch(ex){
									console.log(ex)
								}
							}
							let o = gCommon.findObjectByKeyOb(nTreeDt,{serviceName:k});
							if(o){
								o.podResource = podResources;		
							}
						}
					}
				}
			}).done(function(){
				gExpandServiceList = nTreeDt;	
			});
		}
		function fn_moveServiceDetail(data,isMonitorTab){
			var param = {namespace:data.namespace,serviceType:data.serviceType,serviceName:data.serviceName};
			if(isMonitorTab){
				fn_setSelected2010Tab('tabMonitor');
			}else{
				fn_setSelected2010Tab('tabService');
			};
			gCommon.movePage('/zdb02/zdb0210',param);
		};		
		//네임스페이스 리소스 조회
		function fn_getNamespaceResource(){
			var divArea = $('#divRequest');
			if(gSelectedNamespace!=G_NAMESPACE_ALL){
				$a.ajax({
					url: '/zdbapi/getNamespaceResource',
					data:{namespace:gSelectedNamespace},
					success:function(res){
						var ob = res.namespaceResource;
						divArea.html(gfn_getNamespaceResourceTemplate(ob));
						$a.convert(divArea);
					}
				});
				
			}else{
				divArea.html('');
			}
		}
		//서비스 목록 조회 && 태그 조회
		function fn_getServicesFirst(){
			$a.ajax({
				url: '/zdbapi/getServiceoverviews',
				data: {namespace:gSelectedNamespace} , 
				success: function(res){
					gServiceList = res.serviceoverviews;
					gfn_convertServiceDatas(gServiceList);
					gTagList = res.tags;
					fn_displayServices();
				}
			});
		}
		//서비스 목록 조회 && 태그 조회
		function fn_getServices(){
			var client = gZdbsocket.getConnect();
			client.connect({}, function(frame){
				client.subscribe('/services', function(res) {
					
					var re = JSON.parse(res.body);
					gServiceList = re.result.serviceoverviews;
					gfn_convertServiceDatas(gServiceList);
					//gTagList = res.tags;
					fn_displayServices();
				});
				//client.subscribe('/services/refresh', function(res) {
				//	fn_getServicesFirst();
				//});
			});
		};
		//서비스 목록 display
		function fn_displayServices(){
			fn_displayTags();
			var serviceListDiv = $('#divServiceListCard');
			var dispServiceDiv = $('<div/>');
			
			var namespaces = fn_getViewNamespaces();
			var filterList = getFilterAndSortServices();
			
			for(var i = 0; i < filterList.length; i++){
				var namespace = namespaces[i];
				var ob = filterList[i];
				var data = {
						tp:'service',
						namespace:ob.namespace,
						serviceType:ob.serviceType,
						serviceName:ob.serviceName,
						shortServiceName:ob.shortServiceName,
						status:ob.status,
						version:ob.version,
						updTime:ob.updTime,
						elapsedTime:ob.elapsedTime,
						statusMessage:ob.statusMessage||'',
						tagList:ob.tags
					};
				var tDiv = $(gfn_getServiceTemplate(data));
				dispServiceDiv.append(tDiv);
				gCommon.setDataAttrs(tDiv.find('.Panel-content[link]'),data);
			};
			
			serviceListDiv.html('');
			serviceListDiv.html(dispServiceDiv.html());
			$a.convert(serviceListDiv.find('.Tooltip'));
			
			if(gSelectedListType == 'grid'){
				var gridList = [];
				
				for(var i = 0;i < filterList.length;i++){
					let t = filterList[i];
					gridList.push(t);
					let d = gCommon.findObjectByKeyOb(gExpandServiceList,{serviceName:t.serviceName}); 
					if(d!=null){
						t.expandedService = 'true';
					}else{
						t.expandedService = 'false';
					}
					if(t.pods.length > 0){
						for(var j = 0; j < t.pods.length;j++){
							let o = t.pods[j];
							let r = {
									tp:'pod',
									serviceName:o.metadata.name,
									shortServiceName:o.metadata.name,//().replace(t.serviceName,''),
									parentServiceName:t.serviceName
								};
							if(d!=null && t.expandedService == 'true'){
								r = $.extend({},r,d.podResource[o.metadata.name]);
							}							
							gridList.push(r);
						}						
					}
				}
				
				divServiceListGrid.alopexGrid('dataSet',gridList);
			}
			
			gCommon.removeOverlay();
		}
		function fn_displayTags(){
			var tagDiv = $('#tagArea').html('<span class="tag">태그:</span> <span class="Label white">모든태그</span>'); 
			if(gTagList){
				for(var i = 0 ; i < gTagList.length;i++){
					var tag = gTagList[i];
					var tagSpan = $('<span class="Label white" data-id="'+tag.id+'">'+tag.tagName+'</span>');
					if((tagDiv).find('span').filter(function() { return $(this).text() == tag.tagName; }).size()==0){
						tagDiv.append(tagSpan);
					};
				};
			};
			
			tagDiv.find('span.Label').removeClass('selected');
			
			if(gSelectedTag!=''){
				tagDiv.find('[data-id='+gSelectedTag+']').filter(':visible').addClass('selected');
			};
			if(tagDiv.find('span.Label.selected').size()==0){
				gSelectedTag = '';
				tagDiv.find('span.Label:first').addClass('selected');
			};
		}
		function getFilterAndSortServices(){
			var list = [];
			var namespaceList = gNamespaces.getDataSource();
			
			for(var i = 0;i < gServiceList.length;i++){
				var ob = gServiceList[i];
				if(gSelectedNamespace !== G_NAMESPACE_ALL){
					if(gSelectedNamespace !== ob.namespace){
						 continue;
					 };
				}else{
					if(!gCommon.findObjectByKeyOb(namespaceList,{id:ob.namespace})){
						continue;
					};
				};
				if(gSelectedTag!=''){
					var temp = gCommon.findObjectByKeyOb(gTagList,{id:gSelectedTag});
					var fTag = gCommon.findObjectByKeyOb(ob.tags,{tagName:temp.tagName});
					if(!fTag){
						continue;
					};
				};
				if($("#txtServiceFilter").val()!=''){
					if(ob.serviceName.toLowerCase().indexOf($("#txtServiceFilter").val().toLowerCase()) < 0){
						continue;
					};	
				};
				list.push(ob);
			};				
			var sOb = $('.sort-list li').filter('[class=asc],[class=dsc]');
			var selectedSort = sOb.data('sortName');
			var sortType = sOb.attr('class');
			list.sort(function(a,b){  
				//오름차순이면 val1 = a, val2 = b 내림차순이면 val1 = b,val2 = a
				var val1 = a[selectedSort];
				var val2 = b[selectedSort];
				if(sortType == 'asc'){
					return(val1<val2)?-1:(val1>val2)?1:0; 
				}else{
					return(val2<val1)?-1:(val2>val1)?1:0;
				};
			});
			return list;
		}
		function fn_getViewNamespaces(){
			var list = [];
			
			var namespaces = gNamespaces.getDataSource();
			if(gSelectedNamespace === G_NAMESPACE_ALL){
				list = namespaces.filter(function(ob){
					return ob.id !== G_NAMESPACE_ALL ;
				});
			}else{
				list = namespaces.filter(function(ob){
					return ob.id === gSelectedNamespace;
				});
			};
			return list;
		}
	});
</script>
</div>
	<!-- //contents -->
</th:block>
</html>