<div class="popup-wrap">
	<div class="popup-mcontents">
		<div class="popup-cont">
			<form id="credentialPopForm" name="credentialPopForm">
			<div> New Credential</div>
			<div> 
				<input class="Textinput" type="text" id="credential" name="credential"></input> 
				<p data-for="credential" class="warn-text"></p>
			</div>
			</form>
		</div>
		<!--button-->
		<div class="popup-btn__wrap">
			<button class="Button btn credentialSave">저장</button>
			<button class="Button btn popClose">닫기</button>
		</div>
	</div>
</div>

<script type="text/javascript">
$a.page(function() {
    this.init = function(id, param) {
    	var form = $('form[name=credentialPopForm]');
    	form.validator({
		    elements :{ 
		        'credential': {rule:{required:true}}
		    }
		});	
    	$('.credentialSave').on('click',function(){
    		if(!form.validate()){
				return;
			};
    		var data = $.extend({},param,{newPassword:form.find('#credential').val(),clusterEnabled:($("input[name=clusterEnabled]:checked").val()=="true")});
			$a.ajax({
				url: '/zdbapi/setNewPassword',
				data:data,
				success: function(res){
					gCommon.alert('정상적으로 변경되었습니다.',function(){
						$a.close('Y');
					});
				}
			})
    	});
    	
    	$('.popClose').on('click',function(){
    		$a.close();
    	});
    }
});
</script>