<div class="popup-wrap">
	<div class="popup-mcontents">
		<div class="popup-cont">
			<form id="credentialPopForm" name="credentialPopForm">
			<div> 
				<div id="divMsg"></div>
				<div><span th:text="#{label.zdb0200.p03.msg.credential.input}" ></span> </div>
				<input class="Textinput" type="password" id="credential" name="credential"></input> 
				<p data-for="credential" class="warn-text"></p>
				<span th:text="#{label.zdb0200.p03.msg.credential.location}"  style="font-size:13px;color:blue;"></span>				
			</div>
			</form>
		<!--button-->
		<div class="popup-btn__wrap" style="width:100%">
			<button class="Button btn ok" id="btnOk"></button>
			<button th:text="#{label.common.button.close}" class="Button btn popClose"></button>
		</div>			
		</div>

	</div>
</div>

<script type="text/javascript">
$a.page(function() {
    this.init = function(id, param) {
    	var form = $('form[name=credentialPopForm]');
    	form.find('#divMsg').html(param.msg||'')
    	var okBtn = $('.popup-btn__wrap').find('#btnOk'); 
    	okBtn.html(param.okBtnMsg||'[[#{label.common.button.confirm}]]')
    	form.validator({
		    elements :{ 
		        'credential': {rule:{required:true,equalTo:param.credential}}
		    },
		    message:{
		    	'equalTo': '[[#{label.zdb0200.p03.credential.equal}]]'
		    }
		});	
    	okBtn.on('click',function(){
    		if(!form.validate()){
				return;
			};
			$a.close('Y');
    	});
    	
    	$('.popClose').on('click',function(){
    		$a.close();
    	});
    }
});
</script>