<div class="popup-wrap">
	<div class="popup-mcontents">
		<div class="popup-cont">
			<form id="credentialPopForm" name="credentialPopForm">
			<div> 
				<table class="Table Form-type">
					<colgroup>
						<col style="width:120px;"></col>
						<col style="width:200px;"></col>
					</colgroup>
					<div><span th:text="#{label.zdb0200.p01.title}"></span></div>
					<tr>
						<td th:text="#{label.zdb0200.p01.credential}"></td>
						<td>
							<input class="Textinput" type="password" id="credential" name="credential"></input> 
							<p data-for="credential" class="warn-text"></p>
						</td>
					</tr>
					<tr>
						<td th:text="#{label.zdb0200.p01.credential.new}"></td>
						<td>
							<input class="Textinput" type="password" id="newCredential" name="newCredential"></input> 
							<p data-for="newCredential" class="warn-text"></p>
						</td>
					</tr>
					<tr>
						<td th:text="#{label.zdb0200.p01.credential.new.confirm}"></td>
						<td>
							<input class="Textinput" type="password" id="newCredentialConfirm" name="newCredentialConfirm"></input> 
							<p data-for="newCredentialConfirm" class="warn-text"></p>
						</td>
					</tr>
				</table>
				
			</div>
			</form>
		</div>
		<!--button-->
		<div class="popup-btn__wrap" style="width:100%" >
			<button th:text="#{label.zdb0200.p01.button.save}" class="Button btn credentialSave"></button>
			<button th:text="#{label.zdb0200.p01.button.close}" class="Button btn popClose"></button>
		</div>
	</div>
</div>

<script type="text/javascript">
$a.page(function() {
    this.init = function(id, param) {
    	var form = $('form[name=credentialPopForm]');
    	form.validator({
		    elements :{ 
		        'credential': {rule:{required:true,equalTo:param.credential},message:{equalTo:'[[#{label.zdb0200.p01.credential.equal}]]'}},
		        'newCredential': {rule:{required:true}},
		        'newCredentialConfirm': {rule:{required:true,equalTo:'#newCredential'},message:{equalTo:'[[#{label.zdb0200.p01.new.credential.equal}]]'}}		        	
		    }
		});	
    	$('.credentialSave').on('click',function(){
    		if(!form.validate()){
				return;
			};
			gCommon.confirm('[[#{label.zdb0200.p01.confirm.credential}]]',function(){
				var data = $.extend({},param,{newPassword:form.find('#newCredential').val()});
				$a.ajax({
					url: '/zdbapi/setNewPassword',
					data:data,
					success: function(res){
						gCommon.alert('[[#{label.zdb0200.p01.confirm.credential.success}]]',function(){
							$a.close('Y');
						});
					}
				})				
			})
    	});
    	
    	$('.popClose').on('click',function(){
    		$a.close();
    	});
    }
});
</script>