<div id="tabMariadb">
	<div class="Tabs">
		<div>
			<div class="lay-item__box mt30">
				<div style="width:180px;" class="dtc" id="divMariaMenu">
					<ul class="dropmenu-list bbn">
						<li class="selected" data-menu="databaseStatus">서버상태</li>
						<li data-menu="connection">클라이언트 커넥션</li>
						<li data-menu="userRole">사용자 및 권한관리</li>
						<li data-menu="statusVariables">Status Variables</li>
						<li data-menu="systemVariables">System Variables</li>
						<li data-menu="myCnf">my.cnf</li>
					</ul>
				</div>
				<div id="divMariaContent">
					<div style="padding-left:10px;padding-right:10px;">
						<div data-menu="databaseStatus">
							<h3 class="form-title2">Status Variables</h3>
							<table class="Table Form-type">
								<colgroup>
									<col width="200px"></col>
									<col width="*"></col>
								</colgroup>
								<tr>
									<th>Host:</th>
									<td data="hostname"></td>
								</tr>	
								<tr>
									<th>Socket:</th>
									<td data="socket"></td>
								</tr>	
								<tr>
									<th>Port:</th>
									<td data="port"></td>
								</tr>	
								<tr>
									<th>Version:</th>	
									<td data="version"></td>
								</tr>	
								<tr>
									<th>Compiled For:</th>
									<td data="compiled"></td>
								</tr>	
								<tr>
									<th>Running Since:</th>
									<td data="running"></td>
								</tr>	
							</table>
							<h3 class="form-title2">Server Directories</h3>
							<table class="Table Form-type">
								<colgroup>
									<col width="200px">
									<col width="*">
								</colgroup>
								<tr>
									<th>Base Directory:</th>
									<td data="basedir"></td>
								</tr>
								<tr>
									<th>Data Directory:</th>
									<td data="datadir"></td>
								</tr>
								<tr>
									<th>Plugin Directory:</th>
									<td data="plugin_dir"></td>
								</tr>
								<tr>
									<th>Tmp Directory:</th>
									<td data="tmpdir"></td>
								</tr>
								<tr>
									<th>Error Log:</th>
									<td data="log_error"></td>
								</tr>
								<tr>
									<th>General Log:</th>
									<td data="generalLog"></td>
								</tr>
								<tr>
									<th>Slow Query Log:</th>
									<td data="slowQueryLog"></td>
								</tr>
							</table>
						</div>
						<div data-menu="connection" class="hide">
							<h3 class="form-title2">Client Connections</h3>
							<table class="Table Form-type">
								<colgroup>
									<col width="200px"></col>
									<col width="80px"></col>
									<col width="300px"></col>
									<col width="80px"></col>
									<col width="150px"></col>
									<col width="80px"></col>
									<col width="*">
								</colgroup>							
								<tr>
									<th>Threads Connected </th>
									<td data="Threads_connected"></td>
									<th>Threads_running </th>
									<td data="Threads_running"></td>
									<th>Threads_created </th>
									<td data="Threads_created"></td>
								</tr>
								<tr>
									<th>Threads_cached</th>
									<td data="Threads_cached"></td>
									<th>Connection_errors_max_connections </th>
									<td data="Connection_errors_max_connections"></td>
									<th>Connections </th>
									<td data="Connections"></td>
								</tr>
								<tr>
									<th>max_connections </th>
									<td data="max_connections"></td>
									<th>Aborted_clients </th>
									<td data="Aborted_clients"></td>
									<th>Aborted_connects</th>
									<td data="Aborted_connects"></td>
								</tr>
							</table>
							<div id="gridConnection" class="mt30"></div>
						</div>
						<div data-menu="userRole" class="hide"  style=" min-width: 950px; ">
							<h3 class="form-title2">Users and Privileges</h3>
							<div class="mt20">
							<div class="fl" style="width:330px;">
								<div class="fr" style="margin-bottom: 3px;;margin-right:10px;">
									<button class="Button btn sm" id="btnAddUser">추가</button>
									<button class="Button btn sm" id="btnDeleteUser">삭제</button>
									<button class="Button btn sm" id="btnDeletePrivileges">Revoke All Privileges</button>
								</div>
								<div id="gridUser" class="mt30"></div>
							</div>
							<div class="fl" style="width:300px;">
								<div id="gridUserSchema" class="mt30"></div>
							</div>
							<div style="width:280px;margin-top:25px;overflow: hidden">
								<form name="formUserRole">
								Object Rights
								<div class="item-wrap2" style="height:155px;">
									<ul>
										<li><input class="Checkbox" type="checkbox" name="select" value="Y">SELECT</li>
										<li><input class="Checkbox" type="checkbox" name="insert" value="Y">INSERT</li>
										<li><input class="Checkbox" type="checkbox" name="update" value="Y">UPDATE</li>
										<li><input class="Checkbox" type="checkbox" name="delete" value="Y">DELETE</li>
										<li><input class="Checkbox" type="checkbox" name="execute" value="Y">EXECUTE</li>
										<li><input class="Checkbox" type="checkbox" name="showView" value="Y">SHOW VIEW</li>
									</ul>
								</div>
								DDL Rights
								<div class="item-wrap2" style="height:250px;">
									<ul>
										<li><input class="Checkbox" type="checkbox" name="create" value="Y">CREATE</li>
										<li><input class="Checkbox" type="checkbox" name="alter" value="Y">ALTER</li>
										<li><input class="Checkbox" type="checkbox" name="references" value="Y">REFERENCES</li>
										<li><input class="Checkbox" type="checkbox" name="index" value="Y">INDEX</li>
										<li><input class="Checkbox" type="checkbox" name="createView" value="Y">CREATE VIEW</li>
										<li><input class="Checkbox" type="checkbox" name="createRoutine" value="Y">CREATE ROUTINE</li>
										<li><input class="Checkbox" type="checkbox" name="alterRoutine" value="Y">ALTER ROUTINE</li>
										<li><input class="Checkbox" type="checkbox" name="event" value="Y">EVENT</li>
										<li><input class="Checkbox" type="checkbox" name="drop" value="Y">DROP</li>
										<li><input class="Checkbox" type="checkbox" name="trigger" value="Y">TRIGGER</li>
									</ul>
								</div>
								Other Rights
								<div class="item-wrap2" style="height:90px">
									<ul>
										<li><input class="Checkbox" type="checkbox" name="grantOption" value="Y">GRANT OPTION</li>
										<li><input class="Checkbox" type="checkbox" name="createTemporaryTables" value="Y">CREATE TEMPORARY TABLES</li>
										<li><input class="Checkbox" type="checkbox" name="lockTables" value="Y">LOCK TABLES</li>
									</ul>
								</div>
								</form>
								<div class="fr mt10" style="margin-bottom: 3px;margin-right:30px;">
									<button class="Button btn sm" id="btnSavePrivileges">적용</button>
								</div>																 	
							 </div>
							</div>
						</div>
						<div data-menu="statusVariables" class="hide">
							<h3 class="form-title2">Status Variables</h3>
							<div class="search-wrap tr fi mt20">
								<input id="txtStatusVariablesFilter" name="txtStatusVariablesFilter" class="Textinput srcinput" placeholder="검색어를 입력하세요.">
							</div>
							<div id="gridStatusVariables"></div>
						</div>
						<div data-menu="systemVariables" class="hide">
							<h3 class="form-title2">System Variables</h3>						
							<div class="search-wrap tr fi mt20">
								<input id="txtSystemVariablesFilter" name="txtSystemVariablesFilter" class="Textinput srcinput" placeholder="검색어를 입력하세요.">
							</div>
							<div id="gridSystemVariables"></div>
						</div>
						<div data-menu="myCnf" class="hide">
							<h3 class="form-title2">My.cnf</h3>
							<div class="btn-wrap">
								<div class="btn-right">
									<button class="Button btn bg-red" id="btnSaveMyCnf" style="margin-bottom: 3px;">저장</button>
								</div>
							</div>								
							<div id="gridMyCnf"></div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>
<script type="text/javascript">
/*
gService = {
	podName :"zdb-test-mat-mariadb-0"
}
*/
let appMariadb = {
	data : {},	
	init : function(){
		this.tabMariadb = $('#tabMariadb');
		this.mariaMenu = this.tabMariadb.find('#divMariaMenu');
		this.mariaContent = this.tabMariadb.find('#divMariaContent');
		
		this.mariaMenu.find('li').on('click',function(e){
			let ob = $(e.currentTarget)
			ob.parent().find('li').removeClass('selected');
			ob.addClass('selected');
			let menuName = $(ob).data('menu');
			appMariadb.mariaContent.find('[data-menu]').hide().filter('[data-menu='+menuName+']').show();
			appMariadb.initMenu(menuName);
		})
		appMariadb.initMenu(appMariadb.mariaContent.find('[data-menu]:eq(0)').data('menu'));
		appMariadb.getDatabaseVariables();
		setTimeout(function(){
			//appMariadb.mariaMenu.find('[data-menu]:eq(5)').trigger('click')
		},100)
		function fn_isSystemProcess(data){
			let exIds = ['system user','replicator']; 
			return exIds.indexOf(data.User) > -1; 
		}			
		this.gridConnection = $('#gridConnection').alopexGrid({
			rowOption : { 
				styleclass : function(data, rowOption){
					let re = '';
					let state = (data.State||'').toLowerCase();
					let time = (data.Time || 0);
					if(!fn_isSystemProcess(data)){
						if( state.indexOf('waiting for') > -1 || 
								   (state.indexOf('sending data') > -1 && time >= 10) ||
								   (state.indexOf('updating') > -1 && time >= 10) ||
								   (state == 'copying to tmp table on disk')){
							re = 'warning-color';
						}
					}
					
					return re;
				}
			},				
			message: { nodata: gMessage.gridNodata },
			autoColumnIndex : true,
			columnMapping : [
					{ key : 'Id', title : 'Id', width : '70px', align : 'center'},
					{ key : 'User', title : 'User', width : '80px', align : 'left' },
					{ key : 'Host', title : 'Host', width : '80px', align : 'center' },
					{ key : 'db', title : 'DB', width : '100px', align : 'center' },
					{ key : 'Command', title : 'Command', width : '100px', align : 'center' },
					{ key : 'Time', title : 'Time', width : '100px', align : 'center'},
					{ key : 'State', title : 'State', width : '130px', align : 'center'},
					{ key : 'Info', title : 'Info', width : '250px', align : 'left'},
					{ key : '', title : '', width : '80px', align : 'center',render:function(value,data){
						let disabled = '';
						if(fn_isSystemProcess(data) == true){
							disabled = 'Disabled';
						}
						return $('<button class="Button sm '+disabled+'">종료</button>').on('click',function(){
							if($(this).hasClass('Disabled')){
								return;
							}
							gCommon.credentialConfirm({
						        data:{credential:$("#credential").val(),msg:'프로세스를 종료하시려면',okBtnMsg:'종료'},
						        callback : function(res){
									$a.ajax({
										url: '/zdbapi/killProcess',
										data:$.extend({},gParam,{pid:data.Id,podName:gService.podName}),
										success: function(res){
											if(res.result.code == '0'){
												appMariadb.getConnection();
											}
										}
									})
						        }
						    });
						});
					}}
				],
			});
		this.formUserRole = appMariadb.mariaContent.find('form[name=formUserRole]');
		
		let tabUser = appMariadb.mariaContent.find('[data-menu=userRole]');
		let renderCheckbox = function(value){
			if(value == 'Y')return $('<img src="/styles/images/ico-checkmark.png" style="float:initial;width:20px"></img>');
		};
		let allowEditCheck = function(value,data){
			return data.state == 'A' || (data.user != 'admin');
		}
		let editTypeYn = {type:"checkbox",rule:[{value:"Y", checked:true},{value:"N", checked:false}]};
		let gridUser = this.gridUser = appMariadb.mariaContent.find('#gridUser').alopexGrid({
			autoColumnIndex: true,
			autoResize:true,
			rowInlineEdit:true,
			rowSelectOption:{
				clickSelect : true,
				singleSelect : true,
				endAllEditing : false
			},
			cellSelectable:false,
			//restoreFocusOnInvalidInlineEdit :true,
			leaveDeleted:true,
			width:320,
			height: 530,
			columnMapping : [  
				{ title:'state',key:'state',width:'50px',align:'center',editable:false,hidden:true,excludeFitWidth:true,render:function(value,data){
					if (data._state.added){data.state = 'A'}
					else if (data._state.deleted){data.state='D'}
					else if (data._state.edited){data.state='E'}
					else {data.state=''}
					return data.state;
				}},
				{ title:'USER', key : 'user' , width: '100px', align: 'left' ,editable:true	,allowEdit:function(value,data){
					return data._state.added == true;
				},editable: function(value, data) {
					return '<div><input type="text" class="alopexgrid-default-renderer" maxlength="15" value="'+value+'"/></div>'; 
				},editedValue: function(cell, data, render, mapping, grid) {
					return $(cell).find('input').val();
				}},
				{ title:'Password', key : 'password' , width: '100px', align: 'left' ,editable:{type:'text'}
					,editable: function(value, data) {
						return '<div><input type="password" class="alopexgrid-default-renderer" value="'+ (value||'') +'" maxlength="15"/></div>'; 
					},editedValue: function(cell, data, render, mapping, grid) {
						return $(cell).find('input').val();
					},render:function(value,data){
						return (value||'').replace(/./g,'*');
					}
				},
				{ title:'From HOST', key : 'host' , width: '120px', align: 'left' ,editable:true,allowEdit:function(value,data){
					return data._state.added == true;
				}}
			], message: { nodata: gMessage.gridNodata }
		}).on('dataSelect',function(e){
			let evObj = AlopexGrid.parseEvent(e);
			let eId = appMariadb['data']['editPrivileges'].id;
			let dt = gridUser.alopexGrid('dataGet',{_index:{row:0}})[0];
			if(eId){
				if(eId != evObj.datalist[0]._index.id){  //변경중인 데이터가 있을 경우 확인창
					 let opt = {
						falseCallback:function(){
							gridUser.alopexGrid('rowSelect',{_index : {id:eId}},true);
							appMariadb['data']['editPrivileges'].id = eId;
						}	 
					 };
					 gCommon.confirm('변경 중인 내용은 취소 됩니다. 계속 하시겠습니까?',function(){
						 appMariadb.resetEditPrivileges();
						 if(dt._state.added==true){
						 	appMariadb.gridUser.alopexGrid('dataDelete',dt);
						 }
					 },opt);
				}				
			}
		}).on('dataSelectEnd',function(e){
			appMariadb.setUserPrivilegesUi();
		}).on('click','.bodycell',function(e){
			let evObj = AlopexGrid.parseEvent(e);
			let dg = gridUser.alopexGrid('dataGet',{_index:{row:0}});
			let dt = dg[0];
			
			appMariadb.gridUser.alopexGrid('rowSelect',evObj.data,true);
		}).on('focusout',function(e){
			let r = e.relatedTarget;
			if(!r|| !$(r).hasClass('alopexgrid-default-renderer')){
				//gridUser.alopexGrid('endRowInlineEdit');
			}
		});
		this.gridUserSchema = $('#gridUserSchema').alopexGrid({
			autoColumnIndex: true,
			autoResize:true,
			rowInlineEdit:true,
			rowSelectOption:{
				clickSelect : true,
				singleSelect : true
			},
			width:280,
			height: 530,
			columnMapping : [  
				{ title:'state',key:'state',width:'50px',align:'center',editable:false,hidden:true,excludeFitWidth:true,render:function(value,data){
					if (data._state.added){data.state = 'A'}
					else if (data._state.deleted){data.state='D'}
					else if (data._state.edited){data.state='E'}
					else {data.state=''}
					return data.state;
				}},
				{ title:'Schema', key : 'name' , width: '200px', align: 'left' ,editable:true	,allowEdit:function(value,data){
					return data._state.added == true;
				},editable: function(value, data) {
					return '<div><input type="text" class="alopexgrid-default-renderer" maxlength="15" value="'+value+'"/></div>'; 
				},editedValue: function(cell, data, render, mapping, grid) {
					return $(cell).find('input').val();
				}}
			], message: { nodata: gMessage.gridNodata }				
		}).on('dataSelectEnd',function(e){
			appMariadb.setUserPrivilegesUi();
		}).on('click','.bodycell',function(e){
			var evObj = AlopexGrid.parseEvent(e);
			appMariadb.gridUserSchema.alopexGrid('rowSelect',evObj.data,true);
		});
		
		tabUser.find('#btnAddUser').on('click', function(e){
			gridUser.alopexGrid('endRowInlineEdit');
			let dt = gridUser.alopexGrid('dataGet');
			
			if(dt[0] && dt[0]._state.added == true){
				return;
			}
			
			let opt = {_index :{row:0,column:1,data:0,target:0}};
			let defUserDt = {};
			gridUser.alopexGrid('dataAdd', defUserDt, opt);
			gridUser.alopexGrid('startRowInlineEdit',opt);
			setTimeout(function(){
				gridUser.alopexGrid('rowSelect', opt, true)
				gridUser.find('.bodycell[data-alopexgrid-rowindex=0][data-alopexgrid-columnindex=1] input').focus();
				appMariadb.setUserPrivilegesUi();
				appMariadb['data']['editPrivileges'].id = gridUser.alopexGrid('dataGet',{_index:{row:0}})[0]._index.id;
			},100)
		});
		tabUser.find('#btnDeleteUser').on('click',function(e){
			let dg = gridUser.alopexGrid( 'dataGet' , {_state:{selected:true}});
			if(dg.length == 0){
				gCommon.alert('선택된 행이 없습니다.');return;
			};
			let dt = dg[0];
			if(dt && dt._state.added == true){
				gridUser.alopexGrid('dataDelete',dg);
				appMariadb.resetEditPrivileges();
				gridUser.alopexGrid('rowSelect',{_index:{row:0}},true);
				return;
			}
			if(dt.user == 'admin' && dt.host == '%'){
				gCommon.alert('admin 계정은 삭제 할 수 없습니다.');return;
			}
			appMariadb.deleteDbUser();
		})
		tabUser.find('input:checkbox').on('click',function(e){
			appMariadb.updateUserPrivilegesData($(this).attr('name'),$(this).is(':checked')?'Y':'N')
		});
		tabUser.find('#btnSavePrivileges').on('click',function(){
			appMariadb.saveUserPrivileges();
		});
		tabUser.find('#btnDeletePrivileges').on('click',function(){
			appMariadb.deleteUserPrivileges();
		});
		this.gridStatusVariables = $('#gridStatusVariables').alopexGrid({
			height:580,
			message: { nodata: gMessage.gridNodata },
			autoColumnIndex : true,
			columnMapping : [
				{ key : 'name', title : 'name', width : '500px', align : 'left',excludeFitWidth:true },
				{ key : 'value', title : 'Value', width : '500px', align : 'left',excludeFitWidth:true}	,
				{ key:''}
			]
		});			
		appMariadb.tabMariadb.find('[data-menu=statusVariables] input[name=txtStatusVariablesFilter]').on('input propertychange',function(){
			appMariadb.setStatusVariablesFilter();
		});
		
		this.gridSystemVariables = $('#gridSystemVariables').alopexGrid({
			height:580,
			message: { nodata: gMessage.gridNodata },
			autoColumnIndex : true,
			columnMapping : [
				{ key : 'name', title : 'name', width : '500px', align : 'left',excludeFitWidth:true },
				{ key : 'value', title : 'Value', width : '500px', align : 'left',excludeFitWidth:true },
				{ key:'',title:''}
			]
		});				
		appMariadb.tabMariadb.find('[data-menu=systemVariables] input[name=txtSystemVariablesFilter]').on('input propertychange',function(){
			appMariadb.setSystemVariablesFilter();
		});	

		let renderValue = function(value,data){
			let re = '';
			if(!cloudUtil.isEmpty(data.enumValueList)){
				re = data.enumValueList;
			}else if(!cloudUtil.isEmpty(data.numericMinValue)){
				re = data.numericMinValue + ' ~ ' + data.numericMaxValue;
			}	
			return re;
		}
		this.gridMyCnf = $('#gridMyCnf').alopexGrid({
			rowInlineEdit:true,
			rowSelectOption:{
				clickSelect : true,
				singleSelect : true
			},
			rowOption : { 
				styleclass : function(data, rowOption){
					if(data.categoryColumn==true) return 'header-row';
				}
			},			
			restoreFocusOnInvalidInlineEdit :true,
			cellSelectable:true,
			leaveDeleted:true,			
			readonlyRender:false,
			tree : {
				 useTree : true
				,idKey : 'name' //노드를 지시하는 유일한 값이 저장된 키값
				,parentIdKey : 'category' //자신의 상위(parent) 노드를 지시하는 ID가 저장된 키값
				,expandedKey : 'expandedCategory'
			},			
			height:580,
			message: { nodata: gMessage.gridNodata },
			autoColumnIndex : true,
			columnMapping : [
				{ key : 'status' , title : '', width:'50px',excludeFitWidth:true,hidden:true},
				{ key : 'proc', title : '', width : '70px', align : 'left',render: mycnfRender,excludeFitWidth:true },
				{ key : 'category', title : 'category', width : '200px', align : 'left',hidden:true,excludeFitWidth:true },
				{ key : 'name', title : 'Config Name', width : '300px', align : 'left', treeColumn : false ,render:mycnfRender ,editable:mycnfEditable,excludeFitWidth:true},
				{ key : 'value', title : 'Value', width : '300px', align : 'left',render:mycnfRender,editable:mycnfEditable,editedValue: function(cell, data, render, mapping, grid) {
					let re = $(cell).find('select,input').val();
					return re;
				},valid : function(value, data) {
					let re = true;
					if(!appMariadb.validMyCnf(value,data)){
						re = false;
						value = data.value;
					}					
					data.valid = re;
					return re;
				},excludeFitWidth:true},					
				{ key : 'defaultValue', title : 'Default Value', width : '200px', align : 'left' },
				{ key : '', title : 'Value Range', width : '250px', align : 'left',render:renderValue,tooltip:renderValue},
				{ key : 'variableComment', title : 'Description', width : '300px', align : 'left' },
				{ key : 'sort',hidden:true}
			]
		}).on('cellEditInvalid ', function(e){
			setTimeout(function(evt){
				var evObj = AlopexGrid.parseEvent(e);
				var opt = evObj.data;
				var mapping = evObj.mapping;
				var col = mapping.columnIndex;
				
				if(opt._state.deleted == true){
					return;
				}
				alert('입력값을 확인하세요.');
				appMariadb.gridMyCnf.alopexGrid('focusCell', opt);
				
				setTimeout(function(){
					appMariadb.gridMyCnf.alopexGrid('rowSelect', opt, true)
					let input = appMariadb.gridMyCnf.find('.bodycell[data-alopexgrid-rowindex='+(opt._index.row)+'][data-alopexgrid-columnindex='+(opt._index.column)+'] input');
					input.focus().trigger('click');
				},100)
			},100)
		});	
		
		$('#btnSaveMyCnf').on('click',function(){
			appMariadb.saveGridMyCnf();
		})
		//mycnf grid의 보여주는 컬럼 설정
		function mycnfRender(){
			let re = '';
			let value = arguments[0];
			let data = arguments[1];
			let column = arguments[3];
			let grid = arguments[4];
			let arg = arguments;
			let isAddVariableColumn = data.addVariableColumn == true;
			switch(column.key){
				case 'name':
					if(data.categoryColumn==true){
						re = '<span style="font-size:1.5em;color:midnightblue">['+value+']</span>';
					} else if(isAddVariableColumn){
						re = getAddVariableColumn(data);
					} else re = data.alias;
					break;
				case 'value':
					re = value;	
					if(data.category && data.name){
						let dbv = appMariadb['data']['databaseVariables'];
						let o = dbv[data.category][data.name];
						if(data.variableType == 'BOOLEAN'){
							re =  data.value == '1' ? 'ON' : 'OFF';
						}else{
							re = data.value;
						}
					}
					break;
				case 'proc':
					if(isAddVariableColumn){
						re = $('<button class="Button btn sm">추가</button>').on('click',function(e){
							appMariadb.gridMyCnf.alopexGrid('endRowInlineEdit');
							appMariadb.gridMyCnf.alopexGrid('dataGet');
							let evt = AlopexGrid.parseEvent(e);
							let dt = AlopexGrid.trimData(evt.data);
							if(dt.valid == false)return;
							let newList = AlopexGrid.trimData(appMariadb.gridMyCnf.alopexGrid('dataGet',{dataColumn:true}));
							if(cloudUtil.isEmpty(dt.name) || dt.name == gMessage.selectAddColumn){
								gCommon.alert(gMessage.selectAddColumn);return;
							}
							newList.push({
								category:dt.category, name:dt.name, value:dt.value, dataColumn:true
							});
							appMariadb.setGridMyCnf(newList);
							appMariadb.gridMyCnf.alopexGrid('focusCell',{category:dt.category,name:dt.name})
						});
					} else if(!cloudUtil.isEmpty(data.category)){
						re = $('<button class="Button btn sm">삭제</button>').on('click',function(e){
							appMariadb.gridMyCnf.alopexGrid('endRowInlineEdit');
							let evt = AlopexGrid.parseEvent(e);
							let dt = evt.data;
							if(dt.serverData==true){
								let d = dt._state.deleted ? 'dataUndelete' : 'dataDelete'; 
								appMariadb.gridMyCnf.alopexGrid(d,evt.data);
							}else{
								let gridList = AlopexGrid.trimData(appMariadb.gridMyCnf.alopexGrid('dataGet',{dataColumn:true}));
								let l = gridList.filter(function(o){
									return !(o.category == dt.category && o.name == dt.name)  
								});
								appMariadb.setGridMyCnf(l); 
							}
						});
					}
					break;
				default :	
					re = value;
					break;
			}
			return re;			
		}
		//mycnf grid 수정 상태일때 보여주는 컬럼 설정
		function mycnfEditable(){
			let re = '';
			let value = arguments[0];
			let data = arguments[1];
			let column = arguments[3];
			let isAddVariableColumn = data.addVariableColumn == true;
			switch(column.key){
				case 'name':
					if(data.categoryColumn==true)re = '<span style="font-size:1.5em;color:midnightblue">['+value+']</span>';
					else if(isAddVariableColumn){
						re = getAddVariableColumn(data);
					} else re = data.alias;
					break;
				case 'value':
					if(!data.dataColumn && !isAddVariableColumn)return;
					let dbv = appMariadb['data']['databaseVariables'];
					let d = dbv[data.category][data.name]||{};
					if(d && d.dynamic == true){
						let enumValueList = d.enumValueList|| ''; 
						if(d.variableType == 'ENUM' || d.variableType == 'BOOLEAN'){
							let l = enumValueList.split(',');
							re = $('<div class="Divselect wd250" style="top:-5px;height:32px;"><select></select><span></div>');
							if(d.variableType == 'ENUM'){
								for(let i = 0; i < l.length;i++){
									re.find('select').append($('<option/>',{text:l[i],value:l[i]}));
								}
							}else if(d.variableType == 'BOOLEAN'){
								re.find('select').append($('<option/>',{text:'OFF',value:'0'}));
								re.find('select').append($('<option/>',{text:'ON',value:'1'}));
							}							
							
							$a.convert(re);
							if(isAddVariableColumn){
								let firstValue = re.find('select option:eq(0)').val();
								//appMariadb.gridMyCnf.alopexGrid('dataEdit', $.extend({},data,{value:firstValue}),data);
								//data.value = firstValue;
								//;
								setTimeout(function(){
									re.setSelected(firstValue);
								},100);
							}else{
								re.setSelected(data.value);
							}
						}else{
							re = '<input type="text" class="Textinput" value="'+(data.value||'')+'" style="top:-5px;height:32px; width:80%">';
						}
					}else{
						re = '';
					}
				break;
			}
			return re;
		}
		//mycnf grid 추가 컬럼 설정
		function getAddVariableColumn(data){
			let dbv = appMariadb['data']['databaseVariables'];
			let comboList = dbv[data.category].comboList;
			let re = $('<div class="Divselect wd250" style="top:-5px;height:32px;"><select><option value="">'+gMessage.selectAddColumn+'</option></select><span></div>');
			for(let i = 0 ; i < comboList.length;i++){
				let o = comboList[i];
				re.find('select').append($('<option/>',{text:o.alias,value:o.name}));
			}
			$a.convert(re);
			re.setSelected(data.name).find('select').on('change',function(evt){
				let name = $(evt.currentTarget).val();
				let o = dbv[data.category][name];
				let d = $.extend({},o,{value:''});
				appMariadb.gridMyCnf.alopexGrid('dataEdit', d,data).alopexGrid('rowSelect', data, true).alopexGrid('startRowInlineEdit',data);
			});
			return re
		}

		},initMenu : function(menuName){
			switch(menuName){
				case 'databaseStatus':
					appMariadb.getDatabaseStatus();
					break;
				case 'connection':
					appMariadb.getProcesses();
					appMariadb.getDatabaseConnection();
					break;
				case 'userRole':
					appMariadb.getUserPrivileges();
					break;
				case 'statusVariables':
					appMariadb.getStatusVariables();
					break;
				case 'systemVariables':
					appMariadb.getSystemVariables();
					break;
				case 'myCnf':
					appMariadb.getMyCnfList();
					break;
			}
			appMariadb.mariaContent.find('[data-menu]:visible .alopexgrid').alopexGrid('viewUpdate')
		},getDatabaseStatus : function(){
			let d = $.extend({},gParam,{podName:gService.podName});
			$a.ajax({
				url:'/zdbapi/getDatabaseStatus',
				data:d,
				success:function(res){
					ds = res.databaseStatus;
					let onOffBtn = {
						ON : '<span class="state green vm"></span> ',
						OFF : '<span class="state inactive vm"></span> '
					}
					if(ds){
						ds.compiled = ds.version_compile_os + '('+ds.version_compile_machine+')';
						ds.running = moment(ds.timestamp * 1000).format('ddd MMM D HH:mm:ss YYYY');
						BigNumber.config({ ROUNDING_MODE: BigNumber.ROUND_DOWN });
						let ut = new BigNumber(ds.Uptime);
						let utStr = '';
						let day = ut.div(86400).integerValue();
						if(day.isGreaterThan(0)){
							ut = ut.minus(day.times(86400)); 
						}
						let hour = ut.div(3600).integerValue();
						if(hour.isGreaterThan(0)){
							ut = ut.minus(hour.times(3600));
						}
						let minute = ut.div(60).integerValue();
						utStr += day.toNumber() + ' days ' + hour.toNumber()+ ' : ' +minute.toNumber();
						
						ds.running += ' ( ' + utStr + ' )' 
						ds.generalLog = onOffBtn[ds.general_log] + ds.general_log;
						ds.slowQueryLog = onOffBtn[ds.slow_query_log] + ds.slow_query_log + ' ' + ds.slow_query_log_file;
						
						appMariadb.tabMariadb.find('[data-menu=databaseStatus]').zdbui_setContents(ds);
					}
				}
			});
		}, getDatabaseConnection :function(){
			$a.ajax({
				url:'/zdbapi/getDatabaseConnection',
				data:$.extend({},gParam,{podName:gService.podName}),
				success:function(res){
					let d = res.databaseConnection;
					appMariadb.tabMariadb.find('[data-menu=connection]').zdbui_setContents(d);
				}
			});			
		}, getProcesses : function(){
			$a.ajax({
				url:'/zdbapi/getProcesses',
				data:$.extend({},gParam,{podName:gService.podName}),
				success:function(res){
					let list = res.processes;
					appMariadb.gridConnection.alopexGrid('dataSet',list);
				}
			});
		}, getStatusVariables : function(){
			$a.ajax({
				url:'/zdbapi/getDatabaseStatusVariables',
				data:$.extend({},gParam,{podName:gService.podName}),
				success:function(res){
					let d = res.databaseStatusVariables;
					let list = [];
					for(let k in d){
						list.push({name:k,value:d[k]});
					}
					appMariadb.gridStatusVariables.alopexGrid('dataSet',list);
					appMariadb.gridStatusVariables.alopexGrid('dataSort', [ {sortingColumn : 'name', sortingDirection: "asc"} ]);
				}
			});
		}, setStatusVariablesFilter:function(){
			let v = appMariadb.tabMariadb.find('[data-menu=statusVariables] input[name=txtStatusVariablesFilter]').val();
			if(cloudUtil.isEmpty(v)){
				appMariadb.gridStatusVariables.alopexGrid('clearFilter');
			}else{
				v = v.toLowerCase();
				appMariadb.gridStatusVariables.alopexGrid('setFilter','statusVariablesFilter',function(dt){
					return dt.name.toLowerCase().indexOf(v) > -1 || dt.value.toLowerCase().indexOf(v) > -1   
				});
			}
		}, getSystemVariables : function(){
			$a.ajax({
				url:'/zdbapi/getDatabaseSystemVariables',
				data:$.extend({},gParam,{podName:gService.podName}),
				success:function(res){
					let d = res.databaseSystemVariables;
					let list = [];
					for(let k in d){
						list.push({name:k,value:d[k]});
					}
					appMariadb.gridSystemVariables.alopexGrid('dataSet',list);
					appMariadb.gridSystemVariables.alopexGrid('dataSort', [ {sortingColumn : 'name', sortingDirection: "asc"} ]);
				}
			});
		}, setSystemVariablesFilter:function(){
			let v = appMariadb.tabMariadb.find('[data-menu=systemVariables] input[name=txtSystemVariablesFilter]').val();
			if(cloudUtil.isEmpty(v)){
				appMariadb.gridSystemVariables.alopexGrid('clearFilter');
			}else{
				v = v.toLowerCase();
				appMariadb.gridSystemVariables.alopexGrid('setFilter','systemVariablesFilter',function(dt){
					return dt.name.toLowerCase().indexOf(v) > -1 || dt.value.toLowerCase().indexOf(v) > -1   
				});
			}			
		}, getDatabaseVariables:function(){ 
			appMariadb.data.databaseVariables = {};//mycnf 환경 변수
			$a.ajax({
				url:'/zdbapi/getDatabaseVariables',
				data:gParam,
				success:function(res){
					let dt = {};
					let list = res.databaseVariables||[];
					for(let i = 0; i < list.length;i++){
						let o = list[i];
						if(!dt[o.category]){
							dt[o.category]= {};
						}
						dt[o.category][o.name] = o;
					}
					appMariadb['data']['databaseVariables'] = dt;
				}
			});			
		},getDatabases:function(){
			var deferred = $.Deferred();
			$a.ajax({
				url: '/zdbapi/getDatabases',
				method:'get',
				data: gParam,
				complete:function(res){
					deferred.resolve(res.responseJSON);
				}
			});
			return deferred.promise();
		}
		, getUserRoleList:function(){
			var deferred = $.Deferred();
			appMariadb.getDatabases().done(function(resDatabases){
				$a.ajax({
					url: '/zdbapi/getUserGrants',
					method:'get',
					data: gParam,
					success: function(res){
						let bl = ['information_schema','mysql','performance_schema'];
						let databases = resDatabases.databases||[];
						let list = res.userGrants;
						let dl = [{name:'*'}].concat(databases)//.push({name:'mmmmmm'});
						
						dl = dl.filter(function(ob){
							return bl.indexOf(ob.name)==-1
						});
						appMariadb.gridUserSchema.alopexGrid('dataSet',dl);
						appMariadb.gridUser.alopexGrid('dataSet',list);
						deferred.resolve(list,dl);
					}
				});				
			})
			return deferred.promise();
		} ,getMyCnfList : function(){
			//서버에 설정된 mycnf 내용 조회
			$a.ajax({
				url:'/zdbapi/getUseDatabaseVariables',
				data:gParam,
				success:function(res){
					let myCnfList = res.databaseVariables||[];
					let l = myCnfList.map(function(ob){
						return $.extend({},ob,{serverData:true});
					});
					appMariadb.setGridMyCnf(l);					
				}
			})
		}, 
		getUserPrivileges: function(){
			appMariadb.getUserRoleList().done(function(userList,schemaList){
				$a.ajax({
					url:'/zdbapi/getUserPrivileges',
					data:gParam,
					success:function(res){
						let list = res.userPrivileges||[];
						appMariadb['data']['userPrivileges'] = {};
						appMariadb['data']['editPrivileges'] = {};//변경중인 데이터 저장
						for(let i in list){
							let o = list[i];
							let grantee = o.grantee;
							try{
								let user = grantee.split('@')[0].replace(/'/g,'');
								let host = grantee.split('@')[1].replace(/'/g,'');
								let dt = appMariadb.gridUser.alopexGrid('dataGet',{user:user,host:host})[0];
								let id = dt._index.id;
								if(id){
									if(!appMariadb['data']['userPrivileges'][id]){
										appMariadb['data']['userPrivileges'][id] = {};
									}
									if(!appMariadb['data']['userPrivileges'][id][o.tableSchema]){
										appMariadb['data']['userPrivileges'][id][o.tableSchema] = {};
									}
									let n = o.privilegeType.toLowerCase().replace(/(\s[a-z])/g,function($1){return $1.trim().toUpperCase();})
									appMariadb['data']['userPrivileges'][id][o.tableSchema][n] = 'Y';									
								}
							}catch(ex){
							}
						}
						appMariadb.gridUser.alopexGrid('rowSelect',{_index:{row:0}},true);
						appMariadb.gridUserSchema.alopexGrid('rowSelect',{_index:{row:0}},true);
						
						appMariadb['data']['userPrivilegesOrg'] = JSON.parse(JSON.stringify(appMariadb['data']['userPrivileges']));//원본 데이터 저장
					}
				})			
			});
		},
		getSelectUserSchema: function(){
			let re = null;
			let d = (appMariadb.gridUser.alopexGrid('dataGet',{_state :{selected:true}})[0]||{});
			let user = d.user||'';
			let host = d.host||'';
			let schema = (appMariadb.gridUserSchema.alopexGrid('dataGet',{_state :{selected:true}})[0]||{}).name;
			re = {
				id: d._index.id,
				user : user,
				host : host,
				schema : schema,
				password: d.password,
				grantee : ('\''+user+'\'@\''+host+'\''),
				state: (d._state.added == true ? 'I':'U')					
			}
			return re;
		},
		updateUserPrivilegesData(name,isValue){
			let su = appMariadb.getSelectUserSchema();
			if(su ==null)return;
			
			let g = appMariadb['data']['userPrivileges'];
			if(!g[su.id]){
				g[su.id] = {};
			};
			let s = g[su.id];
			if(!s[su.schema]){
				s[su.schema] = {};
			}
			let o = s[su.schema];
			o.isUpdate = true;
			o[name] = isValue;
			appMariadb['data']['editPrivileges'].id = su.id;
		},
		setUserPrivilegesUi:function(){
			let su = appMariadb.getSelectUserSchema();
			appMariadb.mariaContent.find('form[name=formUserRole] input:checkbox').prop('checked',false);
			if(su!=null){
				let up = ((appMariadb['data']['userPrivileges'][su.id]||{})[su.schema]||{});
				appMariadb.mariaContent.find('form[name=formUserRole]').zdbui_setContents(up);
			}
		},
		resetEditPrivileges:function(){
			appMariadb['data']['editPrivileges'] = {};
			appMariadb['data']['userPrivileges'] = JSON.parse(JSON.stringify(appMariadb['data']['userPrivilegesOrg']));//원본 데이터 저장
		},
		saveUserPrivileges:function(){
			if(!appMariadb['data']['editPrivileges'].id){
				gCommon.alert('저장 할 데이터가 없습니다.');
				return;
			}
			appMariadb.gridUser.alopexGrid('endRowInlineEdit');
			let su = appMariadb.getSelectUserSchema();
			if(cloudUtil.isEmpty(su.user)){
				gCommon.alert('USER를 입력하세요.');
				appMariadb.gridUser.alopexGrid('startRowInlineEdit')
				appMariadb.gridUser.find('.bodycell[data-alopexgrid-rowindex=0][data-alopexgrid-columnindex=1] input').focus().trigger('click');;
				return;
			}
			if(cloudUtil.isEmpty(su.host)){
				gCommon.alert('HOST를 입력하세요.');
				appMariadb.gridUser.alopexGrid('startRowInlineEdit')
				appMariadb.gridUser.find('.bodycell[data-alopexgrid-rowindex=0][data-alopexgrid-columnindex=3] input').focus().trigger('click');;
				return;
			}
			if(su.state == 'I' && cloudUtil.isEmpty(su.password)){
				gCommon.alert('PASSWORD를 입력하세요.');
				appMariadb.gridUser.alopexGrid('startRowInlineEdit')
				appMariadb.gridUser.find('.bodycell[data-alopexgrid-rowindex=0][data-alopexgrid-columnindex=2] input').focus().trigger('click');;
				return;
			}
			gCommon.confirm('저장 하시 겠습니까?',function(){
				let param = $.extend({},gParam,{
					userPrivileges : {
						grantee:su.grantee,
						password:su.password
					},
					state:su.state
				});
				let dt = appMariadb['data']['userPrivileges'][su.id];
				let l = [];
				for(let schema in dt){
					if(dt[schema].isUpdate){
						let o = dt[schema];
						o.schema = schema;
						l.push(o);
					}
				}
				param.userPrivileges.privileges = l;
				param.userPrivileges = JSON.stringify(param.userPrivileges);
				
				$a.ajax({
					url:'/zdbapi/saveUserPrivileges',
					method:'put',
					data:param,
					success:function(res){
						appMariadb.getUserPrivileges();
					}
				});			
			});
		},
		deleteUserPrivileges:function(){
			appMariadb.gridUser.alopexGrid('endRowInlineEdit');
			let su = appMariadb.getSelectUserSchema();
			gCommon.confirm('선택된 사용자의 권한을 삭제 하시 겠습니까?',function(){
				let param = $.extend({},gParam,{
					userPrivileges : {
						grantee:su.grantee
					},
					state:'D'
				});
				let l = [];
				let dt = appMariadb.gridUserSchema.alopexGrid('dataGet');
				for(let i = 0 ; i < dt.length;i++){
					let o = {schema:dt[i].name};
					l.push(o);
				}
				param.userPrivileges.privileges = l;
				param.userPrivileges = JSON.stringify(param.userPrivileges);
				$a.ajax({
					url:'/zdbapi/saveUserPrivileges',
					method:'put',
					data:param,
					success:function(res){
						appMariadb.getUserPrivileges();
					}
				});			
			});			
		},
		deleteDbUser:function(){
			appMariadb.gridUser.alopexGrid('endRowInlineEdit');
			let su = appMariadb.getSelectUserSchema();
			gCommon.confirm('선택된 사용자를 삭제 하시 겠습니까?',function(){
				let param = $.extend({},gParam,{
					state:'D',
					user : su.user,
					host : su.host,
					accountId : su.user
				});
				$a.ajax({
					url:'/zdbapi/saveDBUser',
					method:'put',
					data:{data:JSON.stringify([param])},
					success:function(res){
						appMariadb.getUserPrivileges();
					}
				});			
			});			
		},
		/*
			mycnfgrid 에 데이터 설정  : serverData(true,false)컬럼으로 실제 데이터 판별 ,dataColumn(true,false)으로 데이터 여부 판별
			category 데이터,실데이터,추가콤보 리스트 순으로 생성( 파라미터는 실데이터)		
		*/
		setGridMyCnf : function(paramList){
			let categorySort ={ mysqld:10, mysql:20, mysqld_safe:30, mysqldump:40,client:50 };
			let categoryList = [{name:'mysqld'},{name:'mysql'},{name:'mysqld_safe'},{name:'mysqldump'},{name:'client'}];
			categoryList = categoryList.map(function(ob){
				return $.extend({},ob,{serverData:false,dataColumn:false,categoryColumn:true,sort:categorySort[ob.name]});
			});
			let gridList = categoryList.slice(); //마지막에 보여줄 전체 grid 리스트
			let comboList = {}; //카테고리별 추가 데이터
			
			let dbv = appMariadb['data']['databaseVariables'];
			for(let cg in dbv){
				let ds = dbv[cg];
				for(let name in ds){
					let o = ds[name];
					o.sort = categorySort[o.category];
					if(!o.category)continue;
					let mc = gCommon.findObjectByKeyOb(paramList,{category:o.category,name:o.name});
					//전달 받은 데이터에 있으면 grid리스트에,없으면 추가콤보로 생성
					if(mc==null){
						if(!comboList[o.category]){
							comboList[o.category] = [];
						}
						comboList[o.category].push(o);							
					}else{
						mc.dataColumn = true;
						gridList.push($.extend({},mc,o,{value:mc.value}));
					}
				}
			}
			
			for(let k in comboList){
				let o = comboList[k];
				gridList.push({category:k, name:'' ,addVariableColumn:true ,dataColumn:false,serverData:false,sort:(categorySort[k]+1)});
				dbv[k].comboList = o;
			}
			appMariadb.gridMyCnf.alopexGrid('dataSet',gridList).alopexGrid('expandTreeNode');
			appMariadb.gridMyCnf.alopexGrid('dataSort', [
				{sortingColumn : 'sort', sortingDirection: "asc"},
				{sortingColumn : 'name', sortingDirection: "asc"}
			]);
		},saveGridMyCnf : function(){
			appMariadb.gridMyCnf.alopexGrid('endRowInlineEdit');
			let dt = AlopexGrid.trimData(appMariadb.gridMyCnf.alopexGrid('dataGet',function(data) {
			    return data.dataColumn == true && data._state.deleted != true;
			}));
			if(gCommon.findObjectByKeyOb(dt,{valid:false}) !=null){
				return;
			};
			gCommon.confirm("설정을 변경하시겠습니까?",function(){
				let param = $.extend({},gParam,{databaseVariables:JSON.stringify(dt)});
				$a.ajax({
					url:'/zdbapi/updateUseDatabaseVariables',
					method:'put',
					data:param,
					success:function(res){
						if(res.result.code == 0){
							gCommon.alert('설정이 변경되었습니다.');
							appMariadb.getMyCnfList();
						}
					}
				});
			})
		},validMyCnf:function(value,data){
			let re = true;
			if(!data.dynamic)return re;
			if(data.variableType == 'BIGINT UNSIGNED' || data.variableType == 'INT UNSIGNED') {
				let numericMinValue = data.numericMinValue || '';
				let numericMaxValue = data.numericMaxValue || '';
				if(!cloudUtil.isEmpty(numericMinValue)||!cloudUtil.isEmpty(numericMaxValue)){
					let val = (value||'').toUpperCase();
					let reg = /^([\d]+)([K|M]{0,1})$/gi.exec(val);
					if(reg==null){
						return false;
					}
					let n = new BigNumber(reg[1]);
					let unit = 1;
					if(reg[2] == 'K'){
						unit = 1024;
					}else if(reg[2] == 'M'){
						unit = 1024 * 1024
					}
					let r = n.times(unit);
					let min = new BigNumber(numericMinValue);
					let max = new BigNumber(numericMaxValue);
				    re = (min.isNaN()|| r.gte(min)) && (max.isNaN() || r.lte(max));
				}
			}
			return re;
		} 
	}
/*
$a.page(function() {
	this.init = function() {
		appMariadb.init();		
	}
});*/
</script>
