<div class="popup-wrap">
	<div>
		<div class="popup-text">
			<form id="backupDiskForm" name="backupDiskForm">
			<div>
				<table class="Table Form-type">
					<colgroup>
						<col style="width: 130px;"> </col>
						<col></col>
					</colgroup>				
					<tr>
						<td colspan="2">
							<span th:text="#{label.zdb0200.p08.msg.notice.first}"></span>
							<span data="backupDiskSize"></span>
							<span th:text="#{label.zdb0200.p08.msg.notice.second}"></span> 
							<span data="diskSize"></span>
							<span th:text="#{label.zdb0200.p08.msg.notice.third}"></span> <br/>
							<span th:text="#{label.zdb0200.p08.msg.notice.fourth}"></span><br/>
							<span th:text="#{label.zdb0200.p08.msg.notice.fifth}"></span>
						</td>
					</tr>
					<tr>
						<th>Credential</th>
						<td>
							<input class="Textinput" type="password" id="credential" name="credential"></input> 
							<p data-for="credential" class="warn-text"></p>
						</td>
					</tr>
				</table>
			</div>
			</form>
		</div>
	</div>
	<!--button-->
	<div class="popup-btn__wrap" style="width:100%">
		<button th:text="#{label.common.button.save}" class="Button btn bg-gray ok"></button>
		<button th:text="#{label.common.button.cancel}" class="Button btn bg-gray no"></button>
	</div>
	<!--//button-->
</div>
<script type="text/javascript">
$a.page(function() {
	this.init = function(id,param) {
    	let form = $('form[name=backupDiskForm]');
    	console.log(param)
    	let backupDiskSize = (cloudUtil.parseInt(param.diskSize)*1.5);
    	form.find('span[data=diskSize]').html(param.diskSize);
    	form.find('span[data=backupDiskSize]').html(backupDiskSize);
    	
    	form.validator({
		    elements :{ 'credential': {rule:{required:true,equalTo:param.credential}} },
		    message:{ 'equalTo': '[[#{label.zdb0200.p08.credential.equal}]]'}
		});    	
		$('[data-show-service-type*='+gParam.serviceType+']').show();
		$('button.ok').click(function(){
			if(!form.validate()){
				return;
			}
			gCommon.confirm('[[#{label.zdb0200.p08.confirm.add.backup.disk}]]',function(){
				let p = $.extend({},gParam,{backupDiskSize:backupDiskSize})
				$a.ajax({
					url:'/zdbapi/addBackupDisk',
					method:'put',
					data:p,
					success:function(res){
						if(res.result.code == '0'){
							$a.close({result:'Y'});					
						}
					}
				});				
			})
		});
		$('button.no').click(function(){
			$a.close('N');
		});	
	}
});
	
</script>