<div class="popup-wrap">
	<div>
		<div class="popup-text">
			<form id="backupDiskForm" name="backupDiskForm">
			<div>
				<table class="Table Form-type">
					<colgroup>
						<col style="width: 130px;"> </col>
						<col></col>
					</colgroup>				
					<tr>
						<td colspan="2">
							추가 되는 백업스토리지는 <span data="backupDiskSize"></span>Gi(데이터 저장 공간 <span data="diskSize"></span>Gi의 1.5배)이며,<br/>
							백업스토리지 추가시 즉시 DB가 재기동 됩니다.<br/>
							백업스토리지 추가를 위해 Credential 을 입력해주세요.						
						</td>
					</tr>
					<tr>
						<th>Credential</th>
						<td>
							<input class="Textinput" type="password" id="credential" name="credential"></input> 
							<p data-for="credential" class="warn-text"></p>
						</td>
					</tr>
				</table>
			</div>
			</form>
		</div>
	</div>
	<!--button-->
	<div class="popup-btn__wrap">
		<button class="Button btn bg-gray ok">저장</button>
		<button class="Button btn bg-gray no">취소</button>
	</div>
	<!--//button-->
</div>
<script type="text/javascript">
$a.page(function() {
	this.init = function(id,param) {
    	let form = $('form[name=backupDiskForm]');
    	console.log(param)
    	let backupDiskSize = (cloudUtil.parseInt(param.diskSize)*1.5);
    	form.find('span[data=diskSize]').html(param.diskSize);
    	form.find('span[data=backupDiskSize]').html(backupDiskSize);
    	
    	form.validator({
		    elements :{ 'credential': {rule:{required:true,equalTo:param.credential}} },
		    message:{ 'equalTo': "credential이 일치하지 않습니다." }
		});    	
		$('[data-show-service-type*='+gParam.serviceType+']').show();
		$('button.ok').click(function(){
			if(!form.validate()){
				return;
			}
			gCommon.confirm('백업디스크를 추가 하시겠습니까?',function(){
				let p = $.extend({},gParam,{backupDiskSize:backupDiskSize})
				$a.ajax({
					url:'/zdbapi/addBackupDisk',
					method:'put',
					data:p,
					success:function(res){
						if(res.result.code == '0'){
							$a.close({result:'Y'});					
						}
					}
				});				
			})
		});
		$('button.no').click(function(){
			$a.close('N');
		});	
	}
});
	
</script>