<div class="popup-wrap">
	<div class="popup-mcontents">
		<div class="popup-text">
			<div style="padding-bottom:20px;"><span th:text="#{label.zdb0200.p06.msg.title}" ></span></div>
			<div class="hide" data-show-service-type="mariadb">
				<span  th:text="#{label.zdb0200.p06.title}" ></span>
				<div class="Divselect" id="backupType" name="backupType" style="height: 35px;width:125px; padding-top: 1px !important;">
					<select>
						<option th:text="#{label.zdb0200.p06.full}" value="FULL"></option>
						<option th:text="#{label.zdb0200.p06.dump}" value="DUMP"></option>
					</select>
					<span></span>
				</div>
			</div>
		</div>
	</div>
	<!--button-->
	<div class="popup-btn__wrap" style="width:100%">
		<button th:text="#{label.common.button.confirm}" class="Button btn bg-gray ok">확인</button>
		<button th:text="#{label.common.button.cancel}" class="Button btn bg-gray no">취소</button>
	</div>
	<!--//button-->
</div>
<script type="text/javascript">
$a.page(function() {
	this.init = function(id,param) {
		$('[data-show-service-type*='+gParam.serviceType+']').show();
		$('button.ok').click(function(){
			$a.close({result:'Y',backupType:$('#backupType select').val()});
		});
		$('button.no').click(function(){
			$a.close('N');
		});	
	}
});
	
</script>