<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
    <title>서비스 상세</title>
</th:block>
<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="/styles/css/nouislider.min.css">
</th:block>
<th:block layout:fragment="page_js">
	<script type="text/javascript" src="/script/app/common/cloudzdb-ui-z0200.js"></script>
	<script type="text/javascript" src="/script/libs/etc/nouislider.min.js"></script>
</th:block>
<th:block layout:fragment="content">
<!-- location -->
<div class="locations-area">
	<div class="prj-list">
		<strong>Namespace : </strong>
		<button id="namespaces" class="Dropdownbutton namespace"></button>
		<ul class="dropmenu-list hide">
		</ul>
	</div>
	<div class="back-list" id="backServices">
		<a href="#"><span>목록으로 돌아가기</span></a>
	</div>
</div>
<div class="contents-box info-box">
	<!-- contents-titie-->
	<div class="top-area info-area">
		<!-- service 각 항목에 대한 상세 panel-->
		<div class="Panel service-panel" id="divService">

		</div>
		<div class="Panel service-panel">
			<div class="Panel-content">
				<div class="config-wrap">
					<button class="Dropdownbutton Button btn-ico btn-config">환경설정</button>
					<ul class="dropmenu-list config">
						<li class="selected">서비스 환경설정</li>
						<li>서비스 삭제</li>
						<li>서비스 수정</li>
					</ul>
				</div>
				<ul class="config-info" id="configInfo">
					<li>
						<strong>할당 CPU : </strong>
						<span data="cpu"></span>
					</li>
					<li>
						<strong>할당 메모리 : </strong>
						<span data="memory"></span>
					</li>
					<li>
						<strong>스토리지 : </strong>
						<span data="disk"></span>
					</li>
					<li>
						<button class="Button nobg-btn btn-scale">스케일보기</button>
					</li>
					<li>
						<button class="Button line-btn" id="deleteService">삭제</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- tab wrap -->
	<div class="Tabs db-tabs" id="zdbServiceTabs">
		<ul>
			<li data-content="#tab1">서비스 정보</li>
			<li data-content="#tab2">스케일</li>
			<li data-content="#tab3">모니터링</li>
			<li data-content="#tab4">환경설정</li>
			<li data-content="#tab5">백업</li>
			<li data-content="#tab6">이벤트</li>
		</ul>
		<!-- 서비스 정보 PageID: ZDB-02-10R -->
		<div id="tab1">
			<!-- accordion wrap-->
			<ul class="Accordion db-accordion">
				<li>
					<a>Connection</a>
					<div class="accor-contents__wrap">
						<table id="connectionInfoTable" class="Table Form-type">
							<colgroup>
								<col style="width: 150px;"> </col>
								<col style="width: 200px;"> </col>
								<col></col>
							</colgroup>
							<tbody>
								<tr>
									<th colspan="2" class="tcenter">Credential</th>
									<td><input id="credential" name="credential" class="Textinput" type="password"/>
										<span class="input-pw"></span>
										<button class="Button line-btn" id="togglePwd">보기</button>
										<button class="Button line-btn" id="credentialCopy">복사</button>
										<button class="Button line-btn" id="credentialUpdate">변경</button>
										<span class="Color-warning hide connectionInfoCopyed">복사되었습니다.</span>
									</td>	
								</tr>
								<tr>
									<th colspan="2" class="tcenter"> 접속포트</th>
									<td data="port"></td>
								</tr>
								<tr>                                                                                                 
					               	<th rowspan="2">Private</th>                                                                       
					               	<th>Master</th>                                                                        
					               	<td>                                                                                              
					               		<input class="Textinput Width-70" name="privatemasterConnectionString" readonly="readonly"></input>     
					               		<button class="Button line-btn connectionInfoCopy">복사</button>                          
					               		<input type="text" class="Textinput Width-70 hide" name="privateslaveConnectionLine" readonly="readonly"></input>     
					               		<button class="Button line-btn connectionInfoCopy">복사2</button>                          
					               		<span class="Color-warning hide connectionInfoCopyed">복사되었습니다.</span>                                                                                      
					               	</td>                                                                                         
				                </tr>
				                <tr>
      						       	<th>Slave</th>                                                                        
					               	<td>                                                                                              
					               		<input class="Textinput Width-70" name="privateslaveConnectionString" readonly="readonly"></input>     
					               		<button class="Button line-btn connectionInfoCopy">복사</button>                          
					               		<input type="text" class="Textinput Width-70 hide" name="privateslaveConnectionLine" readonly="readonly"></input>     
					               		<button class="Button line-btn connectionInfoCopy">복사2</button>                          
					               		<span class="Color-warning hide connectionInfoCopyed">복사되었습니다.</span>                                                                                      
					               	</td>                  
				                </tr>
								<tr class="publicConnectionInfo">                                                                                                 
					               	<th rowspan="2">Public</th>                                                                       
					               	<th>Master</th>                                                                        
					               	<td>                                                                                              
					               		<input class="Textinput Width-70" name="publicmasterConnectionString" readonly="readonly"></input>     
					               		<button class="Button line-btn connectionInfoCopy">복사</button>                          
					               		<input type="text" class="Textinput Width-70 hide" name="publicmasterConnectionLine" readonly="readonly"></input>     
					               		<button class="Button line-btn connectionInfoCopy">복사2</button>                          
					               		<span class="Color-warning hide connectionInfoCopyed">복사되었습니다.</span>                                                                                      
					               	</td>                                                                                         
				                </tr>
				                <tr>
      						       	<th>Slave</th>                                                                        
					               	<td>                                                                                              
					               		<input class="Textinput Width-70" name="publicslaveConnectionString" readonly="readonly"></input>     
					               		<button class="Button line-btn connectionInfoCopy">복사</button>                          
					               		<input type="text" class="Textinput Width-70 hide" name="publicslaveConnectionLine" readonly="readonly"></input>     
					               		<button class="Button line-btn connectionInfoCopy">복사2</button>                          
					               		<span class="Color-warning hide connectionInfoCopyed">복사되었습니다.</span>                                                                                      
					               	</td>                  
				                </tr>
							</tbody>
						</table>
					</div>
				</li>
				<li>
					<a>Resources</a>
					<div class="accor-contents__wrap">
						<div id="gridResource" ></div>
					</div>
				</li>
			</ul>
		</div>
		<!--스케일 PageID: ZDB-02-20R -->
		<div id="tab2">
			<!-- accordion wrap-->
			<ul class="Accordion db-accordion">
				<li>
					<a>Scale Up</a>
					<div class="accor-contents__wrap">
						<table class="Table Form-type">
							<colgroup>
								<col style="width: 200px;">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th class="Valign-top">할당메모리</th>
									<td>
										<div class="info-wrap">
											<p class="memory-title">메모리</p>
											<div class="info-wrap ht60">
												<div class="memory-info" id="memoryInfo">1GB</div>
												<div class="progress-wrap full-width">
													<div class="memory-bar" id="memorySlider"></div>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="btn-wrap__right">
							<button class="Button btn bg-red" id="updateScaleUp">적용하기</button>
						</div>
					</div>
				</li>
				<li th:if="${#request.getParameter('serviceType')} == 'redis'">
					<a>Scale Out</a>
					<div class="accor-contents__wrap">
						<table class="Table Form-type">
							<colgroup>
								<col style="width: 200px;">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th class="Valign-top" >Read-Only Slave 수</th>
									<td>
										<div id="clusterSlaveCountSpinner" class="Spinner" data-min="1" data-max="1" data-step="1">
										    <input id="clusterSlaveCount" name="clusterSlaveCount" value="1">
										    <a class="Up"></a>
										    <a class="Down"></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="btn-wrap__right">
							<button class="Button btn bg-red" id="updateScaleOut">적용하기</button>
						</div>	
					</div>		
				</li>
			</ul>
		</div>
		
		<!-- Monitoring Tab -->
		<div id="tab3">
			<ul>
				<li th:if="${#request.getParameter('serviceType')=='mariadb'}">
					<!-- Accordion wrap: System Resources -->
					<ul class="Accordion db-accordion">
						<li>
							<a>System Resources</a>
							<div class="accor-contents__wrap">
								<table class="Table">
									<tbody>
										<tr>
											<td>
												<div class="panel-cpu" id="panelCpu"></div>
											</td>
											<td>
												<div class="panel-memory" id="panelMemory"></div>
											</td>
											<td>
												<div class="panel-network" id="panelNetwork"></div>
											</td>
										</tr>
									</tbody>
								</table>
				            </div>
						</li>
					</ul>
					<!-- Accordion wrap: Connections & Table -->
					<ul class="Accordion db-accordion">
						<li>
							<a>Connections & Table</a>
							<div class="accor-contents__wrap">
								<table class="Table">
									<tbody>
										<tr>
											<td>
												<div class="panel-connections" id="panelConnections"></div>
											</td>
											<td>
												<div class="panel-thread" id="panelThread"></div>
											</td>
											<td>
												<div class="panel-tablelack" id="panelTablelack"></div>
											</td>
										</tr>
									</tbody>
								</table>
				            </div>
						</li>
					</ul>
					<!-- Accordion wrap: Query & Replication -->
					<ul class="Accordion db-accordion">
						<li>
							<a>Query & Replication</a>
							<div class="accor-contents__wrap">
								<table class="Table">
									<tbody>
										<tr>
											<td>
												<div class="panel-qps" id="panelQps"></div>
											</td>
											<td>
												<div class="panel-replicationdelay" id="panelReplicationdelay"></div>
											</td>
											<td>
												<div class="panel-sqlthread" id="panelSqlthread"></div>
											</td>
											<td>
												<div class="panel-iothread" id="panelIothread"></div>
											</td>
										</tr>
									</tbody>
								</table>
				            </div>
						</li>
					</ul>
				</li>
			</ul>
			<ul>
				<li th:if="${#request.getParameter('serviceType')=='redis'}">
					<!-- Accordion wrap: System Resources -->
					<ul class="Accordion db-accordion">
						<li>
							<a>System Resources</a>
							<div class="accor-contents__wrap">
								<table class="Table">
									<tbody>
										<tr>
											<td>
												<div class="panel-cpu" id="panelCpu"></div>
											</td>
											<td>
												<div class="panel-memory" id="panelMemory"></div>
											</td>
											<td>
												<div class="panel-network" id="panelNetwork"></div>
											</td>
										</tr>
									</tbody>
								</table>
				            </div>
						</li>
					</ul>
					<!-- Accordion wrap: Keys -->
					<ul class="Accordion db-accordion">
						<li>
							<a>Keys</a>
							<div class="accor-contents__wrap">
								<table class="Table">
									<tbody>
										<tr>
											<td>
												<div class="panel-items" id="panelItems"></div>
											</td>
											<td>
												<div class="panel-expiringvsnot" id="panelExpiringvsnot"></div>
											</td>
											<td>
												<div class="panel-expired" id="panelExpired"></div>
											</td>
										</tr>
									</tbody>
								</table>
				            </div>
						</li>
					</ul>
					<!-- Accordion wrap: Connections & Table -->
					<ul class="Accordion db-accordion">
						<li>
							<a>Commands</a>
							<div class="accor-contents__wrap">
								<table class="Table">
									<tbody>
										<tr>
											<td>
												<div class="panel-executed" id="panelExecuted"></div>
											</td>
											<td>
												<div class="panel-calls" id="panelCalls"></div>
											</td>
											<td>
												<div class="panel-hits" id="panelHits"></div>
											</td>
										</tr>
									</tbody>
								</table>
				            </div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="tab4">
			<form name="dbConfig" method="post">
			<ul class="Accordion db-accordion">
				<li th:if="${#request.getParameter('serviceType')=='redis'}">
					<div class="accor-contents__wrap">
					<a>Network</a>
						<table class="Table Form-type">
							<colgroup>
								<col style="width: 150px;"> </col>
								<col style="width: 200px;"> </col>
								<col> </col>
							</colgroup>
							<tbody>
								<tr>
									<th rowspan="2">NETWORK</th>
									<th>timeout</th>
									<td> 
										<input type="text" id="timeout" name="timeout" class="Textinput"/>
										<span class="info-text">범위 : 0 ~ 3,600</span>
										<p data-for="timeout" class="warn-text"></p>
									</td>
								</tr>
								<tr>
									<th>tcp-keepalive</th>
									<td> 
										<input type="text" id="tcp-keepalive" name="tcp-keepalive" class="Textinput"/>
										<span class="info-text">범위 : 0 ~ 3,600</span>
										<p data-for="tcp-keepalive" class="warn-text"></p>
									</td>
								</tr>
							</tbody>
						</table>
					<a>Memory</a>
						<table class="Table Form-type">
							<colgroup>
								<col style="width: 150px;"> </col>
								<col style="width: 200px;"> </col>
								<col> </col>
							</colgroup>
							<tbody>
								<tr>
									<th rowspan="2">MEMORY MANAGEMENT</th>
									<th>maxmemory-policy</th>
									<td> 
										<div class="Divselect" style="width: 150px">
										<select id="maxmemory-policy" name="maxmemory-policy">
											<option value="noeviction">noeviction</option>
											<option value="allkeys-lru">allkeys-lru</option>
											<option value="volatile-lru">volatile-lru</option>
											<option value="allkeys-random">allkeys-random</option>
											<option value="volatile-random">volatile-random</option>
											<option value="volatile-ttl">volatile-ttl</option>
										</select>
										<span></span>
										</div>
									</td>
								</tr>
								<tr>
									<th>maxmemory-samples</th>
									<td>
										<input type="text" id="maxmemory-samples" name="maxmemory-samples" class="Textinput"/>
										<span class="info-text">범위 : 1 ~ 10</span>
										<p data-for="maxmemory-samples" class="warn-text"></p>
									</td>
								</tr>	
							</tbody>
						</table>
					<a>Slow Log</a>		
						<table class="Table Form-type">
							<colgroup>
								<col style="width: 150px;"> </col>
								<col style="width: 200px;"> </col>
								<col> </col>
							</colgroup>
							<tbody>	
								<tr>
									<th rowspan="2">SLOW LOG</th>
									<th>slowlog-log-slower-than</th>
									<td>
										<input type="text" id="slowlog-log-slower-than" name="slowlog-log-slower-than" class="Textinput"/>
										<span class="info-text">범위 : -1 ~ 12000</span>
										<p data-for="slowlog-log-slower-than" class="warn-text"></p>
									</td>
								</tr>
								<tr>
									<th>slowlog-max-len</th>
									<td>
										<input type="text" id="slowlog-max-len" name="slowlog-max-len" class="Textinput"/>
										<span class="info-text">범위 : 1 ~ 256</span>
										<p data-for="slowlog-max-len" class="warn-text"></p>
									</td>
								</tr>	
							</tbody>
						</table>
					<a>Event Notification</a>	
						<table class="Table Form-type">
							<colgroup>
								<col style="width: 150px;"> </col>
								<col style="width: 200px;"> </col>
								<col> </col>
							</colgroup>
							<tbody>									
								<tr>
									<th>EVENT NOTIFICATION</th>
									<th>notify-keyspace-events</th>
									<td>
										<input type="text" id="notify-keyspace-events" name="notify-keyspace-events" class="Textinput"/>
									</td>
								</tr>
							</tbody>
						</table>
					<a>Advanced Config </a>
						<table class="Table Form-type">
							<colgroup>
								<col style="width: 150px;"> </col>
								<col style="width: 200px;"> </col>
								<col> </col>
							</colgroup>
							<tbody>		
								<tr>
									<th rowspan="5">ADVANCED CONFIG</th>
									<th>hash-max-ziplist-entries</th>
									<td>	
										<input type="text" id="hash-max-ziplist-entries" name="hash-max-ziplist-entries" class="Textinput"/>
										<span class="info-text">범위 : 0 ~ 65536</span>
										<p data-for="hash-max-ziplist-entries" class="warn-text"></p>
									</td>
								</tr>
								<tr>	
									<th>hash-max-ziplist-value</th>
									<td>
										<input type="text" id="hash-max-ziplist-value" name="hash-max-ziplist-value" class="Textinput"/>
										<span class="info-text">범위 : 0 ~ 65535</span>
										<p data-for="hash-max-ziplist-value" class="warn-text"></p>
									</td>
								</tr>	
								<tr>	
									<th>list-max-ziplist-size</th>
									<td>
										<input type="text" id="list-max-ziplist-size" name="list-max-ziplist-size" class="Textinput"/>
										<span class="info-text">범위 : -5 ~ 5</span>
										<p data-for="list-max-ziplist-size" class="warn-text"></p>
									</td>
								</tr>	
								<tr>	
									<th>zset-max-ziplist-entries</th>
									<td>
										<input type="text" id="zset-max-ziplist-entries" name="zset-max-ziplist-entries" class="Textinput"/>
										<span class="info-text">범위 : 0 ~ 65536</span>
										<p data-for="zset-max-ziplist-entries" class="warn-text"></p>
									</td>
								</tr>	
								<tr>	
									<th>zset-max-ziplist-value</th>
									<td>
										<input type="text" id="zset-max-ziplist-value" name="zset-max-ziplist-value" class="Textinput"/>
										<span class="info-text">범위 : 0 ~ 65536</span>
										<p data-for="zset-max-ziplist-value" class="warn-text"></p>
									</td>
								</tr>	
							</tbody>
						</table>
			            <div class="btn-wrap__right">
				        	<button class="Button btn bg-red" id="saveVariables">적용하기</button>
				        </div>
					</div>
				</li>
				
				<li th:if="${#request.getParameter('serviceType')=='mariadb'}">
					<a>Parameter</a>
					<div class="accor-contents__wrap">	
						<table id="serviceConfigTable" class="Table Form-type">
							<colgroup>
								<col style="width: 280px;"> </col>
								<col> </col>
							</colgroup>							
							<tbody> </tbody>
						</table>
			            <div class="btn-wrap__right">
				        	<button class="Button btn bg-red" id="saveVariables">적용하기</button>
				        </div>						
					</div>
				</li>
			</ul>
			</form>
		</div>
		<div id="tab5">
			<ul class="Accordion db-accordion">
				<li>
					<a>백업</a>
		            <div class="accor-contents__wrap">
		            	<!-- tab contents info detail-->
		            	<div class="ctn-info__wrap">
		            		<form name="backupForm" method="post">
		            		<div class="ctn-info__left">
								<span class="info-list"> 백업설정:</span>
								<span class="info-list">
		            				<div class="onoff-wrap"><button class="Button btn-off">OFF</button></div>
									<div class="hide">
										<select name="useYn"> <option value="Y">Y</option> <option value="N">N</option> </select>
									</div>	
								</span>
								<span class="info-list" id="scheduleInfo">
									백업 시간: <span class="info-db" data="startTime">05:00</span>
								</span>
								<span class="info-list hide" id="scheduleUpdate">
									백업 시간: 
									<div class="Spinner Time" data-locale="en" id="startTime" data-hours="24H" data-bind="time:date">
									    <input data-hour>
									    <span data-seperator>:</span>
									    <input data-minute>
									    <input data-ampm>
									    <a class="Up"></a>
									    <a class="Down"></a>
									</div>
								</span>
								<div class="info-list">
									<button class="Button btn-search" id="searchBackup">검색</button>
								</div>			            		
		            		</div>
		            		</form>
		            	</div>
		            	<!-- grid -->
		                <div id="gridBackup"></div>
		            </div>
				</li>
			</ul>		
		</div>
		<div id="tab6">
			<ul class="Accordion db-accordion">
				<li>
					<a>이벤트 목록</a>
		            <div class="accor-contents__wrap">
		            	<!-- tab contents info detail-->
		            	<div class="ctn-info__wrap">
		            		<form name="eventForm" method="post">
		            		<div class="ctn-info__left">
								<div class="info-list select-date Daterange">
									<div class="Startdate Dateinput">
									    <input id="eventStartDate" name="eventStartDate" type="text" readonly="readonly">
									    <div class="Calendar" id="eventStartDate"></div>
									</div>
									<div class="Spinner Time" data-locale="en" id="eventStartTime" name="eventStartTime" data-hours="24H" data-bind="time:date">
									    <input data-hour>
									    <span data-seperator>:</span>
									    <input data-minute>
									    <input data-ampm>
									    <a class="Up"></a>
									    <a class="Down"></a>
									</div>
									<span class="date-line">~</span>
									<div class="Enddate Dateinput">
									    <input id="eventEndDate" name="eventEndDate" type="text" readonly="readonly">
									    <div class="Calendar" id="eventEndDate"></div>
									</div>
									<div class="Spinner Time" data-locale="en" id="eventEndTime" name="eventEndTime" data-hours="24H" data-bind="time:date">
									    <input data-hour>
									    <span data-seperator>:</span>
									    <input data-minute>
									    <input data-ampm>
									    <a class="Up"></a>
									    <a class="Down"></a>
									</div>
								</div>
								<div class="info-list">
									<div class="Divselect">
									    <select name="kind">
											<option value="-">전체</option> 
											<option value="StatefulSet">StatefulSet</option>
											<option value="Service">Service</option>
											<option value="ReplicaSet">ReplicaSet</option>
											<option value="Pod">Pod</option>
											<option value="PersistentVolumeClaim">PVC</option>
											<option value="PersistentVolume">PV</option>
											<option value="Node">Node</option>
											<option value="Ingress">Ingress</option>
											<option value="Deployment">Deployment</option>
											<option value="DaemonSet">DaemonSet</option>
											<option value="ConfigMap">ConfigMap</option>
											<option value="Cluster">Cluster</option>
									    </select>
									    <span></span>
									</div>
									<input name="keyword" class="Textinput srcinput" placeholder="검색어를 입력하세요."/><button class="Button btn-search" id="searchEvent">검색</button>
								</div>
		            		</div>
		            		</form>
		            	</div>
		            	<!-- grid -->
		                <div id="gridEvent"></div>
		            </div>
				</li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	var gCurrentNamespace = '';
	var gNamespaces = null;
	var gService = null;
	$a.page(function() {
		
		this.init = function() {
			//namespace 변경시 이벤트
			gNamespaces = gCommon.getNamespaceCombo($('#namespaces'))
								 .select({id:gSelectedNamespace})
								 .addHandler(function(e) {
									  gCommon.setSelectedNamespace(e.currentTarget.id);
									  gCommon.movePage('/zdb02/zdb0200',{selectedNamespace:gSelectedNamespace});
		   						  });
			$('.Accordion').expandAll();
			var data = {
					namespace:gParam.namespace,
					serviceType:gParam.serviceType,
					serviceName:gParam.serviceName
				};

			//탭 변경 시 조회
			$('#zdbServiceTabs').on('tabchange', function(e, index, index2){
				fn_displayTabs(index+1);
			});
			function fn_displayTabs(index){
				switch(index){
					case 1:
						fn_getConnectionInfo();
						break;
					case 2:
						break;
					case 3:
						fn_getMonitoring();
						break;
					case 4:
						fn_getConfigurationInfo();
						break;						
					case 5:
						fn_getBackupScheduleInfo();
						break;
					case 6:
						//fn_getEventInfo();
						break;
				}
			}
			
			$('#backServices').on('click',function(){
				gCommon.movePage('/zdb02/zdb0200',{selectedNamespace:gSelectedNamespace});
			});			
			$('#deleteService').on('click',function(){
				$a.ajax({
					url: '/zdbapi/deleteServiceInstance',
					data:gParam,
					success: function(res){
						gCommon.alert('삭제 요청이 완료 되었습니다.');
						gCommon.movePage('/zdb02/zdb0200',{selectedNamespace:gSelectedNamespace});
					}
				})
			});

			
			/* tab1 start */
			$('#togglePwd').on('click',function(){
				var isShowPwd = $('#credential').attr('type')=='password';
				if(isShowPwd){
					$('#credential').attr('type','text');
					$('#connectionInfoTable').find('input[data-origin]').each(function(){
						var ob = $(this);
						ob.val(ob.val().replace('[password]',$('#credential').val()));
					});
				}else{
					$('#credential').attr('type','password');
					$('#connectionInfoTable').find('input[data-origin]').each(function(){
						var ob = $(this);
						ob.val(ob.data('origin'));
					});
				}
			});
			$('#credentialUpdate').on('click',function(){
				var param = $.extend({},gParam);
				param.secretType = $('#secretType').val()||'';
				param.newPassword  = $('#credential').val();
				$a.ajax({
					url: '/zdbapi/setNewPassword',
					data:param,
					success: function(res){
						gCommon.alert('정상적으로 변경되었습니다.');
						$('#zdbServiceTabs').setTabIndex(0);
					}
				})
			});
			$('#gridResource').alopexGrid({
				autoColumnIndex: true,
				autoResize:false,
				width:1500,
				height: 400,
				columnMapping : [
					{ title:'name', key : 'name', width : '360px', sorting : true, align: 'left' },
					{ title:'status', key : 'status' , width: '80px', align: 'center',render : function( value, data, render, mapping) {
						var cond = data.condition;
						var re = '';
						
						if(!cond){
							re = '준비중';
						}else if(cond.status == 'True'){
							re = 'Running';
						}else{
							re = '<span class="cell Warning">Error <span><span title="'+cond.reason+":"+cond.message+'"> !</span>';	
						};
						return re;
					}},
					{ title:'role', key : 'role' , width: '130px', align: 'center'},
					{ title:'node', key : 'node' , width: '130px', align: 'center'},
					{ title:'cpu(m)', key : 'cpu' , width: '140px', align: 'center'},
					{ title:'memory(Mi)', key : 'memory' , width: '140px', align: 'center'},
					{ title:'disk(Gi)', key : 'disk' , width: '140px', align: 'center'},
					{ title:'restart',key:'restart',width:'60px', align: 'center',render: function( value, data, render, mapping){
						var re = $('<button class="Button btn-restart">재시작</button>').on('click',function(){
							fn_restartPod(data);
						});
						return re;
					}},
					{ title:'log',key:'log',width:'60px', align: 'center',render: function( value, data, render, mapping){
						var re = $('<button class="Button btn-log">로그</button>').on('click',function(){
							fn_viewLog(data);
						});
						return re;
					}}
				],
			});
			function fn_restartPod(data){
				var param = {
						serviceType:gService.serviceType,
						namespace:gService.namespace,
						serviceName:gService.serviceName,
						podName:data.name
				}
				$a.ajax({
					url: '/zdbapi/restartPod',
					data:param,
					success: function(res){
						console.log(res);
					}
				});
			}
			function fn_viewLog(data){
				window.open("/zdb02/zdb0200p02?namespace="+gService.namespace+"&serviceName="+gService.serviceName+"&podname="+data.name);
			}
			//서비스 정보 조회
			function fn_getService(){
				$a.ajax({
					url: '/zdbapi/getServiceoverview',
					data:gParam,
					success: function(res){
						if(!res.serviceoverview){
							console.log('no data');
							return;
						};
						var service = gfn_convertServiceData(res.serviceoverview);
						
						gCurrentNamespace = service.namespace;
						gService = service;
						fn_displayService(service);
						
						var rsSpec = gCommon.getObjectByIdx(service.resourceSpecOfPodMap,0)||{};
						var psSpec = gCommon.getObjectByIdx(service.persistenceSpecOfPodMap,0)||{};
						$('#configInfo').zdbui_setContents({cpu:rsSpec.cpu,memory:rsSpec.memory,disk:psSpec.size});
						var podData = (function(service){
							var list = [];
							var pods = service.pods;
							for(var i = 0 ; i < pods.length; i++){
								var pod = pods[i];
								var condition = gfn_getReadyCondition(pod);
								var role = ""; 
								if(gService.serviceType == 'redis'){
									if(pod.metadata.labels.role == "metrics")continue;
									else if(pod.metadata.labels.role == 'slave'){
										role = 'slave(readOnly)'; 
									}else{
										role = pod.metadata.labels.role
									}
								}else{
									role = pod.metadata.labels.component;
								};
								list.push({
									name: pod.metadata.name,
									condition: condition,
									role: role,
									node: pod.spec.nodeName								
								});	
							}
							return list; 
						}(service));
						
						//cpu,memory 셋팅 - 임시 
						podData = (function(data){
							var list = [];
							//return list;//temp
							for(var i = 0 ; i < data.length;i++){
								var ob = data[i];
								$a.ajax({
									url: '/zdbapi/getPodMetrics',
									async:false,
									method:'get',
									data:{
										namespace:gParam.namespace,
										podName:ob.name
									},
									success:function(res){
										try{
											var cl = res.podMetrics.metricsCpuUsage;
											var ml = res.podMetrics.metricsMemoryUsage ;
											var dl = service.diskUsageOfPodMap;
											if(cl){
												ob.cpu = (cl.length ? cl[cl.length-1].value:'') / 1000 + ' / ' + service.resourceSpecOfPodMap[ob.name].cpu;
											}
											if(ml && ml.length > 0){
												ob.memory = ((ml.length? ml[ml.length-1].value:'') / (1024*1000)).toFixed(2) + ' / ' + service.resourceSpecOfPodMap[ob.name].memory;
											}
											ob.disk = ' / ' + psSpec.size;
											if(dl && dl[ob.name]){
												ob.disk = (dl[ob.name].used / (1024*1000)).toFixed(2) + ob.disk;
											}
										}catch(e){ 
											//console.log(e);
										}
										list.push(ob);
									}
								});
							};
							return list;
						}(podData));
						$('#gridResource').alopexGrid('dataSet',podData);//dataset tab1 end
						
						//tab2 스케일
						fn_setSlider('memory',gSliderConstants[gParam.serviceType].memory.getIndex(rsSpec.memory));
						$('#clusterSlaveCount').val(gService.clusterSlaveCount);
						
						/*
						//tab4 configuration
						if(gParam.serviceType == G_SERVICE_TYPE_MARIA){
							var r = new RegExp('[a-z-]+=.+','gmi');
							var ar = service.configMaps[0].data["my.cnf"].match(r);
							var js = ar.reduce(function(a, value, key){
								var t = value.split('=');
								//.replace(/(-[a-z]{1})/g,function($1){return $1.replace('-','').toUpperCase()})
								a[t[0]]=t[1];
								return a; 
							}, {});
							$('#configTable').zdbui_setContents(js);							
						}
						*/
					}
				});
			};
			
			function fn_getConnectionInfo(){
				$a.ajax({
					url: '/zdbapi/getConnectionInfo',
					data:gParam,
					success: function(res){
						var connectionInfo = res.connectionInfo || {};
						connectionInfo.credential = atob(connectionInfo.credetial);
						connectionList = connectionInfo.connectionList;
						
						$('#connectionInfoTable').zdbui_setContents(connectionInfo);
						if(connectionList && connectionList.length>0){
							for(var i=0; i < connectionList.length ;i++){
								var ob = connectionList[i];
								$('input[name='+ob.connectionType+ob.role+'ConnectionString]').val(ob.connectionString).attr('data-origin',ob.connectionString);
								$('input[name='+ob.connectionType+ob.role+'ConnectionLine]').val(ob.connectionLine).attr('data-origin',ob.connectionLine);
							};
						}
					}
				});
			};
			//서비스 display
			function fn_displayService(ob){
				var serviceDiv = $('#divService');
				
				serviceDiv.html('');
				serviceDiv.html(gfn_getServiceDetailTemplate({
					namespace:ob.namespace,
					serviceType:ob.serviceType,
					serviceName:ob.serviceName,
					status:ob.status.toLowerCase(),
					statusMessage:ob.statusMessage||'',
					version:ob.version,
					crtTime:ob.crtTime,
					updTime:ob.updTime
				}));
			}
			
			$(document).on('click','.connectionInfoCopy,#credentialCopy',function(e){
				var target = e.target.id == "credentialCopy" ? $('#credential') : $(this).prev();
				var msg = '';
				if(target.val() == ''){
					msg = '복사할 내용이 없습니다.';	
				}else if(target.is(':visible')){
					gCommon.copyToClipboard(target);
					msg = (target.get(0).id == 'credential'?'Credential이 복사되었습니다': 'Connection String이 복사되었습니다.');
				}else{
					target.show();
					gCommon.copyToClipboard(target);
					target.hide();
					msg = 'Connection Line이 복사되었습니다.';
				}
				var ob = $(this).parent().find(".connectionInfoCopyed").html(msg).show();
				setTimeout(function(){
					ob.hide(1000);
				},1000);
			})			
			//publicConnectionInfo
			/*tab1 end*/
			
			/*tab2 start 스케일 */
			
			var memorySlider = document.getElementById('memorySlider');
			
			var sliderConstants = gSliderConstants[gParam.serviceType];
			noUiSlider.create(memorySlider, {
				start:[1],
				snap: true,
				connect: [true,false],
				range: sliderConstants.memory.range,
				pips: {
					mode: 'steps',
					density: 100,
					format: {
					  to: function ( value ) {
						return sliderConstants.memory.getValue(value);
					  },
					  from: function ( value ) {
						return value;
					  }
					}
				}
			}).on('slide', function ( values, handle ) {
				fn_setSliderText('memory',parseInt(values[handle]));
			});
			function fn_setSlider(type,idx){
				var slider = $('#'+type+'Slider')[0];
				if(idx < 0)idx = 0;
				slider.noUiSlider.set(idx);
				fn_setSliderText(type,idx)
			};
			function fn_setSliderText(type,idx){
				$('#'+type+'Info').html(sliderConstants[type].getValue(idx));
			};
			
			$('#updateScaleUp').on('click',function(){
				var data = $.extend({},gParam,{
					cpu:gSliderConstants[gParam.serviceType].cpu.value[parseInt(memorySlider.noUiSlider.get())],
					memory:gSliderConstants[gParam.serviceType].memory.value[parseInt(memorySlider.noUiSlider.get())]
				});
				$a.ajax({
					url: '/zdbapi/updateScaleUp',
					data:data,
					success: function(res){
						gCommon.alert('스케일 정보를 수정 요청 하였습니다.');
						fn_getService();
					}
				});
			});
			$('#updateScaleOut').on('click',function(){
				var data = $.extend({},gParam,{
					clusterSlaveCount:$('input[name=clusterSlaveCount]').val()
				});
				$a.ajax({
					url: '/zdbapi/updateScaleOut',
					data:data,
					success: function(res){
						gCommon.alert('스케일 정보를 수정 요청 하였습니다.');
					}
				});
			});
			
			if(gParam.serviceType == G_SERVICE_TYPE_REDIS){
				$a.ajax({
					url: '/zdbapi/getNodeCount',
					data:data,
					success: function(res){
						$('#clusterSlaveCount').attr('max',res.nodes);
					}
				});				
			};
			/*tab2 end 스케일*/

			/*tab3 start 모니터링*/
			function fn_getMonitoring(){
				$a.ajax({
					url: '/zdbapi/getMonitoringPanels',
					data:gParam,
					success: function(res){
						var service = gfn_convertServiceData(res.serviceoverview);
						fn_getPanels(service);
					}
				});
			};
			function fn_getPanels(service){
				console.log(service);
				if(service.serviceType == "mariadb") {
					var grafanaUrl = "http://grafana.zdb-dev.jp-tok.containers.mybluemix.net/d-solo/_tiGI-Niz/zdb-mariadb-summary?refresh=1m&orgId=1"
						+ "&var-namespace=" + service.namespace 
						+ "&var-service=" + service.serviceName + "-mariadb";
					
					/* System */
					var iframePanelCpu = document.createElement("iframe");
					iframePanelCpu.setAttribute("src", grafanaUrl + "&panelId=396");
					var panelCpu = document.getElementById('panelCpu');
					panelCpu.innerHTML = "";
					panelCpu.appendChild(iframePanelCpu);
					
					var iframePanelMemory = document.createElement("iframe");
					iframePanelMemory.setAttribute("src", grafanaUrl + "&panelId=398");
					var panelMemory = document.getElementById('panelMemory');
					panelMemory.innerHTML = "";
					panelMemory.appendChild(iframePanelMemory);
					
					var iframePanelNetwork = document.createElement("iframe");
					iframePanelNetwork.setAttribute("src", grafanaUrl + "&panelId=400");
					var panelNetwork = document.getElementById('panelNetwork');
					panelNetwork.innerHTML = "";
					panelNetwork.appendChild(iframePanelNetwork);
					
					/* Connection & Table */
					var iframePanelConnections = document.createElement("iframe");
					iframePanelConnections.setAttribute("src", grafanaUrl + "&panelId=92");
					var panelConnections = document.getElementById('panelConnections');
					panelConnections.innerHTML = "";
					panelConnections.appendChild(iframePanelConnections);
					
					var iframePanelThread = document.createElement("iframe");
					iframePanelThread.setAttribute("src", grafanaUrl + "&panelId=10");
					var panelThread = document.getElementById('panelThread');
					panelThread.innerHTML = "";
					panelThread.appendChild(iframePanelThread);
					
					var iframePanelTablelack = document.createElement("iframe");
					iframePanelTablelack.setAttribute("src", grafanaUrl + "&panelId=32");
					var panelTablelack = document.getElementById('panelTablelack');
					panelTablelack.innerHTML = "";
					panelTablelack.appendChild(iframePanelTablelack);
					
					/* Query & Replication */
					var iframePanelQps = document.createElement("iframe");
					iframePanelQps.setAttribute("src", grafanaUrl + "&panelId=410");
					var panelQps = document.getElementById('panelQps');
					panelQps.innerHTML = "";
					panelQps.appendChild(iframePanelQps);
					
					var iframePanelReplicationdelay = document.createElement("iframe");
					iframePanelReplicationdelay.setAttribute("src", grafanaUrl + "&panelId=404");
					var panelReplicationdelay = document.getElementById('panelReplicationdelay');
					panelReplicationdelay.innerHTML = "";
					panelReplicationdelay.appendChild(iframePanelReplicationdelay);
					
					var iframePanelSqlthread = document.createElement("iframe");
					iframePanelSqlthread.setAttribute("src", grafanaUrl + "&panelId=408");
					var panelSqlthread = document.getElementById('panelSqlthread');
					panelSqlthread.innerHTML = "";
					panelSqlthread.appendChild(iframePanelSqlthread);
					
					var iframePanelIothread = document.createElement("iframe");
					iframePanelIothread.setAttribute("src", grafanaUrl + "&panelId=406");
					var panelIothread = document.getElementById('panelIothread');
					panelIothread.innerHTML = "";
					panelIothread.appendChild(iframePanelIothread);
				}
				else if (service.serviceType == "redis") {
					var grafanaUrl = "http://grafana.zdb-dev.jp-tok.containers.mybluemix.net/d-solo/EbEby-Niz/zdb-redis-summary?refresh=1m&orgId=1"
						+ "&var-namespace=" + service.namespace 
						+ "&var-service=" + service.serviceName + "-master"
						+ "&var-container=" + service.serviceName;
					
					/* System */
					var iframePanelCpu = document.createElement("iframe");
					iframePanelCpu.setAttribute("src", grafanaUrl + "&panelId=12");
					var panelCpu = document.getElementById('panelCpu');
					panelCpu.innerHTML = "";
					panelCpu.appendChild(iframePanelCpu);
					
					var iframePanelMemory = document.createElement("iframe");
					iframePanelMemory.setAttribute("src", grafanaUrl + "&panelId=14");
					var panelMemory = document.getElementById('panelMemory');
					panelMemory.innerHTML = "";
					panelMemory.appendChild(iframePanelMemory);
					
					var iframePanelNetwork = document.createElement("iframe");
					iframePanelNetwork.setAttribute("src", grafanaUrl + "&panelId=16");
					var panelNetwork = document.getElementById('panelNetwork');
					panelNetwork.innerHTML = "";
					panelNetwork.appendChild(iframePanelNetwork);
					
					/* Keys */
					var iframePanelItems = document.createElement("iframe");
					iframePanelItems.setAttribute("src", grafanaUrl + "&panelId=20");
					var panelItems = document.getElementById('panelItems');
					panelItems.innerHTML = "";
					panelItems.appendChild(iframePanelItems);
					
					var iframePanelExpiringvsnot = document.createElement("iframe");
					iframePanelExpiringvsnot.setAttribute("src", grafanaUrl + "&panelId=24");
					var panelExpiringvsnot = document.getElementById('panelExpiringvsnot');
					panelExpiringvsnot.innerHTML = "";
					panelExpiringvsnot.appendChild(iframePanelExpiringvsnot);
					
					var iframePanelExpired = document.createElement("iframe");
					iframePanelExpired.setAttribute("src", grafanaUrl + "&panelId=8");
					var panelExpired = document.getElementById('panelExpired');
					panelExpired.innerHTML = "";
					panelExpired.appendChild(iframePanelExpired);
					
					/* Commands */
					var iframePanelExecuted = document.createElement("iframe");
					iframePanelExecuted.setAttribute("src", grafanaUrl + "&panelId=4");
					var panelExecuted = document.getElementById('panelExecuted');
					panelExecuted.innerHTML = "";
					panelExecuted.appendChild(iframePanelExecuted);

					var iframePanelCalls = document.createElement("iframe");
					iframePanelCalls.setAttribute("src", grafanaUrl + "&panelId=10");
					var panelCalls = document.getElementById('panelCalls');
					panelCalls.innerHTML = "";
					panelCalls.appendChild(iframePanelCalls);
					
					var iframePanelHits = document.createElement("iframe");
					iframePanelHits.setAttribute("src", grafanaUrl + "&panelId=18");
					var panelHits = document.getElementById('panelHits');
					panelHits.innerHTML = "";
					panelHits.appendChild(iframePanelHits);
					
					
				}
				else {
					// TODO
				}
				
			}
			/*tab3 end 모니터링*/
			
			/*tab4 start 환경설정 */
			var dbConfigForm = $('form[name=dbConfig]');
			
			if(gParam.serviceType == G_SERVICE_TYPE_REDIS){
				dbConfigForm.validator({
				    elements :{ 
				        'timeout': {rule:{required:true,min:0,max:3600}}
				       ,'tcp-keepalive': {rule:{required:true,min:0,max:3600}}
				       ,'maxmemory-samples': {rule:{required:true,min:1,max:10}}
				       ,'slowlog-log-slower-than': {rule:{required:true,min:-1,max:12000}}
				       ,'slowlog-max-len': {rule:{required:true,min:1,max:256}}
				       ,'hash-max-ziplist-entries': {rule:{required:true,min:0,max:65535}}
				       ,'hash-max-ziplist-value': {rule:{required:true,min:0,max:65535}}
				       ,'list-max-ziplist-size': {rule:{required:true,min:-5,max:5}}
				       ,'zset-max-ziplist-entries': {rule:{required:true,min:0,max:65535}}
				       ,'zset-max-ziplist-value': {rule:{required:true,min:0,max:65535}}
				    }
				});				
			};

			$('#saveVariables').on('click',function(){ //시스템 변수 적용
				if(!dbConfigForm.validate()){
					gCommon.alert(gMessage.notValidInput);
					return;
				};
				var param = $.extend({},gParam, dbConfigForm.serializeObject());
				$a.ajax({
					url: '/zdbapi/updateDBVariables',
					data:param,
					success: function(res){
						gCommon.alert(gMessage.saveSuccess);
						gCommon.movePage('/zdb02/zdb0200',{selectedNamespace:gCurrentNamespace});
					}
				});
			});
			function fn_getConfigurationInfo(){
				$a.ajax({
					url: '/zdbapi/getDBVariables',
					data:gParam,
					success: function(res){
						var dbConfigurations = res.dbConfigurations
						if(gParam.serviceType == G_SERVICE_TYPE_MARIA){
							if(dbConfigurations){
								var tr = '';
								for(var i = 0 ; i < dbConfigurations.length;i++){
									var ob = dbConfigurations[i];
									tr= tr +' <tr> <th>'+ob.name+'</th> <td>'
									       + '		<input type="text" id="'+ob.name+'" name="'+ob.name+'" class="Textinput" value="'+ob.value+'"/>'
									       + '		<span class="info-text">'+ob.valueRange+'</span> '
									       + '		<p data-for="'+ob.name+'" class="warn-text"></p>'
									       + '	</td> </tr>';
								};
								$('#serviceConfigTable tbody').html('').append(tr);
							}
						}else{
							dbConfigForm.zdbui_setContents(dbConfigurations);							
						}
					}
				});
			};
			/*tab4 end 환경설정 */
			/* tab5 start backup */
			var backupForm = $('form[name=backupForm]'); 
			backupForm.find('#searchBackup').on('click',function(){
				fn_getBackupInfo();
			});
			$('#gridBackup').alopexGrid({
				autoColumnIndex : true,
				autoResize : false,
				width:970,
				height: 400,
				columnMapping : [
					{ title:'백업일자', key : 'startDatetime' , width: '130px', align: 'center',render:function(value,data,render,mapping){
						var isValid = moment(value,'YYYYMMDDHHmmss').isValid();
						return isValid ? moment(value,'YYYYMMDDHHmmss').format('YYYY-MM-DD') : '';
					}},
					{ title:'시작시간', key : 'startDatetime' , width: '160px', align: 'center',render:function(value,data,render,mapping){
						var isValid = moment(value,'YYYYMMDDHHmmss').isValid();
						return isValid ? moment(value,'YYYYMMDDHHmmss').format('YYYY-MM-DD HH:mm:ss') : '';
					}},
					{ title:'완료시간', key : 'completeDatetime' , width: '160px', align: 'center',render:function(value,data,render,mapping){
						var isValid = moment(value,'YYYYMMDDHHmmss').isValid();
						return isValid ? moment(value,'YYYYMMDDHHmmss').format('YYYY-MM-DD HH:mm:ss') : '';
					}},
					{ title:'파일사이즈<br/>(byte)', key : 'fileSize' , width: '80px', align: 'center'},
					{ title:'다운로드', key : 'archiveFileSize' , width: '90px', align: 'center',render:function(value,data,render,mapping){
						var re = $('<button class="Button btn-download">다운로드</button>').on('click',function(){
							fn_downloadBackupFile(data);
						});
						return re;
					}}
				],
				message: {
					nodata: gMessage.gridNodata
				}
			});		
			function fn_getBackupScheduleInfo(){
				var param = {
						namespace : 'zdb-redis',
					    serviceType : 'redis',
					    serviceName : 'zdb-redis-chkim-1', //temp
					};
				$a.ajax({
					url: '/zdbapi/getSchedule',
					data:param,
					success: function(res){
						if(res.schedule){
							console.log(res.schedule.startTime);
							backupForm.zdbui_setContents(res.schedule);
							backupForm.find('#startTime').setData({date :res.schedule.startTime});
						};
					}
				});					
			};
			function fn_getBackupInfo(){
				var param = {
					namespace : gService.namespace,
				    serviceType : gService.serviceType,
				    serviceName : 'zdb-redis-chkim-1',//temp
				};
				
				$a.ajax({
					url: '/zdbapi/getBackupList',
					data:param,
					success: function(res){
						var list = res.backupList;
						$('#gridBackup').alopexGrid('dataSet',list);
					}
				});				
			};	
			function fn_downloadBackupFile(data){
				console.log('fn_downloadBackupFile todo');
			};
			/* tab5 end backup */
			
			
			/*tab6 start 이벤트*/
			$('#gridEvent').alopexGrid({
				autoColumnIndex: true,
				autoResize:false,
				width: 1500,
				height: 400,
				columnMapping : [  
					{ title:'Last seen', key : 'lastTimestamp' , width: '180px', align: 'center'},
					{ title:'Kind', key : 'kind' , width: '180px', align: 'left'},
					{ title:'name', key : 'name' , width: '300px', align: 'left'},
					{ title:'reason', key : 'reason' , width: '190px', align: 'left'},
					{ title:'message', key : 'message' , width: '400px', align: 'left'}
				],
				message: {
					nodata: gMessage.gridNodata
				}
			});			
			
			$('#eventStartDate').val(moment().subtract(3, 'days').format('YYYY-MM-DD'));
			$('#eventEndDate').val(moment().format('YYYY-MM-DD'));
			$('#eventEndTime').setData({date :'23:59'});
			function fn_getEventInfo(){
				var param = $('form[name=eventForm]').serializeObject();
				param = $.extend({},gParam,param);
				param.startTime = moment($('#eventStartDate').val()+$('#eventStartTime').getData().date.replace(/(AM|PM)/,''),'YYYY-MM-DDHH24 : mm').format('YYYY-MM-DD HH:mm:ss');
				param.endTime = moment($('#eventEndDate').val()+$('#eventEndTime').getData().date.replace(/(AM|PM)/,'')+':59','YYYY-MM-DDHH24 : mm:ss').format('YYYY-MM-DD HH:mm:ss');
				param.keyword=param.keyword||'-';
				
				$a.ajax({
					url: '/zdbapi/getEvents',
					data:param,
					success: function(res){
						var list = res.serviceEvents;
						$('#gridEvent').alopexGrid('dataSet',list);
					}
				});				
			};			
			$('#searchEvent').on('click',function(){
				fn_getEventInfo();
			});
			$('input[name=keyword]').pressEnter(function(evt){
				fn_getEventInfo();
			});
			//page Start
			fn_getService();
			$('#zdbServiceTabs').setTabIndex(0);	
		};

	});
</script>