<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<head th:fragment="mainHead">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<th:block layout:fragment="page_head"></th:block>
    <link rel="icon" href="/styles/images/favicon_zdb1.ico" ></link>
	<!-- alopexui_theme default -->
	<link rel="stylesheet" href="/styles/css/alopex/alopex-ui-default.css"></link>
	<!-- end alopexui_theme -->
	<!-- alopexui_basic -->
	<link rel="stylesheet" href="/styles/css/alopex/src/alopex-ext.css"></link>
	<link rel="stylesheet" href="/styles/css/alopex/alopex-grid.css" />
	<!-- end alopexui_basic -->
	<link rel="stylesheet" href="/styles/css/cloudzcp-grid.css?v=20190430"></link>
	<link rel="stylesheet" href="/styles/css/cloudzcp-layout.css?v=20190430"></link>
	<link rel="stylesheet" href="/styles/css/cloudzcp-ui.css?v=20190627"></link>
	<link rel="stylesheet" href="/styles/css/cloudzdb-etc.css?v=20190627"></link>
	<link rel="stylesheet" href="/styles/css/font-awesome.css"></link>
	<th:block layout:fragment="page_css"></th:block>
	
	<script type="text/javascript" src="/script/libs/jquery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/script/libs/alopex/alopex-ui.min.js"></script>
	<script type="text/javascript" src="/script/libs/alopex/src/alopex-ext.min.js"></script>
	<script type="text/javascript" src="/script/libs/alopex/src/alopex-ext-setup.js"></script>	
	<script type="text/javascript" src="/script/libs/alopex/alopex-grid.min.js"></script>
	<script type="text/javascript" src="/script/libs/alopex/alopex-grid-excel.min.js"></script>
	<script type="text/javascript" src="/script/libs/etc/moment.min.js"></script>
	<script type="text/javascript" src="/script/libs/etc/jquery.cookie.js"></script>
	<script type="text/javascript" src="/script/libs/etc/bignumber.js"></script>
	<script type="text/javascript" src="/script/app/common/alopex-common.js?v=20190430"></script>
	<script type="text/javascript" src="/script/app/common/cloudzdb-ui.js?v=20190522"></script>
	<script type="text/javascript" src="/script/app/common/constants.js?v=20190430"></script>
	<script type="text/javascript" src="/script/app/common/cloudutil.js?v=20190430"></script>
	<script type="text/javascript" src="/script/app/common/cloudzdb-validator.js?v=20190430"></script>	
	<th:block layout:fragment="page_js"></th:block>
	<script type="text/javascript">

	/* alopex 다국어 설정 추가 (2019-11-14) */
	$a.setup({
		locale:  $.cookie('Accept-Language')
	})
	
	$a.page(function() {
		this.init = function() {
			$('#gSelchgLocale').on('change',function(){
				
				//this.value
				console.log('[[${session.acceptLanguage}]]');
				
				var indexLocation  = location.href ; 
				if(indexLocation.indexOf('&locale=') != -1 || indexLocation.indexOf('?locale=') != -1){
					indexLocation = indexLocation.substring(0 , indexLocation.length - 2)+this.value;
				}else{
					if(indexLocation.indexOf('?') != -1){
						indexLocation = indexLocation+"&locale="+this.value;
					}else{
						indexLocation = indexLocation+"?locale="+this.value;
					}
				}
				location.href= indexLocation;
			});
			
			$('#logout').on('click',function(){
				gCommon.setSelectedNamespace('');
				location.href='/logout';
			});	
		}
	});
	
	function gChgLocale(val){

		var indexLocation  = location.href ; 
		if(indexLocation.indexOf('&locale=') != -1 || indexLocation.indexOf('?locale=') != -1){
			indexLocation = indexLocation.substring(0 , indexLocation.length - 2)+val;
		}else{
			if(indexLocation.indexOf('?') != -1){
				indexLocation = indexLocation+"&locale="+val;
			}else{
				indexLocation = indexLocation+"?locale="+val;
			}
		}
		location.href= indexLocation;
	}
	</script>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var gUserId = [[${session.userInfo.userId}]];
		var gUserName = [[${session.userInfo.username}]];		
		var gIsClusterAdmin = ([[${session.userInfo.clusterRole}]]) == 'cluster-admin';
		var gIsZdbAdmin = [[${session.userInfo.zdbAdmin}]];

		/*]]>*/
	</script>
	
</head>
<body th:fragment="mainBody">
<div class="cp-wrapper">
	<!-- header -->
	<header class="cp-header">
		<h1 class="logo"><img src="/styles/images/cloudzlogo.png" alt="CLOUD Z Database"></h1>
		<!-- utils -->
		<div class="header-utils">
			<a class="user" th:text="${session.userInfo.firstName}"></a>
			<div class="user-menus">
			    <!-- 임시 다국어 선택 -->
				<ul class="dropmenu-list">
					<li class="selected"> <a th:href="${@environment.getProperty('cloudzcp.url')} + |/my/profile|"><span th:text="#{label.common.dropmenu.my.profile}" ></span><span class="newpop"></span></a></li>
					<li><a th:href="${@environment.getProperty('cloudzcp.url')} + |/my/pwd|"><span th:text="#{label.common.dropmenu.my.pwd}" ></span><span class="newpop"></span></a></li>
					<li><a th:href="${@environment.getProperty('cloudzcp.url')} + |/|"><span th:text="#{label.common.dropmenu.my.zcp}" ></span><span class="newpop"></span></a></li>
					<li th:if="${session.userInfo.clusterRole=='cluster-admin' || session.userInfo.zdbAdmin == true }" ><a href="/zdb06/zdb0600"><span th:text="#{label.common.dropmenu.my.default.settings}" ></span></a></li>
<!-- 					<li>				
						<div>
							<select name="gSelchgLocale" id="gSelchgLocale" style="height: 23px;width:170px;border:none;font-size:15px;color:#666666;font-family:'NotoKrR';">
								<option th:text="#{label.common.button.select.locale}" value=""></option>
								<option th:text="#{label.common.button.select.korean}" value="ko"></option>
								<option th:text="#{label.common.button.select.english}" value="en"></option>
							</select>				
						</div>	
					</li> -->
					<li id="logout"><span th:text="#{label.common.dropmenu.my.logout}" ></span></li>
				</ul>
			</div>
		</div>
		<!-- /utils -->
		<!-- locale  -->
		<div class="header-locales">
			<a class="locale" th:text="#{label.common.button.select.locale}"></a>		
			<div class="locale-menus">
				<ul class="dropmenu-list">
					<li> <span th:text="#{label.common.button.select.korean}" onclick="gChgLocale('ko');"></span></li>
					<li> <span th:text="#{label.common.button.select.english}" onclick="gChgLocale('en');"></span></li>
				</ul>			
			</div>
		</div>	
		<!-- /locale  -->	
	</header>
	<!-- //header -->
	<!-- main-contents -->
	<div class="cp-container">
		<div id="loading">
			<div id="loading-image">
				<img src="/styles/images/ajax-loader.gif" alt="Loading..." />
				<p th:text="#{label.common.msg.loading}" id="loading-message"></p>
			</div>
		</div>
		<div class="lnb-wrap db-lnb">
			<nav>
				<ul>
					<li><a href="/zdb/dashboard"><img class="icon-img" src="/styles/images/ico-lnbname.png"><span class="lnb-name">ZDB&nbsp;&nbsp;[[${@environment.getProperty('cluster')}]]</span></a></li>
				    <th:block th:each="parent, iterStat : ${addOnServiceMataData}">
                        <li th:classappend="${parent.folder == activePathInfo.firstPath || parent.url == activePathInfo.fullPath? 'selected':''}">
                            <a th:if="${(session.userInfo.clusterRole=='cluster-admin' || session.userInfo.zdbAdmin == true )&& iterStat.index == 0}" th:href="${parent.url} != '' ? ${parent.url} : '#'" th:target="|_${parent.target}|" th:inline="text"><i class="fa fa-plus-circle mr5"></i>[[${parent.name}]]</a>
                            <a th:if="${session.userInfo.clusterRole!='cluster-admin' && session.userInfo.zdbAdmin != true && iterStat.index == 0}" th:href="${parent.url} != '' ? ${parent.url} : '#'" th:target="|_${parent.target}|" th:text="${parent.name}"> </a>
                            <a th:if="${iterStat.index != 0}" th:href="${parent.url} != '' ? ${parent.url} : '#'" th:target="|_${parent.target}|" th:text="${parent.name}"> </a>
                            <!-- sub -->
                            <ul class="lnb-sub" th:if="${not #lists.isEmpty(parent.sub)}" th:style="${parent.folder == activePathInfo.firstPath} ? 'display:block' : 'display:none'">
                                <th:block th:each="child, iterStat : ${parent.sub}">
	                                <li th:classappend="${child.url == activePathInfo.fullPath ? 'selected':''}">
	                                    <a th:href="${child.url} != '' ? ${child.url} : '#'" th:target="|_${child.target}|" th:text="|-${child.name}|"></a>
	                                </li>
	                            </th:block>
                            </ul>
                        </li>
                    </th:block>	
					<li>
						<button class="Button btn-toggle lnb-close">접기</button>
					</li>
				</ul>
			</nav>
		</div>
		<!-- //lnb -->
		<!--  -->
		<span id="gSelectAll" name="gSelectAll" th:text="#{label.common.select.all}" style="display:none;"></span>
		<span id="gSystemError" name="gSystemError" th:text="#{label.common.msg.alert.system.error}" style="display:none;"></span>	
		<span id="gChangeSetting" name="gChangeSetting" th:text="#{label.common.msg.alert.chage.setting}" style="display:none;"></span>	
		<span id="gCredentialConfirmTitle" name="gCredentialConfirmTitle" th:text="#{label.zdb0200.p03.title}" style="display:none;"></span>
		<span id="gConfirmPopupTitle" name="gConfirmPopupTitle" th:text="#{label.common.popup.title.confirm}" style="display:none;"></span>	
		<span id="gAlertPopupTitle" name="gAlertPopupTitle" th:text="#{label.common.popup.title.alert}" style="display:none;"></span>			
		<!-- contents -->
		<th:block layout:fragment="content"> </th:block>
	</div>
</div>
</body>
</html>