<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
    <title></title>
</th:block>
<th:block layout:fragment="content">
<!-- location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide"> </ul>
		</div>
	</div>
	<div class="contents-box">
		
    </div>     
</th:block>
</html>