<div class="popup-wrap" id="divAlertPop">
	<div class="popup-alert" style="height:230px">
		<div class="popup-text">
			<div id="message"></div>
		</div>
	</div>
	<!--button-->
	<div class="popup-btn__wrap" style="width:100%">
		<button th:text="#{label.common.button.ok}" class="Button btn bg-gray ok"></button>
	</div>
	<!--//button-->	
</div>

<script type="text/javascript">
$a.page(function() {
	this.init = function() {
		$('#divAlertPop #message').html(gPopData.message);
		$('#divAlertPop button.ok').click(function(){
			$a.close('Y');
		});
	}
});
	
</script>