<div class="popup-wrap" id="divAlertPop">
	<div class="popup-alert">
		<div class="popup-text">
			<div id="message"></div>
		</div>
	</div>
	<!--button-->
	<div class="popup-btn__wrap" style="width:100%">
		<button th:text="#{label.common.button.ok}" class="Button btn bg-gray ok"></button>
	</div>
	<!--//button-->
</div>
<script type="text/javascript">
$a.page(function() {
	this.init = function() {
		//var sTitle = "백업 수행 결과1" ; 백업 수행 결과
		var sTitle =  '<span class="session-text__md orange">'+'[[#{label.common.msg.alert.title.backup}]]'+'</span>' ;
		$('.dialog_header').html(sTitle);
		
		$('#divAlertPop #message').html(gPopData.message);
		$('#divAlertPop button.ok').click(function(){
			$a.close('Y');
		});
	}
});
	
</script>