<div class="popup-wrap">
	<div class="popup-mcontents">
		<div class="popup-text">
			<span id="message"></span>
		</div>
	</div>
	<!--button-->
	<div class="popup-btn__wrap">
		<button class="Button btn bg-gray ok">확인</button>
		<button class="Button btn bg-gray no">취소</button>
	</div>
	<!--//button-->
</div>
<script type="text/javascript">
$a.page(function() {
	this.init = function(id,param) {
		$('#message').html(gPopData.message);
		$('button.ok').click(function(){
			$a.close('Y');
		});
		$('button.no').click(function(){
			$a.close('N');
		});	
	}
});
	
</script>