<div class="popup-wrap">
	<div class="popup-mcontents">
		<div class="popup-text">
			<span id="message"></span>
		</div>
	</div>
	<!--button-->
	<div class="popup-btn__wrap" style="width:100%">
		<button th:text="#{label.common.button.ok}" class="Button btn bg-gray ok"></button>
		<button th:text="#{label.common.button.cancel}"class="Button btn bg-gray no"></button>
	</div>
	<!--//button-->
</div>
<script type="text/javascript">
$a.page(function() {
	this.init = function(id,param) {
		let msg = gPopData.message ;
		let repMsg = msg.replaceAll("\n","<br>");
		
		$('#message').html(repMsg);
		
		//$('#message').html(gPopData.message);
		if(gPopData.okBtnMsg){
			$('button.Button.btn.bg-gray.ok').html(gPopData.okBtnMsg);
		}
		if(gPopData.noBtnMsg){
			$('button.Button.btn.bg-gray.no').html(gPopData.noBtnMsg);
		}
		$('button.ok').click(function(){
			$a.close('Y');
		});
		$('button.no').click(function(){
			$a.close('N');
		});	
	}
});
	
</script>