<div class="popup-wrap">
	<div class="popup-mcontents">
		<div class="popup-cont">
			<form id="credentialPopForm" name="credentialPopForm">
			<input class="Textinput" type="hidden" id="decodeCredential" name="decodeCredential"></input> 
			<input class="Textinput" type="hidden" id="confirm" name="confirm"></input>
			<div> 
				<div id="divMsg"></div>
				<div><span th:text="#{label.common.msg.credential.input}" ></span></div>
				<input class="Textinput" type="password" id="credential" name="credential"></input> 
				<button th:text="#{label.common.button.confirm}" class="Button btn btnConfirm" id="btnConfirm" style="display:none;"></button>
				<p data-for="confirm" class="warn-text"></p>
				<span th:text="#{label.common.msg.credential.location}" style="font-size:13px;color:blue;"></span>	
			</div>
			</form>
		<!--button-->
		<div class="popup-btn__wrap" style="width:100%">
			<button class="Button btn ok" id="btnOk" ></button>
			<button th:text="#{label.common.button.close}" class="Button btn popClose"></button>
		</div>			
		</div>
	</div>
</div>

<script type="text/javascript">
$a.page(function() {
    this.init = function(id, param) {
    	var confirmStr = "";
    	var form = $('form[name=credentialPopForm]');
    	form.find('#divMsg').html(param.msg||'')    	
    	var okBtn = $('.popup-btn__wrap').find('#btnOk'); 
    	okBtn.html(param.okBtnMsg||'[[#{label.common.button.ok}]]')
    	form.validator({
		    elements :{ 
		        'confirm': {rule:{required:true,equalTo:"ACCEPTED"}}
		    },
		    message:{
		    	'equalTo': "[[#{label.common.msg.credential.equal}]]"
		    }
		});	
    	
    	okBtn.on('click',function(){
    		var encodeStr = btoa($("#credential").val()) ;

			$a.ajax({
				url: '/zdbapi/getCredentialConfirm',
				data:{namespace:param.namespace ,serviceType:param.serviceType ,serviceName:param.serviceName,credential:encodeStr},
				success: function(res){
					console.log(res);
					confirmStr = res.result.result.credentialConfirm.confirm ;
					$('#confirm').val(confirmStr);
					if(form.validate()){
						$a.close('Y');					
					}else{
						return;
					}
				}
			});   
    	});	
    	
    	/* popup close  */
    	$('.popClose').on('click',function(){
    		$a.close();
    	});
    }
});
</script>