<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title>규칙 목록</title>
</th:block>
<th:block layout:fragment="page_css">
</th:block>
<th:block layout:fragment="content">
	<!-- Location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide">
			</ul>
		</div>
	</div>
	<!-- Contents -->
	<div class="contents-box">
		<!-- rule info area-->
		<div id="tabRules">
			<div class="top-area">
				<h2 class="title">규칙</h2>
				<div class="tag-wrap">
					<span class="tag">알림 발생을 위한 규칙을 관리합니다.</span>
				</div>
				<div class="btn-wrap__right">
					<button class="Button btn-ico__typeb btn-rules" id="btnRuleAdd">규칙 추가</button>
				</div>
			</div>
			<!-- search-wrap-->
			<div class="search-wrap Margin-top-40">
				<input class="Textinput srcinput" name="txtRuleKeyword" id="txtRuleKeyword" placeholder="검색어를 입력하세요." />
			</div>
			<div class="grid-line__wrap">
				<div id="ruleGrid"></div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	let gNamespaces = null;
	let gRuleList = [];
	$a.page(function() {
		this.init = function(id, param) {
			gNamespaces = gCommon.getNamespaceCombo($('#namespaces'))
			 .select({id:gSelectedNamespace})
			 .addHandler(function(e) {
				  gCommon.setSelectedNamespace(e.currentTarget.id);
				  gCommon.movePage('/zdb07/zdb0720',{selectedNamespace:gSelectedNamespace});
			  });
			
			$('#btnRuleAdd').on('click',function(){
				location.href = '/zdb07/zdb0721';
			});
			$('#txtRuleKeyword').on('input propertychange',function(){
				fn_filterRules();
			});
			let ruleGrid = $('#ruleGrid').alopexGrid({
				filteringHeader : false,
				message: { nodata: gMessage.gridNodata },
				enableDefaultContextMenu : false,
				autoColumnIndex : true,
				columnMapping : [
						{ key : 'id', title : 'id', width : '100px', align : 'center', sorting : 'number', hidden : true },
						{ key : 'namespace', title : '네임스페이스', width : '100px', align : 'left' },
						{ key : 'serviceName', title : '서비스', width : '150px', align : 'left',render:function(value,data){
							return $('<a href="#" style="font-size:15px;">' + value + '</a>').on('click',function(){ goRuleDetailPage(data); });
						}},
						{ key : 'type', title : '규칙 종류', width : '150px', align : 'left', render : function(value, data) { 
								return $('<a href="#" style="font-size:15px;">' + value + '</a>').on('click',function(){ goRuleDetailPage(data); });
						}},
						{ key : 'value', title : '임계치', width : '100px', align : 'center' },
						{ key : 'channel', title : '채널', width : '100px', align : 'left' },
						{ key : 'alert', title : '관리', width : '100px', align : 'center', render : function(value, data) { 
							let re = $('<button class="btn-ico del">').on('click',function(e){
								gCommon.confirm(value + '<br/> 규칙을 삭제 하시겠습니까?',function(){
									$a.ajax({
										url:'/zdbapi/deleteAlertRule',
										data:{namespace:data.namespace,alert:value,type:data.type,serviceName:data.serviceName},
										success:function(res){
											if(res.result.code != '4'){
												getAlertRules();
											}
										}
									});
								})
							});
							return re;
							}
						}],
				});
			getAlertRules();				
			function getAlertRules(){
				let namespace = gSelectedNamespace;
				if(namespace == G_NAMESPACE_ALL){
					namespace = gNamespaceList.map(function(d){return d.id}).join();
				} 
				$a.ajax({
					url:'/zdbapi/getAlertRules',
					data:{namespace:namespace},
					success:function(res){
						let list = res.alertRules;
						gRuleList = list;						
						fn_filterRules();
					}
				});
			}
			function goRuleDetailPage(data){
				gCommon.movePage('/zdb07/zdb0721',{namespace:data.namespace,alert:data.alert});
			}
			function fn_filterRules(){
				let searchText = $('#txtRuleKeyword').val();
				let filterList = gRuleList;
				if(searchText!=''){
					filterList = gRuleList.filter(function(ob){
						return ob.serviceName.toLowerCase().indexOf(searchText.toLowerCase()) > -1 
						     || ob.type.toLowerCase().indexOf(searchText.toLowerCase()) > -1; 
					});
				}
				ruleGrid.alopexGrid('dataSet',filterList);
				ruleGrid.alopexGrid('dataSort', [
					{"sortingColumn": 'namespace', "sortingDirection": "asc"},
					{"sortingColumn": 'serviceName', "sortingDirection": "asc"}
				]);
			}
			};
		});	

	</script>
</th:block>
</html>