<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title>Failover 관리</title>
</th:block>
<th:block layout:fragment="page_js">
	<script src="/script/app/common/cloudzdb-ui-z0200.js?v=20190523"></script>
</th:block>
<th:block layout:fragment="content">
	<!-- location -->
	<div class="locations-area">
		<div class="prj-list">   
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide">
			</ul>
		</div>
	</div>
	<div class="contents-box">
		<div class="top-area">
           <h2 class="title">Failover 관리</h2>
		</div>
		<div class="accor-contents__wrap">
			<!-- tab contents info detail-->
			<!-- grid -->
			<div class="btn-wrap" style="margin-bottom:">
<!-- 				<div class="btn-right">
					<button class="Button btn bg-red" id="btnSaveSchedule">저장</button>
				</div> -->
			</div>			
			<div class="grid-line__wrap mt5">
				<div id="gridFailover"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var gNamespaces = null; // 네임스페이스 콤보
		var gConfigData = null;		
		$a.page(function() {
			this.init = function() {
				
				let lastFailover = null;
				
				//  네임스페이스 콤보 목록 조회 
				gCommon.getNamespaceCombo($('#namespaces')).done(function(selector){
					gNamespaces = selector.addHandler(function(e) {
										 	gCommon.setSelectedNamespace(e.currentTarget.id);
										 	fn_getFailoverInfoList();
										 }).select({
										 	id:gSelectedNamespace
										 });
					
				});
				//??
				$('.Accordion').expandAll();
				
				//gridFailover setting
				let gridFailover = $('#gridFailover').alopexGrid({
					autoColumnIndex: true,
					height: 635,
					autoResize:true,
					rowInlineEdit:true,
					rowSelectOption:{
						clickSelect : true,
						singleSelect : true
					},
					cellSelectable:true,
					restoreFocusOnInvalidInlineEdit :true,
					leaveDeleted:true,
					columnMapping : [  
						{ title:'서비스이름', key : 'serviceName' , width: '250px',excludeFitWidth:true, align: 'left',render:function(value,data){
							var re = $('<a href="#" title="'+value+'">'+value+'</a>').html(value).on('click',function(){
								fn_setSelected2010Tab('tabService');
								gCommon.movePage('/zdb02/zdb0210',{namespace:data.namespace,serviceType:data.serviceType,serviceName:data.serviceName});
							});
							return re;
						}},
						{ title:'서비스종류', key : 'serviceType' , width: '100px', align: 'center',render:function(value){
							let img = {
									mariadb:'<img src="/styles/images/mariadb16.png" width="16px">',
									redis:'<img src="/styles/images/redis16.jpg" width="16px">'
								};
							let re = img[value]; 
							if(re) return re;	
						}},
						{ title:'Autofailover 설정', key : 'failoverEnabled' , width: '150px', align: 'center',render:function(value,data){
							let re = '';
							
							let switVal = value == 'true'?'on':'off';
							
							if (data.serviceType == 'mariadb'){
								// service type 이 mariadb 경우 버튼을 생성한다. 
								
								if(value !='running'){
									re = $('<div class="onoff-wrap" style="margin:auto"><button class="Button btn-'+switVal+'" data-value="'+switVal+'">'+switVal.toUpperCase()+'</button></div>').on('click',function(){
										// click 이벤트 발생시 action은 버튼 안에서 일어난다.

										//button 객체를 먼저 선언한다. 
										let t = $(this);
										let tButton = t.find('button');
										
										fn_getCredentialConfirm(data).done(function(result){
											// btn class 에따라 값을 바꿔서 셋팅해준다.
											let isEnable = true;
											if(tButton.hasClass('btn-on')) {
												isEnable = false;
											};				
											
											// confirm popup 결과 값에 따라 변경하도록 한다. 
											if(result == "Y"){
												$a.ajax({
													url: '/zdbapi/updateAutoFailoverEnable',
													method:'PUT',
													data:{namespace:data.namespace ,serviceType:data.serviceType ,serviceName:data.serviceName, enable:isEnable},
													success: function(res){
														if(res.result.code!='4'){
															if(res.result.code!='0'){
																gCommon.alert(res.result.message);
															}
															
															fn_getFailoverInfoList();
														}
													}
												})											
											}
										});	
									});
								} else{
									re = '<div id="divFailoverRunning" class="mr30"><img src="/styles/images/rotation_ani.gif" style="width: 20px;height: 20px;"></div>';
								}
							}
							return re;
						}},
						{ title:'Failover 상태', key : 'serviceFailOverStatus' , width: '150px', align: 'center', render:function(value){
							let re = 'Nomal';
							if(value == 'MasterToSlave'){
								re = "Failover"; 
							}
							return re;
						}},
						{ title:'Failover시간', key : 'serviceFailOverTime' , width: '250px',excludeFitWidth:true, align: 'center',render:function(value,data){
							let re = value;								
							return re;
						}}		
					],
					message: {
						nodata: gMessage.gridNodata
					},
					defaultSorting:{
						sortingColumn: "serviceName",
						sortingDirection: 'asc'
					},headerGroup: [
						{fromIndex:"backupExecType", toIndex:"fullExecutionTime", title:"전체백업"},
						{fromIndex:"incrementPeriod", toIndex:"incrExecutionTime", title:"증분백업"}
					],
				});		
				/* on/off 버튼 생성 스크립트  */
				function fn_getUseYnTemp(value){
					//MasterToSlave
					
					let v = value == 'on'? 'on':'off';
					return $('<div class="onoff-wrap"><button class="Button btn-'+v+'" data-value="'+value+'">'+v.toUpperCase()+'</button></div>');
				}
				
				function fn_getCredentialConfirm(data){
					let deferred = $.Deferred();
					let re = {};					
					
					let msg = "Auto Failover 기능을 적용합니다.<br>처음적용시 서비스가 재시작 됩니다." ;  // confirm massage 처리 순서 바꿈(2019-07-25)
					gCommon.confirm(msg,function(yn){
						/* parameter : namespace , serviceType , serviceName , credetial(popup에서 입력받음)  */
						gCommon.credentialApiConfirm({
					        data:{namespace:data.namespace ,serviceType:data.serviceType ,serviceName:data.serviceName, msg:'설정을 변경하시려면', okBtnMsg:'변경'},
					        callback : function(res){
					        	if(res == null){
					        		re = res || {};
									re.isExists = false;
									deferred.resolve(re);
					        	}else{
					        		re = res;
									re.isExists = true;
									deferred.resolve(re);				        		
					        	}
					        }
					    }); 
					}); 
					return deferred.promise();
				}
				
				function fn_getFailoverInfoList(){
					let param = $('form[name=eventForm]').serializeObject();
					
					$a.ajax({
						url: '/zdbapi/getFailoverList',
						data:{namespace:gSelectedNamespace},
						success: function(res){

							// 조회 후 list 객체 생성
							let list = res.serviceoverviews;
							
							//grid 에 데이터셋 생성
							gridFailover.alopexGrid('dataSet',list);
							
							let chkRun = false ;
							for(let l in list){
								let failoverEnabled = list[l].failoverEnabled ;
								if(failoverEnabled == "running")  chkRun = true;
							}
														
							if(chkRun){
				 				setTimeout(function(){  
				 					fn_getFailoverInfoList()
								},10000) 
							}
						}
					});				
				};			
				$('#searchEvent').on('click',function(){
					fn_getFailoverInfoList();
				});
				$('#btnSaveSchedule').on('click',function(e){
					fn_saveSchedule();
				})				
				function fn_saveSchedule(){
					gridFailover.alopexGrid('endRowInlineEdit');
					gCommon.confirm('변경된 정보를 저장하시겠습니까?',function(){
						let data = AlopexGrid.trimData(gridFailover.alopexGrid('dataGet',{state:'E'},{state:'A'},{state:'D'}));
						if(data.length > 0){
							for(let i in data){
								let d = $.extend(data[i],gParam);
							};
							$a.ajax({
								url: '/zdbapi/saveBackupSchedule',
								method:'put',
								data: {data:JSON.stringify(data)},
								success: function(res){
									fn_getFailoverInfoList();
								}
							});	
						};						
					})
				};				
			}
		});
	</script>
</th:block>
</html>