<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title th:text="#{label.zdb0720.title.header}"></title>
</th:block>
<th:block layout:fragment="page_css">
</th:block>
<th:block layout:fragment="content">
	<!-- Location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide">
			</ul>
		</div>
	</div>
	<!-- Contents -->
	<div class="contents-box">
		<!-- rule info area-->
		<div id="tabRules">
			<div class="top-area">
				<h2 th:text="#{label.zdb0720.title.top}" class="title" >  </h2>
				<div class="tag-wrap">
					<span th:text="#{label.zdb0720.tag.top}" class="tag"></span>
					<div class="search-wrap ">
						<input class="Textinput srcinput" name="txtRuleKeyword" id="txtRuleKeyword"  th:placeholder="#{label.common.search.message}" />		
					</div>	 			
				</div>
				
				<!-- 버튼 삭제 (2019-08-06) -->
<!-- 				<div class="btn-wrap__right">
					<button class="Button btn-ico__typeb btn-rules" id="btnRuleAdd">규칙 추가</button>
				</div> -->
			</div>
			<!-- search-wrap-->

			<div class="top-area">
	           <h2 class="title">MariaDB</h2>
          
			</div>			
			<div class="grid-line__wrap">
				<div id="gridRule"></div>
			</div>
			<div class="top-area" style="padding-top: 30px;">
	           <h2 class="title">Redis</h2>
			</div>			
			<div class="grid-line__wrap">
				<div id="gridRuleRedis" style="border-bottom: 1px solid #cccccc ;"></div>
			</div>	
			<div class="top-area"></div>		
		</div>
	</div>
	
	<script type="text/javascript">
	let gNamespaces = null;
	let gRules = [];
	let gServiceList = [];
	$a.page(function() {
		this.init = function(id, param) {
			gCommon.getNamespaceCombo($('#namespaces')).done(function(selector){
				gNamespaces = selector.select({id:gSelectedNamespace})
									  .addHandler(function(e) {
										  gCommon.setSelectedNamespace(e.currentTarget.id);
										  filterServices();
										});
				getAllServices();
				getAlertRules();				
			});
			
			$('#btnRuleAdd').on('click',function(){
				location.href = '/zdb07/zdb0721';
			});
			$('#txtRuleKeyword').on('input propertychange',function(){
				filterServices();
			});
			let useCol = function(value){
				if(value){
					return $('<img src="/styles/images/ico-checkmark.png" style="float:initial;width:20px"></img>');
				}
			}
			let gridRule = $('#gridRule').alopexGrid({
				filteringHeader : false,
				message: { nodata: '[[#{label.common.msg.validator.grid.nodata}]]' },
				enableDefaultContextMenu : false,
				autoColumnIndex : true,
				columnMapping : [
						{ key : 'namespace', title :  '[[#{label.zdb0720.grid.namesapce}]]', width : '100px', align : 'left'},
						{ key : 'serviceName', title : '[[#{label.zdb0720.grid.service.name}]]', width : '150px', align : 'left'},
						{ key : 'serviceType', title : '[[#{label.zdb0720.grid.service.type}]]', width : '100px',hidden:true, align : 'left'},
						{ key : 'clusterEnabled', title : '[[#{label.zdb0720.grid.duplexing.status}]]'.replaceAll('\n','<br>'), width : '80px', align : 'center',render:useCol},	
						{ key : 'def', title : '[[#{label.zdb0720.grid.default.settings}]]'.replaceAll('\n','<br>') , width : '80px', align : 'center',render:function(value,data){
							
							let vDefaultYn = 'N' ;
							
							if(data.PodHealthCheck && data.ContainerHealthCheck && data.DBHealthCheck && data.CPUUsage && data.MemoryUsage && data.Connections && data.SlowQueries && data.ReplicationStatus && data.ReplicationDelay){
								vDefaultYn = 'Y' ;
							}
							
							let re = fn_getUseYnTemp(vDefaultYn).on('click','button.Button',function(e){
								if(vDefaultYn == 'Y'){
									updateAlertRule(data);
								}else{
									updateDefaultAlertRule(data);
								}			
							});
							return re;
						}},
						{ key : 'PodHealthCheck', title : '[[#{label.zdb0720.grid.pod}]]', width : '70px', align : 'center', render:useCol},
						{ key : 'ContainerHealthCheck', title :  '[[#{label.zdb0720.grid.container}]]', width : '80px', align : 'center', render:useCol},
						{ key : 'DBHealthCheck', title : '[[#{label.zdb0720.grid.db}]]', width : '70px', align : 'center', render:useCol},
						{ key : 'CPUUsage', title : '[[#{label.zdb0720.grid.cpu}]]', width : '70px', align : 'center', render:useCol},
						{ key : 'MemoryUsage', title : '[[#{label.zdb0720.grid.memory}]]', width : '70px', align : 'center', render:useCol},
						{ key : 'Connections', title : '[[#{label.zdb0720.grid.connections}]]', width : '90px', align : 'center', render:useCol},
						{ key : 'SlowQueries', title : '[[#{label.zdb0720.grid.slowquery}]]', width : '90px', align : 'center', render:useCol},
						{ key : 'ReplicationStatus', title : '[[#{label.zdb0720.grid.status}]]', width : '70px', align : 'center', render:useCol},
						{ key : 'ReplicationDelay', title : '[[#{label.zdb0720.grid.delay}]]', width : '70px', align : 'center', render:useCol},
						{ key : 'update', title : '', width : '50px', align : 'center',render:function(value,data){
							return $('<button class="Button sm">[[#{label.common.button.setting}]]</button>').on('click',function(){
								gCommon.movePage('/zdb07/zdb0721',{namespace:data.namespace,serviceName:data.serviceName,serviceType:data.serviceType})
							});
						}}
					],headerGroup: [
						{fromIndex:'PodHealthCheck', toIndex:'ReplicationDelay', title:'[[#{label.zdb0720.grid.rule}]]'},
						{fromIndex:'PodHealthCheck', toIndex:'DBHealthCheck', title:'[[#{label.zdb0720.grid.health}]]'},
						{fromIndex:'CPUUsage', toIndex:'SlowQueries', title:'[[#{label.zdb0720.grid.usage}]]'},
						{fromIndex:'ReplicationStatus', toIndex:'ReplicationDelay', title:'[[#{label.zdb0720.grid.replication}]]'},
						{fromIndex:'update', toIndex:'def', title:''}
					]
				});
			let gridRuleRedis = $('#gridRuleRedis').alopexGrid({
				filteringHeader : false,
				message: { nodata: '[[#{label.common.msg.validator.grid.nodata}]]' },
				enableDefaultContextMenu : false,
				autoColumnIndex : true,
				columnMapping : [
						{ key : 'namespace', title :'[[#{label.zdb0720.grid.namesapce}]]', width : '100px', align : 'left'},
						{ key : 'serviceName', title : '[[#{label.zdb0720.grid.service.name}]]', width : '150px', align : 'left'},
						{ key : 'serviceType', title : '[[#{label.zdb0720.grid.service.type}]]', width : '100px',hidden:true, align : 'left'},
						{ key : 'clusterEnabled', title : '[[#{label.zdb0720.grid.duplexing.status}]]'.replaceAll('\n','<br>'), width : '80px', align : 'center',render:useCol},
						{ key : 'def', title : '[[#{label.zdb0720.grid.default.settings}]]'.replaceAll('\n','<br>') , width : '80px', align : 'center',render:function(value,data){
							
							let vDefaultYn = 'N' ;
							
							if(data.PodHealthCheck && data.ContainerHealthCheck && data.DBHealthCheck && data.CPUUsage && data.MemoryUsage && data.Connections){
								vDefaultYn = 'Y' ;
							}
							
							let re = fn_getUseYnTemp(vDefaultYn).on('click','button.Button',function(e){
								if(vDefaultYn == 'Y'){
									updateAlertRule(data);
								}else{
									updateDefaultAlertRule(data);
								}			
							});
							return re;
						}},						
						{ key : 'PodHealthCheck', title : '[[#{label.zdb0720.grid.pod}]]', width : '70px', align : 'center', render:useCol},
						{ key : 'ContainerHealthCheck', title : '[[#{label.zdb0720.grid.container}]]', width : '80px', align : 'center', render:useCol},
						{ key : 'DBHealthCheck', title : '[[#{label.zdb0720.grid.db}]]', width : '70px', align : 'center', render:useCol},
						{ key : 'CPUUsage', title : '[[#{label.zdb0720.grid.cpu}]]', width : '70px', align : 'center', render:useCol},
						{ key : 'MemoryUsage', title :  '[[#{label.zdb0720.grid.memory}]]', width : '70px', align : 'center', render:useCol},
						{ key : 'Connections', title : '[[#{label.zdb0720.grid.connections}]]', width : '90px', align : 'center', render:useCol},
						{ key : 'SlowQueries', title : '[[#{label.zdb0720.grid.slowquery}]]', width : '90px', align : 'center',hidden:true, render:useCol},
						{ key : 'ReplicationStatus', title : '[[#{label.zdb0720.grid.status}]]', width : '70px', align : 'center',hidden:true, render:useCol},
						{ key : 'ReplicationDelay', title : '[[#{label.zdb0720.grid.delay}]]', width : '70px', align : 'center', hidden:true,render:useCol},
						{ key : 'update', title : '', width : '50px', align : 'center',render:function(value,data){
							return $('<button class="Button sm">[[#{label.common.button.setting}]]</button>').on('click',function(){
								gCommon.movePage('/zdb07/zdb0721',{namespace:data.namespace,serviceName:data.serviceName,serviceType:data.serviceType})
							});
						}}
					],headerGroup: [
						{fromIndex:'PodHealthCheck', toIndex:'Connections', title:'[[#{label.zdb0720.grid.rule}]]'},
						{fromIndex:'PodHealthCheck', toIndex:'DBHealthCheck', title:'[[#{label.zdb0720.grid.health}]]'},
						{fromIndex:'CPUUsage', toIndex:'Connections', title:'[[#{label.zdb0720.grid.usage}]]'},
						{fromIndex:'update', toIndex:'def', title:''}
					]
				});			
			function getAlertRules(){
				let namespace = gNamespaceList.map(function(d){return d.id}).join();
				$a.ajax({
					url:'/zdbapi/getAlertRules',
					data:{namespace:namespace},
					success:function(res){
						gRules = [];
						let ruleList = 	res.alertRules ;
									
						if(ruleList != null ){  // Null 일 경우 length 처리에 문제가 생김 수정 (2019-07-15)
							for(let i = 0;i < ruleList.length;i++){
								let o = ruleList[i];
								let n = o.type.split('-')[2];
								if(!gRules[o.serviceName]){
									gRules[o.serviceName] = new Object();
								}
								gRules[o.serviceName][n] = o.value;
							}
						}

						let l = [];
						for(let i = 0;i < gServiceList.length;i++){
							let o = gServiceList[i];
							if(gRules[o.serviceName]){
								o = $.extend({},o,gRules[o.serviceName]);
							}
							l.push(o);
						}
						
						gServiceList = l;
						filterServices();
					}
				});
			}
			
			function fn_getUseYnTemp(value){
				let v = value == 'Y'? 'on':'off';
				return $('<div class="onoff-wrap" style="margin:auto"><button class="Button btn-'+v+'" data-value="'+value+'">'+v.toUpperCase()+'</button></div>');
			}
			
			function goRuleDetailPage(data){
				gCommon.movePage('/zdb07/zdb0721',{namespace:data.namespace,alert:data.alert});
			}
			function filterServices(){
				let searchText = $('#txtRuleKeyword').val();
				
				let mariaDbList = gServiceList;
				let redisList = gServiceList;
				
				//	gServiceList 를 mariadb 와 redis 로 나누어 grid 출력하도록 변경 (2019-10-04)			
				mariaDbList = gServiceList.filter(function(ob){
					return (gSelectedNamespace == G_NAMESPACE_ALL || gSelectedNamespace == ob.namespace ) && ob.serviceType == 'mariadb';
				});
				
				redisList = gServiceList.filter(function(ob){
					return (gSelectedNamespace == G_NAMESPACE_ALL || gSelectedNamespace == ob.namespace) && ob.serviceType == 'redis';
				});
				
				if(searchText!=''){
					mariaDbList = mariaDbList.filter(function(ob){
						return ob.serviceName.toLowerCase().indexOf(searchText.toLowerCase()) > -1 ;
					});
					
					redisList = redisList.filter(function(ob){
						return ob.serviceName.toLowerCase().indexOf(searchText.toLowerCase()) > -1 ;
					});					
				}
				
				gridRule.alopexGrid('dataSet',mariaDbList);
				gridRule.alopexGrid('dataSort', [
					{"sortingColumn": 'namespace', "sortingDirection": "asc"},
					{"sortingColumn": 'serviceName', "sortingDirection": "asc"}
				]);
				
				gridRuleRedis.alopexGrid('dataSet',redisList);
				gridRuleRedis.alopexGrid('dataSort', [
					{"sortingColumn": 'namespace', "sortingDirection": "asc"},
					{"sortingColumn": 'serviceName', "sortingDirection": "asc"}
				]);				
			}
			function getAllServices(){
				$a.ajax({
					url:'/zdbapi/getAllServices',
					async:false,
					success:function(res){
						gServiceList=[];
						gServiceList = res.serviceoverviews;
						filterServices();
					}
				});
			}
			function updateDefaultAlertRule(data){
				gCommon.confirm('[[#{label.zdb0720.msg.alert.default.first}]]'+'</br> <span style="font-size:15px;color:red;text-align:center;">'+'[[#{label.zdb0720.msg.alert.default.second}]]'+'</span>',function(){
					//(임계치의 수정은 설정에서 가능합니다.)
					$a.ajax({
						url:'/zdbapi/updateDefaultAlertRule',
						method:'put',
						data:data,
						success:function(res){
							getAllServices();							
							getAlertRules();
						}
					})
				});
			}
			function updateAlertRule(data){
				let alertRules = [];
				data.alertRules = JSON.stringify(alertRules);
				
 				gCommon.confirm('[[#{label.zdb0720.msg.alert.update.alert.rule}]]',function(){
					$a.ajax({
						url:'/zdbapi/updateAlertRule',
						method:'put',
						data:data,
						success:function(res){
							getAllServices();
							getAlertRules();
						}
					})
				});
			}			
		};
	});
	</script>
</th:block>
</html>