<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title>규칙관리</title>
</th:block>
<th:block layout:fragment="page_css">
</th:block>
<th:block layout:fragment="content">
	<!-- Location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide">
			</ul>
		</div>
	</div>
	<!-- Contents -->
	<div class="contents-box">
		<!-- Top Area -->
		<div id="tabDatabase">
			<!-- rule info area-->
			<div class="top-area">
				<h2 class="title">규칙 설정</h2>
				<div class="tag-wrap">
					<span class="tag">알람 발생을 위한 규칙을 설정합니다.</span>
				</div>
			</div>
			<!-- add rule table-->
			<form name="ruleForm" onsubmit="return false;">
				<fieldset>
					<table class="Table Form-type topline">
						<colgroup>
							<col style="width: 100px;" />
							<col style="width: 150px;" />
							<col style="width: 250px;" />
							<col style="width: 400px;" />
							<col style="width: 300px;" />
						</colgroup>
						<tbody>
							<tr>
								<th colspan="2"></th>
								<th class="tcenter">사용여부</th>
								<th class="tcenter">심각도</th>
								<th class="tcenter">임계치</th>
							</tr>
							<tr>
								<th rowspan="3">Health</th>
								<th>Pod</th>
								<td>
									<label class="ImageRadio"> <input class="Radio" type="radio" name="PodHealthCheck-useYn" value="Y"/>사용 </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="PodHealthCheck-useYn" value="N" checked="checked"/>미사용 </label> 
								</td>
								<td colspan="2">	
									<label class="ImageRadio"> <input class="Radio" type="radio" name="PodHealthCheck-priority" value="P4" checked="checked" />Low </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="PodHealthCheck-priority" value="P3"/>Warning </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="PodHealthCheck-priority" value="P1" />Critical </label>
								</td>
							</tr>
							<tr>
								<th>Container</th>
								<td>
									<label class="ImageRadio"> <input class="Radio" type="radio" name="ContainerHealthCheck-useYn" value="Y"/>사용 </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="ContainerHealthCheck-useYn" value="N" checked="checked"/>미사용 </label> 
								</td>
								<td colspan="2">	
									<label class="ImageRadio"> <input class="Radio" type="radio" name="ContainerHealthCheck-priority" value="P4" checked="checked" />Low </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="ContainerHealthCheck-priority" value="P3"/>Warning </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="ContainerHealthCheck-priority" value="P1" />Critical </label>
								</td>
							</tr>
							<tr>
								<th>Db</th>
								<td>
									<label class="ImageRadio"> <input class="Radio" type="radio" name="DBHealthCheck-useYn" value="Y"/>사용 </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="DBHealthCheck-useYn" value="N" checked="checked" />미사용 </label> 
								</td>
								<td colspan="2">	
									<label class="ImageRadio"> <input class="Radio" type="radio" name="DBHealthCheck-priority" value="P4" checked="checked" />Low </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="DBHealthCheck-priority" value="P3"/>Warning </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="DBHealthCheck-priority" value="P1" />Critical </label>
								</td>
							</tr>
							<tr>
								<th rowspan="4">사용량</th>
								<th>CPU</th>
								<td>
									<label class="ImageRadio"> <input class="Radio" type="radio" name="CPUUsage-useYn" value="Y"/>사용 </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="CPUUsage-useYn" value="N" checked="checked" />미사용 </label> 
								</td>
								<td>	
									<label class="ImageRadio"> <input class="Radio" type="radio" name="CPUUsage-priority" value="P4" checked="checked" />Low </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="CPUUsage-priority" value="P3"/>Warning </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="CPUUsage-priority" value="P1" />Critical </label>
								</td>
								<td>
									<div class="Divselect" data-disabled="true">
										<select name="CPUUsage-condition" id="CPUUsage-condition">
											<option value="&gt;">&gt;</option>
										</select> <span></span>
									</div>
									<input class="Textinput" type="text" style="width: 120px; min-width: 50px;" maxlength="3" name="CPUUsage-value2" id="CPUUsage-value2" />
									<p class="warn-text" data-for="CPUUsage-value2"></p>									
								</td>
							</tr>
							<tr>
								<th>Memory</th>
								<td>
									<label class="ImageRadio"> <input class="Radio" type="radio" name="MemoryUsage-useYn" value="Y"/>사용 </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="MemoryUsage-useYn" value="N" checked="checked"/>미사용 </label> 
								</td>
								<td>	
									<label class="ImageRadio"> <input class="Radio" type="radio" name="MemoryUsage-priority" value="P4" checked="checked"/>Low </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="MemoryUsage-priority" value="P3"/>Warning </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="MemoryUsage-priority" value="P1"/>Critical </label>
								</td>
								<td>
									<div class="Divselect" data-disabled="true">
										<select name="MemoryUsage-condition" id="MemoryUsage-condition">
											<option value="&gt;">&gt;</option>
										</select> <span></span>
									</div>
									<input class="Textinput" type="text" style="width: 120px; min-width: 50px;" maxlength="3" name="MemoryUsage-value2" id="MemoryUsage-value2" />
									<p class="warn-text" data-for="MemoryUsage-value2"></p>									
								</td>
							</tr>
							<tr>
								<th>Connections</th>
								<td>
									<label class="ImageRadio"> <input class="Radio" type="radio" name="Connections-useYn" value="Y"/>사용 </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="Connections-useYn" value="N" checked="checked"/>미사용 </label> 
								</td>
								<td>	
									<label class="ImageRadio"> <input class="Radio" type="radio" name="Connections-priority" value="P4" checked="checked" />Low </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="Connections-priority" value="P3"/>Warning </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="Connections-priority" value="P1" />Critical </label>
								</td>
								<td>
									<div class="Divselect" data-disabled="true">
										<select name="Connections-condition" id="Connections-condition">
											<option value="&gt;">&gt;</option>
										</select> <span></span>
									</div>
									<input class="Textinput" type="text" style="width: 120px; min-width: 50px;" maxlength="3" name="Connections-value2" id="Connections-value2" />
									<p class="warn-text" data-for="Connections-value2"></p>									
								</td>
							</tr>
							<tr>
								<th>SlowQuery</th>
								<td>
									<label class="ImageRadio"> <input class="Radio" type="radio" name="SlowQueries-useYn" value="Y"/>사용 </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="SlowQueries-useYn" value="N" checked="checked"/>미사용 </label> 
								</td>
								<td>	
									<label class="ImageRadio"> <input class="Radio" type="radio" name="SlowQueries-priority" value="P4" checked="checked" />Low </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="SlowQueries-priority" value="P3"/>Warning </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="SlowQueries-priority" value="P1" />Critical </label>
								</td>
								<td>
									<div class="Divselect" data-disabled="true">
										<select name="SlowQueries-condition" id="SlowQueries-condition">
											<option value="&gt;">&gt;</option>
										</select> <span></span>
									</div>
									<input class="Textinput" type="text" style="width: 120px; min-width: 50px;" maxlength="3" name="SlowQueries-value2" id="SlowQueries-value2" />
									<p class="warn-text" data-for="SlowQueries-value2"></p>									
								</td>
							</tr>
							<tr>
								<th rowspan="2">Replication</th>
								<th>Status</th>
								<td>
									<label class="ImageRadio"> <input class="Radio" type="radio" name="ReplicationStatus-useYn" value="Y"/>사용 </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="ReplicationStatus-useYn" value="N" checked="checked"/>미사용 </label> 
								</td>
								<td colspan="2">	
									<label class="ImageRadio"> <input class="Radio" type="radio" name="ReplicationStatus-priority" value="P4" checked="checked" />Low </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="ReplicationStatus-priority" value="P3"/>Warning </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="ReplicationStatus-priority" value="P1" />Critical </label>
								</td>
							</tr>
							<tr>
								<th>Delay</th>
								<td>
									<label class="ImageRadio"> <input class="Radio" type="radio" name="ReplicationDelay-useYn" value="Y"/>사용 </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="ReplicationDelay-useYn" value="N" checked="checked"/>미사용 </label> 
								</td>
								<td>	
									<label class="ImageRadio"> <input class="Radio" type="radio" name="ReplicationDelay-priority" value="P4" checked="checked" />Low </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="ReplicationDelay-priority" value="P3"/>Warning </label> 
									<label class="ImageRadio Margin-left-40"> <input class="Radio" type="radio" name="ReplicationDelay-priority" value="P1" />Critical </label>
								</td>
								<td>
									<div class="Divselect" data-disabled="true">
										<select name="ReplicationDelay-condition" id="ReplicationDelay-condition">
											<option value="&gt;">&gt;</option>
										</select> <span></span>
									</div>
									<input class="Textinput" type="text" style="width: 120px; min-width: 50px;" maxlength="3" name="ReplicationDelay-value2" id="ReplicationDelay-value2" />
									<p class="warn-text" data-for="ReplicationDelay-value2"></p>									
								</td>
							</tr>							
						</tbody>
					</table>
				</fieldset>
				<div class="btn-wrap">
					<div class="btn-left">
						<button class="Button btn" id="btnRuleCancel">목록으로</button>
					</div>
					<div class="btn-right">
						<button class="Button btn bg-red" id="btnRuleSave">확인</button>
					</div>
				</div>				
			</form>
		</div>
	</div>
	<script type="text/javascript">
		let gNamespaces = null;
		let gServiceData = {};
		let gRules = [];
		let ruleForm = $('form[name=ruleForm]');
		$a.page(function() {
			this.init = function() {
				let isUpdate = !cloudUtil.isEmpty(gParam.alert);
				
				Validator.addMethod('ifRequire', function(element, value, ob) {
					let b = true;
				    if($('input[name='+ob+']:checked').val() == 'Y'){
				    	b = !cloudUtil.isEmpty(value); 
				    }
				    return b;
				});
				let valElements = {}
				ruleForm.find('input[name$=-useYn]:checked').each(function(index,item){
					let type = item.name.split('-')[0];
					valElements[type+'-value2'] = {
						rule : {required:true,ifRequire:item.name},
						message : {ifRequire:'임계치를 입력하세요.'}
					}
				});
				
				ruleForm.validator({
				    elements :valElements
				}).validate();
				gNamespaces = gCommon.getNamespaceCombo($('#namespaces'))
				 .select({id:gSelectedNamespace})
				 .addHandler(function(e) {
					  gCommon.setSelectedNamespace(e.currentTarget.id);
					  gCommon.movePage('/zdb07/zdb0720',{selectedNamespace:gSelectedNamespace});
				  });
			
				ruleForm.find('#btnRuleCancel').on('click',function(){
					location.href='/zdb07/zdb0720'
				});
				ruleForm.find('#btnRuleSave').on('click',function(){
					fn_saveAlertRule();
				});
				ruleForm.find('input[name$=-useYn]').on('change',function(){
					fn_setEnabled();	
				});

				fn_getAlertRule();
				fn_setEnabled();
				
				function fn_getAlertRule(){
					$a.ajax({
						url:'/zdbapi/getAlertRulesInService',
						data:gParam,
						success:function(res){
							let ruleList = res.alertRules;
							$('input[name$=value2]').val('');
							for(let i = 0;i < ruleList.length;i++){
								let o = ruleList[i];
								let type = o.type.split('-')[2];
								$('input[name='+type+'-useYn][value=Y]').setSelected('Y');
								$('input[name='+type+'-priority][value='+o.priority+']').setSelected(o.priority);
								$('select[name='+type+'-condition]').val(o.condition);
								$('input[name='+type+'-value2]').val(o.value2);
							}
						}
					})
				}
				function fn_saveAlertRule(){
					if(ruleForm.find('p[data-for]:visible.invalid').length > 0){
						return;
					};

					let data = $.extend({},gParam);
					let alertRules = [];
		    		
		    		ruleForm.find('input[name$=-useYn][value=Y]:checked').each(function (index, item) {
		    			let type = item.name.replace('-useYn','');
		    			let priority = $('input[name='+type+'-priority]:checked').val();
		    			let condition = $('select[name='+type+'-priority]').val();
		    			let value2 = $('input[name='+type+'-value2]').val();
		    			let d = {
		    				type : type,
		    				namespace : data.namespace,
		    				serviceName : data.serviceName,
		    				serviceType : data.serviceType,
		    				priority : priority,
		    				condition : condition,
		    				value2 : value2
		    			}
		    			alertRules.push(d);
		    		});
		    		data.alertRules = JSON.stringify(alertRules);
		    		
					gCommon.confirm('저장 하시겠습니까?',function(){
						$a.ajax({
			    			url : '/zdbapi/updateAlertRule',
			    			method : 'put',
			    			data : data,
		    				success:function(res){
		    					if(res.result.code == '0000'){
		    						gCommon.alert('저장되었습니다.');
		    						fn_getAlertRule();
		    					}
		    				}
			    		});				
					});
				}

				function fn_setEnabled(){
					ruleForm.find('input[name$=-useYn]:checked').each(function (index, item) {
						let type = item.name.replace('-useYn','');
						let useYn = item.value == 'Y';
						
						$('input[name='+type+'-priority]').setEnabled(useYn);
		    			$('input[name='+type+'-value2]').setEnabled(useYn);
		    			if(useYn){
			    			$('p.warn-text[data-for='+type+'-value2]').removeClass('hide');
		    			}else{
			    			$('p.warn-text[data-for='+type+'-value2]').addClass('hide');
		    			}
					});
				}
			}
		});
	</script>
</th:block>
</html>