<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title>백업 스케줄링 목록</title>
</th:block>
<th:block layout:fragment="page_js">
	<script src="/script/app/common/cloudzdb-ui-z0200.js?v=20190523"></script>
</th:block>
<th:block layout:fragment="content">
	<!-- location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide">
			</ul>
		</div>
	</div>
	<div class="contents-box">
		<div class="top-area">
           <h2 class="title">백업 스케줄링 목록</h2>
		</div>
		<div class="accor-contents__wrap">
			<!-- tab contents info detail-->
			<!-- grid -->
			<div class="btn-wrap" style="margin-bottom:">
				<div class="btn-right">
					<button class="Button btn bg-red" id="btnSaveSchedule">저장</button>
				</div>
			</div>			
			<div class="grid-line__wrap mt5">
				<div id="gridSchedule"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var gNamespaces = null; // 네임스페이스 콤보
		$a.page(function() {
			this.init = function() {
				gCommon.getNamespaceCombo($('#namespaces')).done(function(selector){
					gNamespaces = selector.addHandler(function(e) {
										 	gCommon.setSelectedNamespace(e.currentTarget.id);
										 	fn_getScheduleInfoList();
										 }).select({
										 	id:gSelectedNamespace
										 });
					
				});
				$('.Accordion').expandAll();				
				let gridSchedule = $('#gridSchedule').alopexGrid({
					autoColumnIndex: true,
					height: 635,
					autoResize:true,
					rowInlineEdit:true,
 					rowSelectOption:{
						clickSelect : true
						,singleSelect : true
						,allowSingleUnselect: false
					}, 
					cellSelectable:true,
					restoreFocusOnInvalidInlineEdit :true,
					leaveDeleted:true,
					columnMapping : [  
						{ title:'state',key:'state',width:'50px',editable:false,hidden:true,align:'center',excludeFitWidth:true,render:function(value,data){
							if (data._state.added){data.state = 'A'}
							else if (data._state.deleted){data.state='D'}
							else if (data._state.edited){data.state='E'}
							else {data.state=''}
							return data.state;
						}},						
						{ title:'상태', key : '' , width: '50x',excludeFitWidth:true, align: 'center',render:function(value,data){

							//'backupStatus'
							let status = '';
							let alt = '';
							if(data.backupStatus=='YELLOW'){
								status = 'yellow';
								alt = '최근 백업이 존재하지 않습니다';
							} else if(data.backupStatus=='GREEN'){
								status = 'green';
								alt = '백업이 정상적으로 수행되고 있습니다';
							} else if(data.backupStatus=='RED'){
								status = 'red';
								alt = '최근 백업이 실패 했습니다';
							} else if(data.backupStatus=='GREY'){
								status = 'grey';
								alt = '수행된 백업이 존재하지 않거나, 백업이 설정되어 있지 않습니다.';
							} else if(data.backupStatus=='DOING'){
								status = 'green blinking';
								alt = '백업이 수행되는 중입니다';
							} 
							let re = '<div class="state '+status+'" title="'+alt+'"></div>';
							
							return re;
							
						}},
						{ title:'서비스이름', key : 'serviceName' , width: '250px',excludeFitWidth:true, align: 'left',render:function(value,data){
							var re = $('<a href="#" title="'+value+'">'+value+'</a>').html(value).on('click',function(){
								fn_setSelected2010Tab('tabBackup');
								gCommon.movePage('/zdb02/zdb0210',{namespace:data.namespace,serviceType:data.serviceType,serviceName:data.serviceName});
							});
							
							return re;
							
						}},
						{ title:'서비스종류', key : 'serviceType' , width: '100px', align: 'center',render:function(value){
							let img = {
									mariadb:'<img src="/styles/images/mariadb16.png" width="16px">',
									redis:'<img src="/styles/images/redis16.jpg" width="16px">'
								};
							let re = img[value]; 
							if(re) return re;	
						}},
						{ title:'백업디스크', key : 'backupDiskInfo' , width: '100px', align: 'center',render:function(value){
							let re = value;
/* 							if(value == 'Y')re='사용';
							if(value == 'N')re='미사용'; */
							return re;
						}},
						{ title:'백업설정', key : 'useYn' , width: '70px', align: 'center',render:function(value,data){
							let re = fn_getUseYnTemp(value).on('click','button.Button',function(e){
								
								let evObj = AlopexGrid.parseEvent(e);
								let opt = evObj.data;
								let mapping = evObj.mapping;
								
								if(mapping.key == 'useYn'){
									let t = $(this);
									let isValueY = t.data('value') == 'Y';
									let vr = isValueY ? 'off' : 'on';
									let vrYn = isValueY ? 'N' : 'Y'; 
									t.removeClass('btn-off').removeClass('btn-on').addClass('btn-'+vr).text(vr.toUpperCase()).data('value',vrYn);
									opt.useYn = vrYn ;
									opt._state.edited = true;
								}
							});
							return re;
						} },
						{ title:'보관기간<br>(일)', key : 'storePeriod' , width: '80px', excludeFitWidth:true, align: 'center', inlineStyle: {padding: '0'} ,render:function(value,data){
							
							if(cloudUtil.isEmpty(value)) {
								value = 7 ;
							}
						
							/* 2019-09-17 수정 부분 */
							let temp = '<div class="Spinner" data-min="0" data-max="60" data-step="1" style="border:0px;height:100%;width:75px;" >' ;
						    temp += '<input value="'+value+'" style="width:60px;text-align:center;">';
							temp += '<a class="Up" style="border:0px;"></a><a class="Down" style="border:0px;"></a></div>';

							let re = $(temp).on('click','a' , function(e){
								let evObj = AlopexGrid.parseEvent(e);
								let opt = evObj.data;
								let mapping = evObj.mapping;
								
								if(mapping.key == 'storePeriod'){
									let aName = evObj.$cell.context.className ;
									let result = Number(value)  ;
									if(aName != "Up"){
										if(result > 1){
											result = result - 1 ;
										}
									}else{
										if(result < 8){
											result = result + 1;
										}	
									}
									opt.storePeriod  = result;
									let t = $(this).parent().find('input');
									t.val(result);
									value = result;
									opt._state.edited = true;
								}
							});	

							return re;

						}},
						{ title:'ICOS 사용량', key : 'icosDiskUsage' , width: '150px', align: 'center', render:function(value){
							let re = value;
						/* 	if(!cloudUtil.isEmpty(value) && !isNaN(value)){
								BigNumber.config({ FORMAT: { groupSeparator: ',', groupSize: 3 } });
								re = new BigNumber(value).toFormat(); 
							} */
							return re;
						}},
						{ title:'백업주기', key : 'backupExecType' , width: '100px',headerStyleclass: 'border-left' , inlineStyle: {'border-left':'1px solid #dddddd'},align: 'center'},
						{ title:'백업시간', key : 'startTime' , width: '110px',excludeFitWidth:true, align: 'center', inlineStyle: {padding: '0'} ,render:function(value){
							if(cloudUtil.isEmpty(value)) {
								value = '01:00' ;
							}	
							
							let spStartTime = value.split(':');
							let atime = spStartTime[0];
							let aMinute = spStartTime[1];
							
							//editable:function(value,data){
							/* 2019-09-17 수정 부분 */
							let temp = '<div style="border:0px;height:100%;width:55px;"><div class="Spinner" style="border:0px;height:100%;width:55px;" ><input class="data-hour" value="'+atime+'" style="width:35px;"><a class="Up" name="tUp" style="border:0px;" ></a><a class="Down" name="tDown" style="border:0px;" ></a></div>' ;
							temp += '<div class="Spinner" style="border:0px;height:100%;width:55px;" ><span data-seperator>:</span><input class="data-minute" value="'+aMinute+'" style="width:35px;">';
							temp += '<a class="Up" name="mUp" style="border:0px;" ></a><a class="Down" name="mDown" style="border:0px;" ></a></div></div>';							

							let re = $(temp).on('click','a' , function(e){
								let evObj = AlopexGrid.parseEvent(e);
								let opt = evObj.data;
								let mapping = evObj.mapping;
								let t = $(this).parent().find('input');
								if(mapping.key == 'startTime'){
									let aName = evObj.$cell.context.name ;
									let result = 0  ;
									
									let rStartTime = opt.startTime.split(':');
									let rTime = rStartTime[0];
									let rMin = rStartTime[1];

									if(aName == "tUp"){
										result = cloudUtil.parseInt(rTime);
										if(result < 25){
											result = result + 1;
										}
										rTime = moment(result,'H').format('HH');
										t.val(rTime);
									}else if(aName == "tDown"){
										result = cloudUtil.parseInt(rTime);
										if(result > 0){
											result = result - 1;
										}
										rTime = moment(result,'H').format('HH');
										t.val(rTime);
									}else if(aName == "mUp"){
										result = cloudUtil.parseInt(rMin);
										
										if(result < 59){
											result = result + 1;
										}
										rMin = moment(result,'m').format('mm');
										t.val(rMin);
									}else if(aName == "mDown"){
										result = cloudUtil.parseInt(rMin);
										
										if(result > 0){
											result = result - 1;
										}
										rMin = moment(result,'m').format('mm');
										t.val(rMin);
									}
									value = rTime+":"+rMin;
									opt.startTime  = value;
									opt._state.edited = true;
								
								}
							});
							return re;
						}},
						{ title:'백업용량', key : 'fullFileSize' , width: '120px', align: 'center',render:function(value){
							//return value == '0'?'-': value;
							return value;
						}},
						{ title:'소요시간', key : 'fullExecutionTime' , width: '70px', align: 'center', render:function(value){
							//return cloudUtil.parseInt(value)== 0 ?'-':value;
							return value;
						}},
						{ title:'백업주기', key : 'incrementPeriod' ,headerStyleclass: 'border-left' , inlineStyle: {'border-left':'1px solid #dddddd'}, width: '100px', align: 'center',
							render:function(value,data){

								
/* 								if(data.incrementYn == 'N'){
									re = '-';
								}; */
								return value;
/* 							},
							allowEdit:function(value,data){
								return data.incrementYn == 'Y';
							},
							editable:{
							type:'select',
							rule:[{value:'0',text:'미사용'},{value:'1',text:'1시간'},{value:'2',text:'2시간'},{value:'6',text:'6시간'},{value:'12',text:'12시간'}] */
						}},

						{ title:'백업용량', key : 'incrFileSize' , width: '120px', align: 'center',render:function(value){
							//return value == '0'?'-': value;
							return value;
						}},
						{ title:'소요시간', key : 'incrExecutionTime' , width: '70px', align: 'center', render:function(value){
							//return cloudUtil.parseInt(value)== 0 ?'-':value;
							return value;
						}}
					],
					message: {
						nodata: gMessage.gridNodata
					},
					defaultSorting:{
						sortingColumn: "serviceName",
						sortingDirection: 'asc'
					},headerGroup: [
						{fromIndex:"backupExecType", toIndex:"fullExecutionTime", headerStyleclass: 'border-left' , title:"전체백업"},
						{fromIndex:"incrementPeriod", toIndex:"incrExecutionTime", headerStyleclass: 'border-left'  , title:"증분백업"}
					],
				}).on('cellEditInvalid ', function(e){
					setTimeout(function(evt){
						var evObj = AlopexGrid.parseEvent(e);
						var opt = evObj.data;
						var mapping = evObj.mapping;
						var col = mapping.columnIndex;
						var invalidValue = evObj.value;
						
						if(opt._state.deleted == true){
							return;
						}
/* 						if(mapping.key == 'storePeriod'){
							alert('보관기간은 0~60 사이로 입력하세요');
						}else  */
/* 						if(mapping.key == 'startTime'){
							alert('시:분 형식으로 입력하세요')
						} */
						gridSchedule.alopexGrid('focusCell', opt);
						setTimeout(function(){
							gridSchedule.alopexGrid('rowSelect', opt, true)
							gridSchedule.find('.bodycell[data-alopexgrid-rowindex='+(opt._index.row)+'][data-alopexgrid-columnindex='+(opt._index.column)+'] input').focus();
						},100)
					},100)
				}).on('dataChanged',function(e){
					let isEnalbed = AlopexGrid.trimData(gridSchedule.alopexGrid('dataGet',{_state: {edited:true}},{_state: {added:true}},{_state: {deleted:true}})).length > 0;
					$('#btnSaveSchedule').setEnabled(isEnalbed);
				});			
				
				function fn_getUseYnTemp(value){
					let v = value == 'Y'? 'on':'off';
					return $('<div class="onoff-wrap"><button class="Button btn-'+v+'" data-value="'+value+'">'+v.toUpperCase()+'</button></div>');
				}
				
				
				let renderValue = function(value,data){
					let re = '';
					if(!cloudUtil.isEmpty(data.enumValueList)){
						re = data.enumValueList;
					}else if(!cloudUtil.isEmpty(data.numericMinValue)){
						re = data.numericMinValue + ' ~ ' + data.numericMaxValue;
					}	
					return re;
				}
				
				function fn_getScheduleInfoList(){
					let param = $('form[name=eventForm]').serializeObject();

					$a.ajax({
						url: '/zdbapi/getScheduleInfoList',
						data:{namespace:gSelectedNamespace},
						success: function(res){
							let list = res.scheduleInfoList;
							
							//console.log(res);
							
							if(list){
								list = list.map(function(ob){
									return $.extend({},ob,{incrementPeriod:(''+ob.incrementPeriod)});
								});
								gridSchedule.alopexGrid('dataSet',list);
							}
							let showCol = gSelectedNamespace == G_NAMESPACE_ALL ?'showCol':'hideCol';
							gridSchedule.alopexGrid(showCol, 'namespace');
						}
					});				
				};			
				$('#searchEvent').on('click',function(){
					fn_getScheduleInfoList();
				});
				$('#btnSaveSchedule').on('click',function(e){
					fn_saveSchedule();
				})				
				function fn_saveSchedule(){
					gridSchedule.alopexGrid('endRowInlineEdit');
					gCommon.confirm('변경된 정보를 저장하시겠습니까?',function(){
						//let data = AlopexGrid.trimData(gridSchedule.alopexGrid('dataGet',{state:'E'},{state:'A'},{state:'D'}));
						let data = AlopexGrid.trimData(gridSchedule.alopexGrid('dataGet',{_state: {edited:true}},{_state: {added:true}},{_state: {deleted:true}}));					
						 if(data.length > 0){
							for(let i in data){
								let d = $.extend(data[i],gParam);
								let re = 0;
								let subVal = d.incrementPeriod.substr(0,2);   
								if(subVal == '12'){
									re = 12;
								}else if(subVal == '1'){
									re = 1;
								}else if(subVal == '2'){
									re = 2;
								}else if(subVal == '6'){
									re = 6;
								}
								d.incrementPeriod = re ;
							};
							//console.log(data);
							
 							$a.ajax({
								url: '/zdbapi/saveBackupSchedule',
								method:'put',
								data: {data:JSON.stringify(data)},
								success: function(res){
									console.log(res);
									/* server 에서 verifyParameters 를 통해 데이터를 체크 하는데 보관기간(storePeriod)은 무조건 7일까지만 되는걸로 처리함
										=>>>>   if(schedule.getStorePeriod() < 1 || schedule.getStorePeriod() > 8) {
													result = false;
													sb.append("보관기간은 최대 7일 까지만 선택이 가능합니다.(입력값 : "+schedule.getStorePeriod() + ")");
												  }
										로 처리 되어있어 조건부터 바꿔야 함.
										ui에서 7까지만 입력 받도록 변경 하는것이 가장 깔끔함 . 
										서버단에서 처리 한다면 조건을 더 붙이던가 변경이 필요할 듯
									*/
									fn_getScheduleInfoList();
								}
							});	 
						};			 		
					})
				};				
			}
		});
	</script>
</th:block>
</html>