<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title>규칙 목록</title>
</th:block>
<th:block layout:fragment="page_css">
</th:block>
<th:block layout:fragment="content">
	<!-- Location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide">
			</ul>
		</div>
	</div>
	<!-- Contents -->
	<div class="contents-box">
		<!-- rule info area-->
		<div id="tabRules">
			<div class="top-area">
				<h2 class="title">규칙</h2>
				<div class="tag-wrap">
					<span class="tag">알림 발생을 위한 규칙을 관리합니다.</span>
				</div>
				<div class="btn-wrap__right">
					<button class="Button btn-ico__typeb btn-rules" id="btnRuleAdd">규칙 추가</button>
				</div>
			</div>
			<!-- search-wrap-->
			<div class="search-wrap Margin-top-40">
				<input class="Textinput srcinput" name="txtRuleKeyword" id="txtRuleKeyword" placeholder="검색어를 입력하세요." />
			</div>
			<div class="grid-line__wrap">
				<div id="gridRule"></div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	let gNamespaces = null;
	let gRules = [];
	let gServiceList = [];
	$a.page(function() {
		this.init = function(id, param) {
			gCommon.getNamespaceCombo($('#namespaces')).done(function(selector){
				gNamespaces = selector.select({id:gSelectedNamespace})
									  .addHandler(function(e) {
										  gCommon.setSelectedNamespace(e.currentTarget.id);
										  filterServices();
										});
				getAllServices();
				getAlertRules();				
			});
			
			$('#btnRuleAdd').on('click',function(){
				location.href = '/zdb07/zdb0721';
			});
			$('#txtRuleKeyword').on('input propertychange',function(){
				filterServices();
			});
			let useCol = function(value){
				if(value){
					return $('<img src="/styles/images/ico-checkmark.png" style="float:initial;width:20px"></img>');
				}
			}
			let gridRule = $('#gridRule').alopexGrid({
				filteringHeader : false,
				message: { nodata: gMessage.gridNodata },
				enableDefaultContextMenu : false,
				autoColumnIndex : true,
				columnMapping : [
						{ key : 'namespace', title : '네임스페이스', width : '100px', align : 'left'},
						{ key : 'serviceName', title : '서비스이름', width : '150px', align : 'left'},
						{ key : 'serviceType', title : '서비스타입', width : '100px', align : 'left'},
						{ key : 'PodHealthCheck', title : 'Pod', width : '70px', align : 'center', render:useCol},
						{ key : 'ContainerHealthCheck', title : 'Container', width : '70px', align : 'center', render:useCol},
						{ key : 'DBHealthCheck', title : 'DB', width : '70px', align : 'center', render:useCol},
						{ key : 'CPUUsage', title : 'CPU', width : '70px', align : 'center', render:useCol},
						{ key : 'MemoryUsage', title : 'Memory', width : '70px', align : 'center', render:useCol},
						{ key : 'Connections', title : 'Connections', width : '80px', align : 'center', render:useCol},
						{ key : 'SlowQueries', title : 'SlowQuery', width : '70px', align : 'center', render:useCol},
						{ key : 'ReplicationStatus', title : 'Status', width : '70px', align : 'center', render:useCol},
						{ key : 'ReplicationDelay', title : 'Delay', width : '70px', align : 'center', render:useCol},
						{ key : 'update', title : '', width : '50px', align : 'center',render:function(value,data){
							return $('<button class="Button sm">설정</button>').on('click',function(){
								gCommon.movePage('/zdb07/zdb0721',{namespace:data.namespace,serviceName:data.serviceName,serviceType:data.serviceType})
							});
						}},
						{ key : 'def', title : '', width : '80px', align : 'center',render:function(value,data){
							return $('<button class="Button sm">기본값설정</button>').on('click',function(){
								updateDefaultAlertRule(data);
							});
						}}
					],headerGroup: [
						{fromIndex:'PodHealthCheck', toIndex:'ReplicationDelay', title:'규칙'},
						{fromIndex:'PodHealthCheck', toIndex:'DBHealthCheck', title:'Health'},
						{fromIndex:'CPUUsage', toIndex:'SlowQueries', title:'사용량'},
						{fromIndex:'ReplicationStatus', toIndex:'ReplicationDelay', title:'Replication'},
						{fromIndex:'update', toIndex:'def', title:''}
					]
				});
			function getAlertRules(){
				let namespace = gNamespaceList.map(function(d){return d.id}).join();
				$a.ajax({
					url:'/zdbapi/getAlertRules',
					data:{namespace:namespace},
					success:function(res){
						
						console.log(res.alertRules);
						
						let ruleList = 	res.alertRules ;
						if(ruleList != null ){  // Null 일 경우 length 처리에 문제가 생김 수정 (2019-07-15)
							for(let i = 0;i < ruleList.length;i++){
								let o = ruleList[i];
								let n = o.type.split('-')[2];
								if(!gRules[o.serviceName]){
									gRules[o.serviceName] = new Object();
								}
								gRules[o.serviceName][n] = o.value;
							}
						}
						let l = [];
						for(let i = 0;i < gServiceList.length;i++){
							let o = gServiceList[i];
							if(gRules[o.serviceName]){
								o = $.extend({},o,gRules[o.serviceName]);
							}
							l.push(o);
						}
						gServiceList = l;
						gridRule.alopexGrid('dataSet',gServiceList);
						filterServices();
					}
				});
			}
			function goRuleDetailPage(data){
				gCommon.movePage('/zdb07/zdb0721',{namespace:data.namespace,alert:data.alert});
			}
			function filterServices(){
				let searchText = $('#txtRuleKeyword').val();
				let filterList = gServiceList;
				
				filterList = gServiceList.filter(function(ob){
					return gSelectedNamespace == G_NAMESPACE_ALL || gSelectedNamespace == ob.namespace;
				});
				if(searchText!=''){
					filterList = filterList.filter(function(ob){
						return ob.serviceName.toLowerCase().indexOf(searchText.toLowerCase()) > -1 
						     //|| ob.type.toLowerCase().indexOf(searchText.toLowerCase()) > -1; 
					});
				}
				gridRule.alopexGrid('dataSet',filterList);
				gridRule.alopexGrid('dataSort', [
					{"sortingColumn": 'namespace', "sortingDirection": "asc"},
					{"sortingColumn": 'serviceName', "sortingDirection": "asc"}
				]);
			}
			function getAllServices(){
				$a.ajax({
					url:'/zdbapi/getAllServices',
					async:false,
					success:function(res){
						gServiceList = res.serviceoverviews;
						filterServices();
					}
				});
			}
			function updateDefaultAlertRule(data){
				gCommon.confirm('기본 알람 규칙으로 설정 하시겠습니까?',function(){
					$a.ajax({
						url:'/zdbapi/updateDefaultAlertRule',
						method:'put',
						data:data,
						success:function(res){
							getAlertRules();
						}
					})
				});
			}
		};
	});
	</script>
</th:block>
</html>