<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title th:text="#{label.zdb0600.title.header}"></title>
</th:block>
<th:block layout:fragment="page_css">
</th:block>
<th:block layout:fragment="content">
	<!-- Location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide">
			</ul>
		</div>
	</div>
	<!-- Contents -->
	<div class="contents-box">
		<!-- Top Area -->
		<div class="top-area">
			<h2 th:text="#{label.zdb0600.title.top}" class="title"></h2>
			<div class="tag-wrap">
				<span th:text="#{label.zdb0600.tag.top}" class="tag"></span>
			</div>
		</div>
		<!-- Detail Area -->
		<form name="configForm" method="post">
			<div>
				<ul>
					<li>
						<div class="accor-contents__wrap">
							<table class="Table Form-type" id="clusterAdminTable" name="clusterAdminTable" style="display:none;border-top-width: 0px; border-bottom-width: 0px;">
								<colgroup>
									<col style="width:250px;">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<th style="font-size:20px;"><b><span th:text="#{label.zdb0600.table.common}"></span></b></th>
									</tr>
									<tr>
										<th th:text="#{label.zdb0600.table.free.resource.check}"></th>
										<td>
											<div class="onoff-wrap">
												<button class="Button btn-on" data-target="free_resource_check">ON</button>
											</div>
											<div class="hide">
												<select name="free_resource_check"> 
													<option value="true">Y</option> 
													<option value="false">N</option> 
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<th th:text="#{label.zdb0600.table.public.network.settings}"></th>
										<td>
											<div class="onoff-wrap" >
												<button class="Button btn-on" data-target="public_network_enabled">ON</button>
											</div>
											<div class="hide">
												<select name="public_network_enabled"> 
													<option value="true">Y</option> 
													<option value="false">N</option> 
												</select>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<table class="Table Form-type" style="border-top-width: 0px;">
								<colgroup>
									<col style="width: 250px;">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<th style="font-size:20px;"><b><span th:text="#{label.zdb0600.table.mariadb}" ></span></b></th>
									</tr>
									<tr>
										<th th:text="#{label.zdb0600.table.backup.duration}"></th>
										<td>
											<div class="info-list" style="margin-right: 10px;">
												<div class="Spinner NumberSpinner" data-min="0" data-max="60" data-step="1" data-target="backup_duration">
													<input name="backup_duration" value="1" style="width: 60px;"> 
													<a class="Up" style="right:1px;"></a> <a class="Down"  style="right:1px;"></a>
												</div>
											</div> 
											<span th:text="#{label.zdb0600.table.day}" class="info-list"></span>
										</td>
									</tr>
									<tr>
										<th th:text="#{label.zdb0600.table.backup.time}"></th>
										<td>
											<div class="info-list">
												<div class="Spinner Time" data-locale="en" id="backup_time" data-hours="24H" data-bind="time:date">
													<input data-hour> <span data-seperator>:</span> 
													<input data-minute> <input data-ampm> <a class="Up"></a> <a class="Down"></a>
												</div>
											</div>
										</td>
									</tr>
									<tr><!-- dwtemp todo -->
										<th th:text="#{label.zdb0600.table.auto.failover.settings}"></th>
										<td>
											<div class="onoff-wrap">
												<button class="Button btn-on" data-target="auto_failover_enabled">ON</button>
											</div>
											<div class="hide">
												<select name="auto_failover_enabled"> 
													<option value="true">Y</option> 
													<option value="false">N</option> 
												</select>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
				</ul>
			</div>
		</form>
		<!-- button wrap-->
		<div class="btn-wrap">
			<div class="btn-right">
				<button th:text="#{label.common.button.save}" class="Button btn lg bg-red" id="btnSave"></button>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var gNamespaces = null; // 네임스페이스 콤보
		var gForm = $('form[name=configForm]');
		var gIsUpdate = true;
		var gConfigData = null;
		$a.page(function() {
			this.init = function() {
				gCommon.getNamespaceCombo($('#namespaces'),{incAdminAll:true}).done(function(selector){
					gNamespaces = selector.addHandler(function(e) {
										      gCommon.setSelectedNamespace(e.currentTarget.id);
										  	   fn_getZDBConfig();
										  }).select({
										  	   id : gSelectedNamespace
										  });
				});
				
				if(!gIsClusterAdmin){
					$('#clusterAdminTable').hide();
				}else{
					$('#clusterAdminTable').show();
				}
				
				gForm.find('div.onoff-wrap > button').click(function(e){
					let fsList = [];
					let target = $(this).data('target');
					if(target == 'auto_failover_enabled' && $(this).hasClass('btn-on') == true){
						let dt = {namespace:gSelectedNamespace};
						if(gSelectedNamespace == G_NAMESPACE_ALL){
							dt.namespace = '-';
						}
						$a.ajax({
							url:'/zdbapi/getAutoFailoverEnabledServices',
							data:dt,
							success:function(res){
								if(res && res.result){
									fsList = res.result||[];
								}
								if(fsList.length > 0){
									gCommon.alert('[[#{label.zdb0600.msg.alert.failover}]]'+'<br/><div style="color:#808080;height: 130px;overflow: auto;">'+fsList.join('  , ')+'</div>',null,{height:'300'});
								}else{
									fn_setOnOff(target,''+$(this).hasClass('btn-off'));
								}
							}
						})
					}else{
						fn_setOnOff(target,''+$(this).hasClass('btn-off'));
					}
				});
				$('#btnSave').on('click',function(){
					fn_saveConfigData();
				});
				function fn_getZDBConfig() {
					gCommon.getConfigData().done(function(re){
						gConfigData = re;
						gForm.zdbui_setContents(gConfigData);
						fn_setOnOff('free_resource_check',gConfigData['free_resource_check']);
						fn_setOnOff('public_network_enabled',gConfigData['public_network_enabled']);
						fn_setOnOff('auto_failover_enabled',gConfigData['auto_failover_enabled']);
						gForm.find('div#backup_time').setData({date :gConfigData['backup_time']});
					});
				}
				function fn_setOnOff(name,bOn){
					gForm.find('select[name='+name+']').zdbui_setComponent(bOn);	
					if(bOn == 'true'){
						gForm.find('button[data-target='+name+']').removeClass('btn-off').addClass('btn-on').text('ON');
					}else{
						gForm.find('button[data-target='+name+']').removeClass('btn-on').addClass('btn-off').text('OFF');
					}
					
				}
				
				function fn_saveConfigData(){
					gCommon.confirm('[[#{label.zdb0600.msg.alert.save}]]',function(res){
						if(gConfigData.isExists){
							url = '/zdbapi/updateZDBConfigs';
						}else{
							url = '/zdbapi/createZDBConfig';
						}
						var method = gConfigData.isExists ? 'PUT' : 'POST';
						var data = gForm.serializeObject();
						data.namespace = gSelectedNamespace == G_NAMESPACE_ALL ? G_GLOBAL : gSelectedNamespace;
						data.backup_time = moment(gForm.find('#backup_time').getData().date.replace(/(AM|PM)/,''),'HH : mm').format('HH:mm');
						
						$a.ajax({
							url : url,
							method:method,
							data : data,
							success : function(res) {
								if(res.result && res.result.code=='0'){
									gCommon.alert(res.result.message);
									gCommon.getConfigData().done(function(re){
										gConfigData = re;
									});									
								}
							}
						});
					});
				}
			}
		});
	</script>
</th:block>
</html>