<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title>테스트 페이지</title>
</th:block>
<th:block layout:fragment="page_css">
</th:block>
<th:block layout:fragment="page_js">
	<script type="text/javascript" src="/script/app/common/cloudzdb-validator.js"></script>
	<script type="text/javascript" src="/script/libs/etc/download.min.js"></script>
</th:block>
<th:block layout:fragment="content">
	<!-- Location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide">
			</ul>
		</div>
	</div>
	<!-- Contents -->
	<div class="contents-box">
		<!-- rule info area-->
		<div id="tabRules">
			<div class="top-area">
				<h2 class="title">프로세스</h2>
			</div>
			<div class="grid-line__wrap">
				<div id="gridProcess"></div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	$.alopex.page(function() {
		this.init = function(id, param) {
			let gParam = {namespace:'zdb-test',serviceType:'mariadb',serviceName:'zdb-test-accc'}; 
			let gService = {podName:'zdb-test-change-port-mariadb-master-0'};
			let gridProcess = $('#gridProcess').alopexGrid({
				message: { nodata: gMessage.gridNodata },
				autoColumnIndex : true,
				columnMapping : [
						{ key : 'Id', title : 'Id', width : '50px', align : 'center', sorting : 'number'},
						{ key : 'User', title : 'User', width : '80px', align : 'left' },
						{ key : 'Host', title : 'Host', width : '80px', align : 'center' },
						{ key : 'db', title : 'db', width : '100px', align : 'center' },
						{ key : 'Command', title : 'Command', width : '100px', align : 'center' },
						{ key : 'Time', title : 'Time', width : '100px', align : 'center'},
						{ key : 'State', title : 'State', width : '100px', align : 'center'},
						{ key : 'Info', title : 'Info', width : '250px', align : 'left'},
						{ key : 'Id', title : 'Kill', width : '80px', align : 'center',render:function(value,data){
							return re = $('<button class="Button sm">Kill</button>').on('click',function(){
								gCommon.credentialConfirm({
							        data:{credential:$("#credential").val(),msg:'프로세스를 종료하시려면',okBtnMsg:'종료'},
							        callback : function(res){
										$a.ajax({
											url: '/zdbapi/killProcess',
											data:gParam,
											success: function(res){
												if(res.result.code == '0'){
													getProcesses();
												}
											}
										})
							        }
							    });
							});
						}}
						],
				});
			getProcesses();
			function getProcesses(){
				$a.ajax({
					url:'/zdbapi/getProcesses',
					data:$.extend({},gParam,{podName:gService.podName}),
					success:function(res){
						console.log (11)
						let list = res.processes;
						console.log(list)
						gridProcess.alopexGrid('dataSet',list);
					}
				});
			}
			};
		});	

	</script>
</th:block>
</html>