<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title>환경설정</title>
</th:block>
<th:block layout:fragment="page_css">
</th:block>
<th:block layout:fragment="page_js">
	<script type="text/javascript" src="/script/app/common/cloudzdb-validator.js"></script>
</th:block>
<th:block layout:fragment="content">
	<!-- Location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide">
			</ul>
		</div>
	</div>
	<!-- Contents -->
	<div class="contents-box">
		<!-- Top Area -->
		<div class="top-area">
			<h2 class="title">기본값 설정</h2>
			<div class="tag-wrap">
				<span class="tag">DB Instance 생성 시 적용할 기본값을 설정합니다.</span>
			</div>
		</div>
		<!-- Detail Area -->
		<form name="configForm" method="post">
			<div>
				<ul>
					<li>
						<div class="accor-contents__wrap">
							<table class="Table Form-type" style="border-top-width: 0px; border-bottom-width: 0px;">
								<colgroup>
									<col style="width: 200px;">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<th><b>공통</b></th>
									</tr>
									<tr>
										<th>Resource 가용량 체크</th>
										<td>
											<div class="onoff-wrap">
												<button class="Button btn-on" data-target="free_resource_check">ON</button>
											</div>
											<div class="hide">
												<select name="free_resource_check"> 
													<option value="true">Y</option> 
													<option value="false">N</option> 
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<th>Public Network 사용</th>
										<td>
											<div class="onoff-wrap" >
												<button class="Button btn-on" data-target="public_network_enabled">ON</button>
											</div>
											<div class="hide">
												<select name="public_network_enabled"> 
													<option value="true">Y</option> 
													<option value="false">N</option> 
												</select>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<table class="Table Form-type" style="border-top-width: 0px;">
								<colgroup>
									<col style="width: 200px;">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<th><b>MariaDB</b></th>
									</tr>
									<tr>
										<th>Backup 보관 기간</th>
										<td>
											<div class="info-list" style="margin-right: 0px;">
												<div class="Spinner NumberSpinner" data-min="0" data-max="60" data-step="1" data-target="backup_duration">
													<input name="backup_duration" value="1" style="width: 80px;"> 
													<a class="Up"></a> <a class="Down"></a>
												</div>
											</div> 
											<span class="info-list">일</span>
										</td>
									</tr>
									<tr>
										<th>Backup 시간</th>
										<td>
											<div class="info-list">
												<div class="Spinner Time" data-locale="en" id="backup_time" data-hours="24H" data-bind="time:date">
													<input data-hour> <span data-seperator>:</span> 
													<input data-minute> <input data-ampm> <a class="Up"></a> <a class="Down"></a>
												</div>
											</div>
										</td>
									</tr>
									<tr><!-- dwtemp todo -->
										<th>Auto Failover</th>
										<td>
											<div class="onoff-wrap">
												<button class="Button btn-on" data-target="auto_failover_enabled">ON</button>
											</div>
											<div class="hide">
												<select name="auto_failover_enabled"> 
													<option value="true">Y</option> 
													<option value="false">N</option> 
												</select>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
				</ul>
			</div>
		</form>
		<!-- button wrap-->
		<div class="btn-wrap">
			<div class="btn-right">
				<button class="Button btn lg bg-red" id="btnSave">저장</button>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var gNamespaces = null; // 네임스페이스 콤보
		var gForm = $('form[name=configForm]');
		var gIsUpdate = true;
		var gConfigData = null;
		$a.page(function() {
			this.init = function() {
				gNamespaces = gCommon.getNamespaceCombo($('#namespaces'),{incAdminAll:true})
						.addHandler(function(e) {
							gCommon.setSelectedNamespace(e.currentTarget.id);
							fn_getZDBConfig();
						}).select({
							id : gSelectedNamespace
						});
				if(gNamespaces.text()==''){
					gNamespaces.select(0);
				};	
				
				gForm.find('div.onoff-wrap > button').click(function(e){	
					fn_setOnOff($(this).data('target'),''+$(this).hasClass('btn-off'));
				});
				$('#btnSave').on('click',function(){
					fn_saveConfigData();
				});
				function fn_getZDBConfig() {
					gConfigData = gCommon.getConfigData();
					gForm.zdbui_setContents(gConfigData);
					fn_setOnOff('free_resource_check',gConfigData['free_resource_check']);
					fn_setOnOff('public_network_enabled',gConfigData['public_network_enabled']);
					fn_setOnOff('auto_failover_enabled',gConfigData['auto_failover_enabled']);
					gForm.find('div#backup_time').setData({date :gConfigData['backup_time']});
				}
				function fn_setOnOff(name,bOn){
					gForm.find('select[name='+name+']').zdbui_setComponent(bOn);	
					if(bOn == 'true'){
						gForm.find('button[data-target='+name+']').removeClass('btn-off').addClass('btn-on').text('ON');
					}else{
						gForm.find('button[data-target='+name+']').removeClass('btn-on').addClass('btn-off').text('OFF');
					}
					
				}
				
				function fn_saveConfigData(){
					gCommon.confirm('저장 하시겠습니까?',function(res){
						if(gConfigData.isExists){
							url = '/zdbapi/updateZDBConfigs';
						}else{
							url = '/zdbapi/createZDBConfig';
						}
						var method = gConfigData.isExists ? 'PUT' : 'POST';
						var data = gForm.serializeObject();
						data.namespace = gSelectedNamespace == G_NAMESPACE_ALL ? G_GLOBAL : gSelectedNamespace;
						data.backup_time = moment(gForm.find('#backup_time').getData().date.replace(/(AM|PM)/,''),'HH : mm').format('HH:mm');
						
						$a.ajax({
							url : url,
							method:method,
							data : data,
							success : function(res) {
								if(res.result && res.result.code=='0'){
									gCommon.alert(res.result.message);
									gConfigData = gCommon.getConfigData();
								}
							}
						});
					});
				}
			}
		});
	</script>
</th:block>
</html>