<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title></title>
</th:block>
<th:block layout:fragment="content">
	<!-- location -->
	<div class="locations-area">
		<div class="prj-list"></div>
	</div>
	<div class="contents-box">
		<h2 class="title">Node 목록</h2>
		<div class="grid-line__wrap mt10">
			<div id="gridNode"></div>
		</div>
		<h2 class="title mt10">Namespace 목록</h2>
		<div class="grid-line__wrap mt10">
			<div id="gridNamespace"></div>
		</div>	
	</div>

	<script type="text/javascript">
	let gNamespaces;
	let sWorkerPool = []; /* workerPool 항목의 editable select box  화를 위한 변수 선언 */
    $.alopex.page(function() {
        this.init = function(id, param) {
        	gCommon.getNamespaceCombo($('#namespaces')).done(function(selector){
            	getNodeList();
            	getNamespaceList();
        	});
        	 getWorkerpools();
			/* test data setting -> function 화 예정 */
/* 			sWorkerPool.push({'text':'dev','value':'dev'});
			sWorkerPool.push({'text':'prod','value':'prod'}); */
        	
			
        	function getProgressbarType(value){
                let type = '';
                if(Number(value) > 90) {
                    type = 'name-typee';
                } else if (Number(value) > 30) {
                    type = 'name-typec';
                } else {
                    type = 'name-typea';
                }

                return type;        		
        	}
        	let renderBar = {
       	        cpu_request_bar: {
       	            renderer : function(value, data, render, mapping) {
       	                var type = getProgressbarType(data.cpuRequestsPercentage);
       	                
       	                var html = '';
       	                html += '<div class="Float-left Margin-top-10">';
       	                html += '   <div class="name-pro__wrap">';
       	                html += '       <div class="Progressbar ' + type + '" data-default="' + (data.cpuRequestsPercentage||0) + '"></div>';
       	                html += '   </div>';
       	                html += '</div>';
       	                
       	                return html;
       	            },
       	            postRender: function(cell, value, data, render, mapping, grid){
       	                $a.convert($(cell));
       	            }
       	        },
       	        cpu_limits_bar: {
       	            renderer : function(value, data, render, mapping) {
       	                var type = getProgressbarType(data.cpuLimitsPercentage);
       	                
       	                var html = '';
       	                html += '<div class="Float-left Margin-top-10">';
       	                html += '   <div class="name-pro__wrap">';
       	                html += '       <div class="Progressbar ' + type + '" data-default="' + (data.cpuLimitsPercentage||0) + '"></div>';
       	                html += '   </div>';
       	                html += '</div>';
       	                
       	                return html;
       	            },
       	            postRender: function(cell, value, data, render, mapping, grid){
       	                $a.convert($(cell));
       	            }
       	        },
       	        memory_request_bar: {
       	            renderer : function(value, data, render, mapping) {
       	                var type = getProgressbarType(data.memoryRequestsPercentage);
       	                
       	                var html = '';
       	                html += '<div class="Float-left Margin-top-10">';
       	                html += '   <div class="name-pro__wrap">';
       	                html += '       <div class="Progressbar ' + type + '" data-default="' + (data.memoryRequestsPercentage||0) + '"></div>';
       	                html += '   </div>';
       	                html += '</div>';
       	                
       	                return html;
       	            },
       	            postRender: function(cell, value, data, render, mapping, grid){
       	                $a.convert($(cell));
       	            }
       	        },
       	        memory_limit_bar: {
       	            renderer : function(value, data, render, mapping) {
       	                var type = getProgressbarType(data.memoryLimitsPercentage);
       	                
       	                var html = '';
       	                html += '<div class="Float-left Margin-top-10">';
       	                html += '   <div class="name-pro__wrap">';
       	                html += '       <div class="Progressbar ' + type + '" data-default="' + (data.memoryLimitsPercentage||0) + '"></div>';
       	                html += '   </div>';
       	                html += '</div>';
       	                
       	                return html;
       	            },
       	            postRender: function(cell, value, data, render, mapping, grid){
       	                $a.convert($(cell));
       	            }
       	        }
       	    };
        	let gridNode = $('#gridNode').alopexGrid({
        	    renderMapping : renderBar,
        	    height:300,
        	    defaultSorting:{
        	        sortingColumn: 'creationTime',
        	        sortingDirection: 'desc'
        	    },
        	    defaultColumnMapping : { sorting: true, resizing : true },
        	    message: { nodata: 'Nodes 데이터가 없습니다.' },
        	    autoColumnIndex: true,
        	    cellInlineEdit : true,        	    
        	    cellSelectable : true,        	    
        	    enableDefaultContextMenu: false,
        	    columnMapping: [
        	        { key: 'status', title: 'Status', width: '90px', align: 'center' },
        	        { key: 'nodeName', title: 'Node', width: '100px', align: 'center' },
        	        { key: 'nodeType', title: 'Type', width: '100px', align: 'center',render:function(value){
        	        	if(value){
        	        		return value.substr(0,value.lastIndexOf('.'));
        	        	}	
        	        }},
        	        //{ key: 'nodeRoles', title: 'Roles', width: '100px', align: 'center', render: function(value){ return value || '-'; } },
        	        /* workerPool cloumn  형식을 editable select box 로 변경  (2019-07-31) */
        	        { key: 'workerPool', title: 'WorkerPool', width: '100px', align: 'center' ,render:function(value,data){return value;},
        	        	editable :{type:'select', rule:function(value,data){return sWorkerPool; }}},
        	        { key: 'cpu', title: 'Cpu', width: '70px', align: 'center' },
        	        { key: 'memory', title: 'Memory', width: '80px', align: 'center' },
        	        { key: 'cpuRequests', title: ' ', width: '40px', align: 'right' },
        	        { key: 'cpuRequestsPercentage', title: 'CPU Requests', width: '100px', align: 'center', sorting: false, render: { type: 'cpu_request_bar' } },
        	        { key: 'cpuLimits', title: ' ', width: '40px', align: 'right' },
        	        { key: 'cpuLimitsPercentage', title: 'CPU Limits', width: '100px', align: 'center', sorting: false, render: { type: 'cpu_limits_bar' } },
        	        { key: 'memoryRequests', title: ' ', width: '50px', align: 'right' },
        	        { key: 'memoryRequestsPercentage', title: 'Memory Requests', width: '100px', align: 'center', sorting: false, render: { type: 'memory_request_bar' } },
        	        { key: 'memoryLimits', title: ' ', width: '50px', align: 'right' },
        	        { key: 'memoryLimitsPercentage', title: 'Memory Limits', width: '100px', align: 'center', sorting: false, render: { type: 'memory_limit_bar' } }
        	        /* { key: 'creationTime', title: '생성일시', width: '160px', align: 'center',render:function(value,date){
        	        	if(value){
							return moment(cloudUtil.parseInt(value)).format('YYYY-MM-DD HH:mm:ss');
        	        	} 
        	        }}*/
        	    ],
        	}).on( 'cellValueEditing' , function(e) {
	        		let evObj = AlopexGrid.parseEvent(e);
	        		let value = evObj.prevValue;
	        		
	        		let data = evObj.data;
	        		let mapping = evObj.mapping;
	        		
	        		if(data._state.editing !== false && mapping.key === "workerPool") {
	        			gCommon.adminPwConfirm({
					        data:{password:'4567'},
					        callback : function(res){
								console.log(res);
								var param = {node:data.nodeName,workerpool:evObj.value};
								console.log(param);
								$a.ajax({
									url: '/zdbapi/putWorkerPoolNode',
									method:'PUT',
									data:param,
									success: function(res){
										console.log(res);
										gCommon.alert("설정이 변경되었습니다.");
										getNodeList();
									}
								})
					        }
					    });
	        			
						setTimeout(function(){
							evObj.$grid.alopexGrid('cellEdit', value, {_index: {id: data._index.id}}, 'workerPool');
						},100)
	        		}
        	});
        	let gridNamespace = $('#gridNamespace').alopexGrid({
        		renderMapping : renderBar,
        		height:300,
                defaultColumnMapping : { sorting:true, resizing : true },
                message: { nodata: 'Namespace 데이터가 없습니다.' },
        	    autoColumnIndex: true,
        		columnMapping : [
        			{ align : 'center', key : 'name', title : 'Namespace', width : '100px'}, 
        	        { key: 'usedCpuRequests', title: ' ', width: '110px', align: 'right',excludeFitWidth:true ,render:function(value,data){
        	        	return value + "/" + data.hardCpuRequests;
        	        }},
        	        { key: 'cpuRequestsPercentage', title: 'CPU Requests', width: '130px', align: 'center', sorting: false, render: { type: 'cpu_request_bar' },excludeFitWidth:true },
        	        { key: 'usedCpuLimits', title: ' ', width: '110px', align: 'right',excludeFitWidth:true ,render:function(value,data){
        	        	return value + "/" + data.hardCpuLimits;
        	        }},
        	        { key: 'cpuLimitsPercentage', title: 'CPU Limits', width: '130px', align: 'center', sorting: false, render: { type: 'cpu_limits_bar' },excludeFitWidth:true },
        	        { key: 'usedMemoryRequests', title: ' ', width: '110px', align: 'right',excludeFitWidth:true ,render:function(value,data){
        	        	return value + "/" + data.hardMemoryRequests;
        	        }},
        	        { key: 'memoryRequestsPercentage', title: 'Memory Requests', width: '130px', align: 'center', sorting: false, render: { type: 'memory_request_bar' },excludeFitWidth:true },
        	        { key: 'usedMemoryLimits', title: ' ', width: '110px', align: 'right',excludeFitWidth:true ,render:function(value,data){
        	        	return value + "/" + data.hardMemoryLimits;
        	        }},
        	        { key: 'memoryLimitsPercentage', title: 'Memory Limits', width: '130px', align: 'center', sorting: false, render: { type: 'memory_limit_bar' },excludeFitWidth:true },
        			{ align : 'center', key : 'userCount', title : '사용자', width : '50px' }, 
        			{ align : 'center', key : 'status', title : '상태', width : '50px' }, 
        			{ align : 'center', key : 'creationDate', title : '생성일시', width : '100px',
        				render : function(value, data, render, mapping){
        					if(value){
    							return moment(cloudUtil.parseInt(value)).format('YYYY-MM-DD HH:mm:ss');
            	        	}
        				}
        			}
        		]
        	});
        	function getNodeList(){
        		$a.ajax({
        			url:'/zdbapi/nodesInfo',
        			success:function(res){
        				let list = res.nodeList;
        				gridNode.alopexGrid('dataSet',list);
        	        	gridNode.alopexGrid('setFilter', 'roleFilter', function(data){
        					return data.nodeRoles == 'zdb';
        				});
        			}
        		});
        	}
        	function getNamespaceList(){
				$a.ajax({
					url: '/zdbapi/getNamespaceResourceAll',
					success:function(res){
						let list = res.namespaceResource;
						gridNamespace.alopexGrid('dataSet',list)
						gridNamespace.alopexGrid('setFilter', 'namespaceFilter', function(data){
        					return gCommon.findObjectByKeyOb(gNamespaceList,{id:data.name}) != null; 
        				});
					}
				});
        	}
        	
        	function getWorkerpools(){
            	$a.ajax({
    				url: '/zdbapi/workerpools',
    				async: false,
    				success:function(res){
    					let list = res.result.result.workerPools;

    					if(list && list.length > 0){
    						for(o in list){
    							let t = list[o]
    							sWorkerPool.push({'text':t,'value':t});
    						}
    					}
    				}
    			});
        	}
        	
/*         	
        	gCommon.confirm('Migration 작업수행을 하시 겠습니까?',function(){

			}); */
        }
    });
</script>
</th:block>
</html>