			<div class="top-area">
                   <h2 class="title">공지사항</h2>
                   <div class="tag-wrap">
                   	<span class="tag">Cloud Z DB 관리자가 작성한 공지사항 안내입니다.</span>
                   </div>
			</div>
			<!-- accordion wrap-->
			<ul class="Accordion db-accordion">
				<li>
					<a>목록</a>
		            <div class="accor-contents__wrap">
		            	<!-- grid -->
		                <div id="gr"></div>
		            </div>
				</li>
			</ul>
<script type="text/javascript">
function fn_namespaceChangeCallback(){
	console.log(22)
}
</script>