<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title>백업 스케줄링 목록</title>
</th:block>
<th:block layout:fragment="page_js">
	<script src="/script/app/common/cloudzdb-ui-z0200.js"></script>
</th:block>
<th:block layout:fragment="content">
	<!-- location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide">
			</ul>
		</div>
	</div>
	<div class="contents-box">
		<div class="top-area">
           <h2 class="title">백업 스케줄링 목록</h2>
		</div>
		<div class="accor-contents__wrap">
			<!-- tab contents info detail-->
			<!-- grid -->
			<div id="gridSchedule"></div>
		</div>
	</div>
	<script type="text/javascript">
		var gNamespaces = null; // 네임스페이스 콤보
		$a.page(function() {
			this.init = function() {
				gNamespaces = gCommon.getNamespaceCombo($('#namespaces'))
						.addHandler(function(e) {
							gCommon.setSelectedNamespace(e.currentTarget.id);
							fn_getScheduleInfoList();
						}).select({
							id:gSelectedNamespace
						});
				$('.Accordion').expandAll();
				
				$('#gridSchedule').alopexGrid({
					autoColumnIndex: true,
					height: 635,
					columnMapping : [  
						{ title:'서비스이름', key : 'serviceName' , width: '180px', align: 'left',render:function(value,data){
							var re = $('<a class="grid" style="a.inherited:no"/>').html(value).on('click',function(){
								fn_setSelected2010Tab('tabBackup');
								gCommon.movePage('/zdb02/zdb0210',{namespace:data.namespace,serviceType:data.serviceType,serviceName:data.serviceName});
							});
							return re;
							
						}},
						{ title:'서비스타입', key : 'serviceType' , width: '100px', align: 'center'},
						{ title:'백업설정', key : 'useYn' , width: '70px', align: 'center',render:function(value){
							let v = value == 'Y'? 'on':'off'; 
							let re = $('<div class="onoff-wrap"><button class="Button btn-'+v+'">'+v.toUpperCase()+'</button></div>');
							return re;
						}},
						{ title:'보관기간', key : 'storePeriod' , width: '70px', align: 'center'},
						{ title:'전체백업시간', key : 'startTime' , width: '70px', align: 'center'},
						{ title:'증분백업주기', key : 'incrementPeriod' , width: '70px', align: 'center'},
						{ title:'백업용량(MB)', key : 'fullFileSize' , width: '70px', align: 'center'},
						{ title:'소요시간', key : 'fullExecutionTime' , width: '70px', align: 'center', render:function(value){
							return cloudUtil.parseInt(value)== 0 ?'-':value;
						}},
						{ title:'백업용량(MB)', key : 'incrFileSize' , width: '70px', align: 'center'},
						{ title:'소요시간', key : 'incrExecutionTime' , width: '70px', align: 'center', render:function(value){
							return cloudUtil.parseInt(value)== 0 ?'-':value;
						}},
					],
					message: {
						nodata: gMessage.gridNodata
					},
					defaultSorting:{
						sortingColumn: "serviceName",
						sortingDirection: 'asc'
					},headerGroup: [
						{fromIndex:6, toIndex:7, title:"전체백업"},
						{fromIndex:8, toIndex:9, title:"증분백업"}
					],
				});			
				
				function fn_getScheduleInfoList(){
					var param = $('form[name=eventForm]').serializeObject();

					$a.ajax({
						url: '/zdbapi/getScheduleInfoList',
						data:{namespace:gSelectedNamespace},
						success: function(res){
							var list = res.scheduleInfoList;
							$('#gridSchedule').alopexGrid('dataSet',list);

							var showCol = gSelectedNamespace == G_NAMESPACE_ALL ?'showCol':'hideCol';
							$("#gridSchedule").alopexGrid(showCol, 'namespace');
						}
					});				
				};			
				$('#searchEvent').on('click',function(){
					fn_getScheduleInfoList();
				});
			}
		});
	</script>
</th:block>
</html>