<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title th:text="#{label.zdb0110.title.header}"></title>
	<style type="text/css">
		table.WarpTable{
			border-top: 1px solid #cccccc;
			border-bottom: 1px solid #cccccc;
		}
	</style>
</th:block>
<th:block layout:fragment="content">
	<!-- location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button class="Dropdownbutton namespace" id="namespaces"></button>
			<ul class="dropmenu-list hide">
			</ul>
		</div>
	</div>
	<div class="contents-box">
		<!-- service top area-->
		<div class="top-area">
			<h2 th:text="#{label.zdb0110.title.top}" class="title"></h2>
			<div class="tag-wrap">
				<span th:text="#{label.zdb0110.tag.top}"  class="tag"></span>
			</div>
		</div>
		<!-- make servuce step -->
		<div class="make-service">
			<a href="#" th:text="#{label.zdb0110.top.new.service}" class="new-service"></a>
			<ul class="service-step">
				<li>
					<span class="makestep-num">01</span>
					<p th:text="#{label.zdb0110.top.service.type}" class="step-txt"></p>
				</li>
				<li>
					<span class="makestep-num">02</span>
					<p th:text="#{label.zdb0110.top.service.setting}" class="step-txt"></p>
				</li>
				<li>
					<span class="makestep-num active">03</span>
					<p th:text="#{label.zdb0110.top.confirm}" class="step-txt"></p>
				</li>
			</ul>
		</div>	
		<p th:text="#{label.zdb0110.msg.label}"  class="info-text__typeb"></p>
		<ul id="serviceTable">
			<li>
				<h3 th:text="#{label.zdb0110.table.title}" class="form-title double-line"></h3>
				<div class="accor-contents__wrap">
					<table class="Form-type">
						<colgroup>
							<col style="width: 100%;">
							<col style="width:*">
						</colgroup>
						<tbody>
							<tr>
								<td>
									<table class="Table Form-type">
									<colgroup>
										<col style="width: 200px;">
										<col style="width: *;">
									</colgroup>
									<tbody>
										<tr>
											<th th:text="#{label.zdb0110.table.type}" ></th>
											<td> 
												<span th:if="${#request.getParameter('serviceType')} == 'mariadb'" th:text="MariaDB"></span>
												<span th:if="${#request.getParameter('serviceType')} == 'redis'" th:text="Redis"></span>
											</td>
										</tr>
										<tr>
											<th th:text="#{label.zdb0110.table.service.name}" ></th>
											<td data="serviceName"></td>
										</tr>
										<tr th:if="${#request.getParameter('serviceType')=='mariadb'}">
											<th th:text="#{label.zdb0110.table.db.name}" ></th>
											<td data="dbName"></td>
										</tr>
										<tr>
											<th th:text="#{label.zdb0110.table.version}" ></th>
											<td data="version"></td>
										</tr>
										<tr th:if="${#request.getParameter('serviceType')=='mariadb'}">
											<th th:text="#{label.zdb0110.table.character.set}"></th>
											<td data="characterSet"></td>
										</tr>							
										<tr th:if="${#request.getParameter('serviceType')} == 'redis'">
											<th th:text="#{label.zdb0110.table.purpose}"></th>
											<td data="purpose"></td>
										</tr>
										<tr >
											<th th:text="#{label.zdb0110.table.backup.on.off}" ></th>
											<td data="backupEnabledStr"></td>
										</tr>
										<tr th:if="${#request.getParameter('exposeType')} == 'private'">
											<th th:text="#{label.zdb0110.table.expose.on.off}" ></th>
											<td data="exposeTypeStr"></td>
										</tr>
										<tr th:if="${#request.getParameter('exposeType')} == 'public'">
											<th th:text="#{label.zdb0110.table.expose.on.off}" ></th>
											<td ><span>Private / </span><span data="exposeTypeStr"></span></td>
										</tr>
										<tr>
											<th th:text="#{label.zdb0110.table.cluster.on.off}"></th>
											<td data="clusterEnabledStr"></td>
										</tr>
										
										<tr th:if="${#request.getParameter('serviceType')=='mariadb'}">
											<th th:text="#{label.zdb0110.table.worker.pools}" ></th>
											<td data="workerPool"></td>
										</tr>
										<tr>
											<th th:text="#{label.zdb0110.table.allocation.memory}" ></th>
											<td data="specMemory"></td>
										</tr>
										<tr th:if="${#request.getParameter('serviceType')=='mariadb'}">
											<th th:text="#{label.zdb0110.table.storage.type}"></th>
											<td><span>BlockStorage(<span data="kindOfStorage"></span>)</span></td>
										</tr>
										<tr th:if="${#request.getParameter('serviceType')=='mariadb' || #request.getParameter('purpose') == 'DATA'}">
											<th th:text="#{label.zdb0110.table.allocation.disk}" ></th>
											<td data="specDisk"></td>
										</tr>
										<tr th:if="${#request.getParameter('serviceType')=='mariadb'}">
											<th th:text="#{label.zdb0110.table.storage.class}"></th>
											<td><span data="storageIops"></span><span> IOPS/GB</span></td>
										</tr>
									</tbody>
								</table>
								</td>
								<td style="vertical-align: top;">
									<!-- 
									<img src="/styles/images/ab.png" width="400px" height="300px;"/>
									 -->
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
			<li class="hide  dataInfo">
				<h3 th:text="#{label.zdb0110.msg.span.dot.title}" class="form-title double-line"></h3>
				<div class="accor-contents__wrap">
					<ul class="dot">
						<li>
							<span th:text="#{label.zdb0110.msg.span.dot.first.prev}" class="ft15"></span>
							<span th:text="#{label.zdb0110.msg.span.dot.first.middle}"class="warn-text ft15"></span>
							<span th:text="#{label.zdb0110.msg.span.dot.first.end}" class="ft15"></span>
						</li>
						<li>
							<span th:text="#{label.zdb0110.msg.span.dot.second.prev}" class="ft15"></span> 
							<span class="diskSize warn-text ft15" data="specDisk"></span>
							<span th:text="#{label.zdb0110.msg.span.dot.second.next}" class="ft15"></span>
							<span th:text="#{label.zdb0110.msg.span.dot.second.dollar}" class="warn-text ft15"></span>
							<span class="warn-text ft15" data="priceDisk"></span>
							<span th:text="#{label.zdb0110.msg.span.dot.second.month}" class="warn-text ft15"></span>
							<span class="warn-text">(</span>
							<span class="warn-text ft15" data="specDisk"></span>
							<span th:text="#{label.zdb0110.msg.span.dot.second.emphasis}"  class="warn-text ft15"></span>
							<span th:text="#{label.zdb0110.msg.span.dot.second.end}" class="ft15"></span> 
						</li>
						<li>
							<span th:text="#{label.zdb0110.msg.span.dot.third.prev}" class="ft15"></span>
						</li>
					</ul>
				</div>
			</li>			
		</ul>
		<!-- button wrap-->
		<div class="btn-wrap">
			<div class="btn-left">
				<button th:text="#{label.common.button.prev}" class="Button btn lg" id="btnPrev"></button>
			</div>
			<div class="btn-right">
				<button th:text="#{label.zdb0110.button.create}" class="Button btn lg bg-red" id="btnCreate"></button>
			</div>
		</div>
	</div>
<script type="text/javascript">
var gNamespaces = null;     // 네임스페이스 콤보
$a.page(function() {
	this.init = function() {
		gCommon.getNamespaceCombo($('#namespaces'),{incAll:false}).done(function(selector){
			gNamespaces = selector.select({id:gSelectedNamespace})
								 .addHandler(function(e){
									  gCommon.setSelectedNamespace(e.currentTarget.id);
								  }).prop('disabled',true);
			if(!gNamespaces.getText()){
				gCommon.alert('[[#{label.common.msg.validator.valid.page}]]');
			};
		});
		var sliderConstants = gSliderConstants[gParam.serviceType];
		var isCluster = gParam.clusterEnabled == 'true';
		
		var data;
		if (gParam.serviceType == cServiceType.mariadb) {
			data = $.extend({},gParam,{
				specMemory:sliderConstants.memory.getValue(gParam.podSpecIdx,isCluster),
				memory:sliderConstants.memory.value[gParam.podSpecIdx],
				specCpu:sliderConstants.cpu.getValue(gParam.podSpecIdx,isCluster),
				cpu:sliderConstants.cpu.value[gParam.podSpecIdx],
				serviceName:gParam.serviceName,
				exposeTypeStr: gParam.exposeType.charAt(0).toUpperCase() + gParam.exposeType.slice(1) + '',
				backupEnabledStr:(gParam.backupEnabled=='true'?'[[#{label.common.select.use}]]':'[[#{label.common.select.unused}]]'),
				clusterEnabledStr:(gParam.clusterEnabled=='true'?'[[#{label.common.select.use}]]':'[[#{label.common.select.unused}]]'),
				storageIops:gParam.storageIops,
				kindOfStorage:gParam.kindOfStorage,
				storageClass:gParam.storageClass
			});
		} else if (gParam.serviceType == cServiceType.redis) {
			data = $.extend({},gParam,{
				specMemory:sliderConstants.memory.value[gParam.podSpecIdx],
				memory:sliderConstants.memory.value[gParam.podSpecIdx],
				specCpu:sliderConstants.cpu.getValue(gParam.podSpecIdx,isCluster),
				cpu:sliderConstants.cpu.value[gParam.podSpecIdx],
				serviceName:gParam.serviceName,
				exposeTypeStr: gParam.exposeType.charAt(0).toUpperCase() + gParam.exposeType.slice(1) + '',
				backupEnabledStr:(gParam.backupEnabled=='true'?'[[#{label.common.select.use}]]':'[[#{label.common.select.unused}]]'),
				clusterEnabledStr:(gParam.clusterEnabled=='true'?'[[#{label.common.select.use}]]':'[[#{label.common.select.unused}]]'),
				storageClass:(cStorageClassConstants[gParam.storageClass])
			});
		}
		
		if(gParam.serviceType == cServiceType.mariadb){
			data.disk = gParam.diskSize
			data.specDisk = gParam.diskSize + 'Gi'
		}else if(gParam.serviceType == cServiceType.redis && gParam.purpose == 'DATA'){
			data.disk = data.memory <= 6000 ? 20 : 40;
			data.specDisk = (data.disk) + 'Gi';
		};
		if(data.disk){
			$('.dataInfo').show();
			data.priceDisk = (data.disk * 0.00059 * 720).toFixed(2);
		};
		
		var table = $('#serviceTable');
		table.zdbui_setContents(data);
		if(table.find('td[data=storageClass]').length > 0){
			var descT = ' <span class="ft15">('+(cloudUtil.parseInt(data.specDisk) * cloudUtil.parseInt(data.storageClass)) 
				      + '</span>'
				      + '<span th:text="#{label.zdb0110.msg.table.storage.class}" class="ft15"></span>'
			table.find('td[data=storageClass]').append(descT);
		};
		
		$('#btnPrev').on('click',function(){
			gCommon.movePage('/zdb01/zdb0111',gParam);
		});
		$('#btnCreate').on('click',function(){                          
			$a.ajax({
				url: '/zdbapi/createDeployment',
				method:'post',
				data:data,
				success: function(res){
					var re = res.result;
					if(re.code != '0'){
						gCommon.alert(re.message);
					}else{
						gCommon.movePage('/zdb02/zdb0200');
					};
				},
				loadingMessage:'[[#{label.zdb0110.msg.loading}]]'
			});		
		});
	}
});
</script>	
</th:block>
</html>