<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
    <title th:text="#{label.zdb0110.title.header}"></title>
</th:block>
<th:block layout:fragment="content">
<!-- location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list"> </ul>
		</div>
	</div>
	<div class="contents-box">
		<!-- service top area-->
		<div class="top-area">
             <h2 th:text="#{label.zdb0110.title.top}"  class="title"></h2>
             <div class="tag-wrap">
             	<span th:text="#{label.zdb0110.tag.top}" class="tag"></span>
             </div>
		</div>
		<div class="make-service">
			<a href="#" th:text="#{label.zdb0110.top.new.service}" class="new-service"></a>
			<ul class="service-step">
				<li>
					<span class="makestep-num active">01</span>
					<p th:text="#{label.zdb0110.top.service.type}" class="step-txt"></p>
				</li>
				<li>
					<span class="makestep-num">02</span>
					<p th:text="#{label.zdb0110.top.service.setting}" class="step-txt"></p>
				</li>
				<li>
					<span class="makestep-num">03</span>
					<p th:text="#{label.zdb0110.top.confirm}" class="step-txt"></p>
				</li>
			</ul>
		</div>
		<!-- service list-->
		<div class="service-list__wrap" id="serviceDiv">
			<!--item 추가될때 마다 아래 div set 이 추가되면 됩니다. -->
			<div class="item-wrap_line serviceType link" data-service-type="redis">
				<div class="item-wrap">
					<p class="item-img"><img src="/styles/images/service-img-big-redis.png" alt="service item img"></p>
					<dl class="item">
						<dt>Redis</dt>
						<dd></dd>
					</dl>
				</div>
			</div>
			
			<div class="item-wrap_line serviceType link" data-service-type="mariadb">
				<div class="item-wrap">
					<p class="item-img"><img src="/styles/images/service-img-big-mariadb.png" alt="service item img"></p>
					<dl class="item">
						<dt>MariaDB</dt>
						<dd></dd>
					</dl>
				</div>
			</div>
			
			<select id="serviceType" name="serviceType" class="hide">
				<option value=""></option>
				<option value="redis">redis</option>
				<option value="mariadb">mariadb</option>
			</select>
		</div>
		<!-- button wrap-->
		<div class="btn-wrap__center">
        	<button th:text="#{label.common.button.cancel}" class="Button btn lg" id="btnCancel"></button>
        	<button th:text="#{label.common.button.select}" class="Button btn lg bg-red" id="btnSelect"></button>
        </div>
   </div>  
<script type="text/javascript">   
	var gNamespaces = null;     // 네임스페이스 콤보
	$a.page(function() {
		this.init = function() {
			gCommon.getNamespaceCombo($('#namespaces'),{incAll:false}).done(function(selector){
				gNamespaces = selector.select({id:gSelectedNamespace})
								 .addHandler(function(e){
									 gCommon.setSelectedNamespace(e.currentTarget.id);
								  });
								if(gNamespaces.text()==''){
									gNamespaces.select(0);
								};
			});
			$('body').on('click','div.serviceType',function(){
				$('div.serviceType').removeClass('selected');
				$(this).addClass('selected');
				var serviceType = $(this).data().serviceType;
				$('#serviceType').val(serviceType);
			});
			$('#btnCancel').on('click',function(){
				$('#serviceType').val('');
				$('div.serviceType').removeClass('selected');
			});
			$('#btnSelect').on('click',function(){
				var namespace = $('#namespaces').val(); 
				var serviceType = $('#serviceType').val();
				if(serviceType == ''){
					//gCommon.alert('서비스 타입을 선택하세요');
					gCommon.alert('[[#{label.zdb0110.msg.select.service.type}]]');
					return;
				}else if(namespace == ''){
					//gCommon.alert('namespace를 선택하세요.');
					gCommon.alert('[[#{label.zdb0110.msg.select.namespace}]]');
					return;
				}
				gCommon.movePage('/zdb01/zdb0111?pageId=zdb',{
					serviceType: serviceType
				});
			});
			
			$('#serviceDiv').zdbui_setContents(gParam);
		}
	});
</script>			
</th:block>
</html>