<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/content_layout">
<th:block layout:fragment="page_head">
	<title>서비스 생성</title>
</th:block>
<th:block layout:fragment="page_css">
	<link rel="stylesheet" href="/styles/css/nouislider.min.css">
</th:block>
<th:block layout:fragment="page_js">
	<script type="text/javascript" src="/script/libs/etc/nouislider.min.js"></script>
	<script type="text/javascript" src="/script/app/common/cloudzdb-validator.js"></script>
</th:block>
<th:block layout:fragment="content">
	<!-- location -->
	<div class="locations-area">
		<div class="prj-list">
			<strong>Namespace : </strong>
			<button id="namespaces" class="Dropdownbutton namespace"></button>
			<ul class="dropmenu-list hide"> </ul>
		</div>
	</div>
	<div class="contents-box">
		<!-- service top area-->
		<div class="top-area">
             <h2 class="title">서비스 생성하기</h2>
             <div class="tag-wrap">
             	<span class="tag">다음의 서비스 생성단계에 따라서 설정해 주세요.</span>
             </div>
		</div>
		<!-- make servuce step -->
		<div class="make-service">
			<a href="#" class="new-service">새로 만들기</a>
			<ul class="service-step">
				<li>
					<span class="makestep-num">01</span>
					<p class="step-txt">서비스 종류 선택</p>
				</li>
				<li>
					<span class="makestep-num active">02</span>
					<p class="step-txt">서비스 설정</p>
				</li>
				<li>
					<span class="makestep-num">03</span>
					<p class="step-txt">확인</p>
				</li>
			</ul>
		</div>		
		<p class="info-text__typeb"> 필수항목을 입력하세요. 상세 설정은 서비스 생성 후 할 수 있습니다.</p>
		<!-- accordion-->
		<ul>
			<li>
				<h3 class="form-title double-line">서비스설정</h3>
				<div class="accor-contents__wrap">
					<form name="serviceForm" method="post" data-validation-option="{oninit:true}">
					<input type="hidden" name="serviceType" th:value="${#request.getParameter('serviceType')}"/>
					<input type="hidden" name="podSpecIdx" value=""/>
					<input type="hidden" name="diskSpecIdx" value=""/>
					<table class="Table Form-type">
						<colgroup>
							<col style="width: 200px;">
							<col>
						</colgroup>
						<tbody th:if="${#request.getParameter('serviceType')} == 'redis'">
							<tr>
								<th>종류</th>
								<td> <span class="info-text__typec">Redis</span></td>
							</tr>
							<tr>
								<th>서비스이름 <span class="asterisk">*</span></th>
								<td>
									<input class="Textinput" type="text" id="serviceName" name="serviceName"> 
									<span data-for="serviceName" class="info-text"></span>
								</td>
							</tr>
							<tr>
								<th>버전</th>
								<td>
									<div class="Divselect">
										<select id="version" name="version" disabled="disabled">
											<option value="4.0.7">4.0.7</option>
											<option value="4.0.8">4.0.8</option>
											<option value="4.0.9" selected="selected">4.0.9</option>
										</select>
										<span></span>
									</div>
								</td>
							</tr>
							<tr>
								<th>용도</th>
								<td>
									<input type="radio" name="purpose" value="SESSION" checked="checked">SESSION
									<input type="radio" name="purpose" value="DATA"/>DATA
								</td>
							</tr>
							<tr>
								<th>백업 여부</th>
								<td>
									<div class="onoff-wrap" id="backupOnOff"><button class="Button btn-off">OFF</button></div>
									<div class="hide">
										<input type="radio" name="backupEnabled" value="true">Y
										<input type="radio" name="backupEnabled" value="false" checked="checked"/>N
									</div>
								</td>
							</tr>
							<tr>
								<th>Public 접근 허용</th>
								<td>
									<div class="onoff-wrap" id="exposeOnOff"><button class="Button btn-on">ON</button></div>
									<div class="hide">
										<input type="radio" name="exposeType" value="public" checked="checked">public
										<input type="radio" name="exposeType" value="private"/>private
									</div>
								</td>
							</tr>
							<tr>
								<th>클러스터</th>
								<td>
									<div class="onoff-wrap" id="clusterOnOff"><button class="Button btn-on">ON</button></div>
									<div class="hide">
										<input type="radio" name="clusterEnabled" value="true" checked="checked">true
										<input type="radio" name="clusterEnabled" value="false">false
									</div>
								</td>
							</tr>							
							<tr>
								<th class="ht140">할당메모리</th>
								<td>
									<div class="info-wrap">
										<div class="info-wrap ht60">
											<div class="memory-info" id="memoryInfo"></div>
											<div class="progress-wrap">
												<div class="memory-bar" id="memorySlider"></div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
						<tbody th:if="${#request.getParameter('serviceType')} == 'mariadb'">
							<tr>
								<th>종류</th>
								<td> <span class="info-text__typec">MariaDB</span></td>
							</tr>
							<tr>
								<th>서비스이름 <span class="asterisk">*</span></th>
								<td>
									<input class="Textinput" type="text" id="serviceName" name="serviceName" valid-key="lowAlpaNumDash"> 
									<span data-for="serviceName" class="info-text"></span>
								</td>
							</tr>
							<tr>
								<th>DB명 <span class="asterisk">*</span></th>
								<td>
									<input class="Textinput" type="text" id="dbName" name="dbName">
									<span data-for="dbName" class="info-text"></span>
								</td>
							</tr>								
							<tr>
								<th>버전</th>
								<td>
									<div class="Divselect">
										<select id="version" name="version" disabled="disabled">
											<option value="10.2.14">10.2.14</option>
										</select>
										<span></span>
									</div>
								</td>
							</tr>
							<tr>
								<th>캐릭터셋</th>
								<td>
									<div class="Divselect">
										<select id="characterSet" name="characterSet">
											<option value="utf8">utf8</option>
											<option value="euckr">euckr</option>
											<option value="utf8mb4">utf8mb4</option>
											<option value="utf16">utf16</option>
										</select>
										<span></span>
									</div>
								</td>
							</tr>
							<tr>
								<th>백업 여부</th>
								<td>
									<div class="onoff-wrap" id="backupOnOff"><button class="Button btn-on">ON</button></div>
									<div class="hide">
										<input type="radio" name="backupEnabled" value="true" checked="checked">사용
										<input type="radio" name="backupEnabled" value="false"/>미사용
									</div>
								</td>
							</tr>						
							<tr>
								<th>Public 접근 허용</th>
								<td>
									<div class="onoff-wrap" id="exposeOnOff"><button class="Button btn-on">ON</button></div>
									<div class="hide">
										<input type="radio" name="exposeType" value="public" checked="checked">public
										<input type="radio" name="exposeType" value="private">private
									</div>
								</td>
							</tr>
							<tr>
								<th>클러스터</th>
								<td>
									<div class="onoff-wrap" id="clusterOnOff"><button class="Button btn-on">ON</button></div>
									<div class="hide">
										<input type="radio" name="clusterEnabled" value="true" checked="checked">true
										<input type="radio" name="clusterEnabled" value="false">false
									</div>
								</td>
							</tr>
							<tr>
								<th class="ht140">할당메모리</th>
								<td>
									<div class="info-wrap">
										<div class="info-wrap ht60">
											<div class="memory-info" id="memoryInfo"></div>
											<div class="progress-wrap">
												<div class="memory-bar" id="memorySlider"></div>
											</div>
										</div>
									</div>
								</td>
							</tr>			
							<tr>
								<th class="Valign-top ht140">할당디스크</th>
								<td>
									<div class="info-wrap">
										<div class="info-wrap ht60">
											<div class="memory-info" id="diskInfo"></div>
											<div class="progress-wrap">
												<div class="memory-bar" id="diskSlider"></div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				</div>
			</li>
		</ul>
		<!-- button wrap-->
		<div class="btn-wrap">
			<div class="btn-left">
				<button class="Button btn lg" id="btnPrev">이전</button>
			</div>
			<div class="btn-right">
				<button class="Button btn lg bg-red" id="btnNext">다음</button>
			</div>
		</div>
	</div>
	<!-- //contents -->
	
<script type="text/javascript">
var gNamespaces = null;     // 네임스페이스 콤보
$a.page(function() {
	this.init = function() {
		//네임스페이스 콤보 설정
		gNamespaces = gCommon.getNamespaceCombo($('#namespaces'),{incAll:false});
		gNamespaces.addHandler(function(e){
							  gCommon.setSelectedNamespace(e.currentTarget.id);
							  setDefaultServiceName();
						  })
						 .select({id:gSelectedNamespace}); 
		if(!gNamespaces.getText()){
			gCommon.alert(gMessage.validPage);
		};
		var form = $('form[name=serviceForm]');
		form.validator({// form에 validator 할 경우
		    elements :{ // 아래와같이 input,select의 name 값으로 각기 다른 validator 적용가능.
		        "serviceName" : {
		            rule:{required:true,checkRule:gValid.serviceName.rule},
		            message:{checkRule:gValid.serviceName.message}
		         }
		       ,"dbName" : {
		            rule:{required:true,checkRule:gValid.dbName.rule},
		            message:{checkRule:gValid.dbName.message}
		        }
		    }
		}).find('input[name=serviceName]').on('keyup',function(){
			setDefaultServiceName();
		});
		function setDefaultServiceName(){
			var ob = $('input[name=serviceName]'); 
			var defVal = gSelectedNamespace + '-';
			if(!(eval('/^'+defVal+'/').test(ob.val()))){
				ob.val(defVal);
			};
		};
		
		$('.Accordion').expandAll();
		$('#version').prop('disabled',true);//임시 - select의 disable
		
		$('#btnPrev').on('click',function(){
			gCommon.movePage('/zdb01/zdb0110',gParam);
		});
		$('#btnNext').on('click',function(){                          
			var param = $.extend({},gParam,form.serializeObject());
			param.namespace = gSelectedNamespace;
			if(!form.validate()){
				gCommon.alert(gMessage.notValidInput);
				return;
			};
			if(param.podSpecIdx == 0){
				gCommon.alert('메모리 용량을 선택하세요.');
				return;
			};
			if(gParam.serviceType == G_SERVICE_TYPE_MARIA && param.diskSpecIdx == 0){
				gCommon.alert('디스크 용량을 선택하세요.');
				return;
			};
			
			var dt = $.extend({},param,{clusterEnabled:($("input[name=clusterEnabled]:checked").val()=="true"),memory:sliderConstants.memory.value[param.podSpecIdx],cpu:sliderConstants.cpu.value[param.podSpecIdx]});
			$a.ajax({
				url: '/zdbapi/isAvailable',
				data: dt,
				success: function(res){
					var re = res.result;
					if(re.code != '0'){
						gCommon.alert(re.message);
					}else{
						gCommon.movePage('/zdb01/zdb0112',param)
					}
				}
			});
		});
		$('input[name=purpose]').on('change',function(e){
			setPurpose(this.value);
		});
		//백업사용 on off button
		$('#backupOnOff.onoff-wrap > button').click(function(e){
			if($(this).hasClass('Disabled'))return;
			e.preventDefault();
			if($(this).hasClass('btn-on')) {
				setBackupEnabled('false');
			} else {
				setBackupEnabled('true');
			}
		});
		//Public허용 on off button
		$('#exposeOnOff.onoff-wrap > button').click(function(e){
			e.preventDefault();
			if($(this).hasClass('btn-on')) {
				setExposeType('private');
			} else {
				setExposeType('public');
			}
		});
		//클러스터 on off button
		$('#clusterOnOff.onoff-wrap > button').click(function(e){
			e.preventDefault();
			if($(this).hasClass('btn-on')) {
				setClusterEnabled('false');
			} else {
				setClusterEnabled('true');
			}
		});
		
		//슬라이더 값
		var sliderConstants = gSliderConstants[gParam.serviceType];
		var memorySlider = document.getElementById('memorySlider');
		
		noUiSlider.create(memorySlider, {
			start:[gParam.podSpecIdx||0],
			snap: true,
			connect: [true,false],
			range: sliderConstants.memory.range,
			pips: {
				mode: 'steps',
				density: 100,					
				format: {
				  to: function ( value ) {
					return sliderConstants.memory.getValue(value);
				  },
				  from: function ( value ) {
					return value;
				  }
				}
			}
		}).on('slide', function ( values, handle ) {
			setSliderValue(parseInt(values[handle]));
		});
		
		memorySlider.noUiSlider.set(gParam.podSpecIdx||1)
		setSliderValue(gParam.podSpecIdx||1);
		form.zdbui_setContents(gParam);
		setExposeType(gParam.exposeType);
		setBackupEnabled(gParam.backupEnabled);
		setClusterEnabled(gParam.clusterEnabled);
		if(gParam.serviceType==G_SERVICE_TYPE_REDIS){
			setPurpose(gParam.purpose||'SESSION');
		};
		setDefaultServiceName();
		function setSliderValue(idx){
			$('#memoryInfo').html(sliderConstants.memory.getValue(idx));
			$('input[name=podSpecIdx]').val(idx);
		};
		function setPurpose(value){
			$('input[name=purpose]').zdbui_setComponent(value);
			if(value=='SESSION'){
				setBackupEnabled('false');
				$('#backupOnOff.onoff-wrap > button').addClass('Disabled');
			}else{
				setBackupEnabled('true');
				$('#backupOnOff.onoff-wrap > button').removeClass('Disabled');
			};
			
		}
		function setClusterEnabled(value){
			if(value=='false'){
				$('input[name=clusterEnabled]').zdbui_setComponent('false');
				$('#clusterOnOff.onoff-wrap > button').removeClass('btn-on').addClass('btn-off').text('OFF');
			}else{
				$('input[name=clusterEnabled]').zdbui_setComponent('true');
				$('#clusterOnOff.onoff-wrap > button').removeClass('btn-off').addClass('btn-on').text('ON');
			}
		};		
		function setBackupEnabled(value){
			if(value=='false'){
				$('input[name=backupEnabled]').zdbui_setComponent('false');
				$('#backupOnOff.onoff-wrap > button').removeClass('btn-on').addClass('btn-off').text('OFF');
			}else{
				$('input[name=backupEnabled]').zdbui_setComponent('true');
				$('#backupOnOff.onoff-wrap > button').removeClass('btn-off').addClass('btn-on').text('ON');
			}
		};		
		function setExposeType(value){
			if(value=='private'){
				$('input[name=exposeType]').zdbui_setComponent('private');
				$('#exposeOnOff.onoff-wrap > button').removeClass('btn-on').addClass('btn-off').text('OFF');
			}else{
				$('input[name=exposeType]').zdbui_setComponent('public');
				$('#exposeOnOff.onoff-wrap > button').removeClass('btn-off').addClass('btn-on').text('ON');
			}
		};		
		if(gParam.serviceType == G_SERVICE_TYPE_MARIA){
			var diskSlider = document.getElementById('diskSlider');
			noUiSlider.create(diskSlider, {
				start:[gParam.diskSpecIdx||0],
				snap: true,
				connect: [true,false],
				range: sliderConstants.disk.range,
				pips: {
					mode: 'steps',
					density: 100,					
					format: {
					  to: function ( value ) {
						return sliderConstants.disk.getValue(value);
					  },
					  from: function ( value ) {
						return value;
					  }
					}
				}
			}).on('slide', function ( values, handle ) {
				setDiskSliderValue(parseInt(values[handle]));
			});
			diskSlider.noUiSlider.set(gParam.diskSpecIdx||1)
			setDiskSliderValue(gParam.diskSpecIdx||1);
			function setDiskSliderValue(idx){
				$('#diskInfo').html(sliderConstants.disk.getValue(idx));
				$('input[name=diskSpecIdx]').val(idx);
			};
		}
	}
});
</script>	
</th:block>
</html>